/*basic setting*/
body{
	font-family: "Microsoft YaHei";
  	margin: 0;
  	background: url('image/bg.png');
}
.preload a,img,div{
	transition: none !important;
	-moz-transition:none !important;
	-webkit-transition:none !important;
	-o-transition:none !important;
}
a{
	color:#444;
	text-decoration:none;
}
a:hover{
	color:#680;
	text-decoration:none;
}
p{
	color: black;
}
img{
	border: 0;
}
input{
	border: 1px solid #680;
	background: white !important;
	outline: none;
}
textarea{
	border: 1px solid #680;
	margin-top: 20px;
	outline: none;
	background: white;
}
li img{
	width: 50px;
	height: 50px;
	border-radius: 7px;
	margin-left: 7px;
	margin-right: 20px;
	float: left;
	opacity: 0.9;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}

li img:hover{
	/*opacity: 0.5;*/
	box-shadow: 0px 0px 1px 1px #777;
}

.input{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 900px;
	border-radius: 3px;
}
.inputTip{
	float: left;
	margin-left: 10px;
	margin-top: 13px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 70px;
	font-weight: 600;
	display: block;
}
#logo{
	width: 30px;
	height: 30px;
	border:0;
}

/*Navigation*/
.header{
	height: 72px;
	margin: 0 auto;
	clear: both;
	background: rgba(102,136,0,0.9);
	border-bottom: 1px solid #CCC;
	color: white;
	min-width:1253px;
}

/*navgation list*/
.header li{
	float: left;
	display: inline-block;
	list-style: none;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	height: 47px;
	margin-right: 10px;
	display: block;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.header li:hover{
	background: white;
	color: #680;
}
.header a{
	color: white;
}
.header a:hover{
	color: #680;
}

/*mark for this page*/
#thisPage{
	background:rgba(255,255,255,0.3);
	color: #680;
}
#thisPage:hover{
	background: white;
}

.navcontainer{
	height:71px;
	max-width:1253px;
	min-width: 800px;
	margin:0 auto;
}

.navigation{
	height:71px;
	max-width:1253px;
	min-width: 800px;
	margin:0 auto;
}

#navLogo{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.navLeft{
	margin-left: 50px;
	float: left;
}

#searchBox{
	float: left;
	margin-left: 10px;
}

#searchData{
	float: left;
	opacity: 0.95;
}
#searchData:hover{
	opacity: 1.0;
}

#keyWord{
	width: 200px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid white;
	margin-top: 19px;
	font-weight: 500;
	height: 16px;
	color: #777;
	opacity: 0.5;
	transition: 2s;
	-moz-transition: 2s;
	-webkit-transition: 2s;
	-o-transition: 2s;
}
#keyWord:focus{
	border: 1px solid white;
	opacity: 1;
}

#searchSubmitButton{
	width: 40px;
	background: #680;
	margin-top: 19px;
	padding:5px 0 0 5px;
	line-height: 20px;
	height: 25px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border: 1px solid white;
	opacity: 0.5;
	/*border-left: 0;*/
}
#searchSubmitButton:hover{
	background: #c1d739;
	color: white;
	opacity: 1;
}

/*default display none*/
.navrighton{
	float: right;
	display: none;
}

/*default diaplay block*/
.navrightoff{
	float: right;
}

/*user*/
#username{
	float: left;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	margin-right: 15px;
	min-width: 88px;
	z-index: 100;
}

#username:hover{
	background: white;
	color: #680;
}

#usernameHover{
	padding: 0 15px;
}

.userExpand{
	position: relative;
	margin: 0 auto;
	display: none;
	margin-top: 26px;
	background:white;
	z-index: 100;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.userExpand div{
	padding: 3px 10px;
	text-align: center;
	border-top: 2px solid rgba(102,136,0,0.9);
	color: #680;
	transition: 0.7s;
	-moz-transition: 0.7s;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
}

.userExpand div:hover{
	background: #680;
	color: white;
	box-shadow:2px 2px 3px #aaaaaa;
}

#myHomepage{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#logout:hover{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*message counter*/
#msgNum{
	position: absolute;
	background: #EF9AA0;
	color: #680;
	padding: 0 3px;
	font-size: 0.6em;
	line-height: 13px;
	border-radius: 4px;
	float: right;
	margin-top: -5px;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}

/*tremble effect*/
.tremble{
	animation: tremble 0.7s;
	-moz-animation: tremble 0.7s;
	-webkit-animation: tremble 0.7s;
	-o-animation: tremble 0.7s;
	box-shadow: 0px 0px 20px white;
}

.littleTremble{
	animation: littleTremble 0.7s;
	-moz-animation: littleTremble 0.7s;
	-webkit-animation: littleTremble 0.7s;
	-o-animation: littleTremble 0.7s;
	box-shadow: 0px 0px 20px darkred;
}

.navrightonOption{
	float: left;
}

/*Loginbox and Registerbox*/
#lrBoxWrap{
	clear: both;
	width: 100%;
	height: 0px;
	background:rgba(102,136,0,0.1);
	border-bottom: 1px solid #CCC;
	/*margin-bottom: 20px;*/
}
#lrBoxWrap .input{
	width: 300px;
}
#lrBoxWrap span{
	width: 100px;
}
.lrBox{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

/*loginBox*/
#loginBox{
	position: relative;
	width: 600px;
	margin: 0 auto;
	display: block;
	height: 200px;
	background: white;
	display: none;
}
.loginList{
	float: left;
	background: white;
	margin-left: 60px;
}
#loginBox .inputTip{
	position: relative;
}
#loginListLast{
	margin-top: 20px;
	width: 500px;
	float: left;
}
#loginSubmitButton{
	margin-top: 10px;
	margin-left: 150px;
	margin-right: 95px;
}
#loginBack{
	font-size: 0.8em;
	float: right;
	display: block;
	margin-top: 20px;
	margin-right: 65px;
}

/*registerBox*/
#registerBox{
	width: 600px;
	margin: 0 auto;
	display: block;
	height: 330px;
	background: white;
	display: none;
}
.registerList{
	float: left;
	background: white;
	margin-left: 60px;
}
#registerBox .inputTip{
	position: relative;
}
#registerListLast{
	margin-top: 30px;
	width: 500px;
	float: left;
}
#registerSubmitButton{
	margin-left: 150px;
	margin-right: 95px;
}
#registerBack{
	font-size: 0.8em;
	float: right;
	display: block;
	margin-top: 20px;
	margin-right: 65px;
}

/*submit button*/
.formButton{
	background: #680;
	color: #DDD;
	float: left;
	height: 35px;
	display: block;
	padding-top: 10px;
	padding-left: 65px;
	padding-right: 65px;
	border: 1px solid #CCC;
	border-radius: 4px;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.formButton:hover{	
	color: white;
	background: #c1d739;
}

/*my message*/
.myMessageWarp{
	width: 1062px;
	margin: 0 auto;
}
.myMessage{
	display: none;
	float: left;
	width: 1039px;
	margin-top: 20px;
	padding: 10px;
	background: white;
	/*border-radius: 7px;*/
	border:1px solid #CCC;
	box-shadow: 0 0 20px #CCC;
	margin-bottom: 20px;
}
.myMessagePart{
	text-align: center;
}
.myMessagePart a{
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}
.myMessagePart a span{
	position: relative;
	background: pink;
	color: #680;
	border-radius: 4px;
	padding:0 5px;
	bottom: 6px;
	font-size: 0.8em;
	margin-right: 20px;
}
.myMessageContent{
	margin-top: 10px;
}
.myMessagePartContent{
	display: none;
}
.siteBulletin{
	display: block;
}
.myMessagePartList{
	list-style: none;
	padding: 5px;
	padding-left: 5px;
}
.myMessagePartInline{
	width: 1020px;
	float: left;
	padding: 5px;
	border-radius: 2px;
	transition: 0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}
.myMessagePartInline:hover{
	color: white;
	background:#680;
	/*box-shadow: 0 0 10px #AAA;*/
}
.myMessageUserImage{
	width: 50px;
	height: 50px;
	border-radius: 3px;
	float: left;
	margin-left: 0;
}
.myMessageTitle,.myMessageAddress{
	float: left;
}
.myMessageUserName{
	float: right;
	margin-right: 5px;
}
.myMessageTime{
	float: right;
	margin-right: 30px;
}
.myMessagBrief{
	float: left;
	margin-top: 10px;
	width: 900px;
	color: #CCC;
	font-size: 0.8em;
}
.myMessagePartExpand{
	float: left;
	margin-top: 15px;
	display: none;
	margin-bottom: 15px;
	border-radius: 2px;
	border: 2px dashed #680;
	padding: 5px;
	font-size: 14px;
	width: 1016px;
}
#myMessageBack{
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}

/*my note*/
.myNoteWrap{
	width: 1062px;
	margin: 0 auto;
}

.myNote{
	margin-top: 20px;
	/*border-radius: 7px;*/
	width: 1039px;
	background: white;
	padding: 10px;
	height: 350px;
	float: left;
	border:1px solid #CCC;
	box-shadow: 0 0 20px #CCC;
	display: none;
	margin-bottom: 20px;
}

.myNoteListWrapOutter{
	float: left;
	width: 130px;
	overflow: hidden;
}
#addNote{
	margin-bottom: 5px;
}
.myNoteListWrap{
	padding-top: 5px;
	float: left;
	width: 145px;
	overflow: auto;
	height: 317px;
	border-top: 1px dashed #680;
}
.myNoteList{
	display: block;
	list-style-type: decimal;
	height: 18px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 4px;
}
.myNoteList:hover{
	background: #680;
	color: white;
	font-weight: 900;
	padding-left: 10px;
}
.myCurrentNoteArea{
	float: left;
	width: 897px;
	padding-left: 10px;
	border-left: 2px solid #680;
	height: 350px;
}
.myCurrentNoteHeader{
	width: 898px;
	float: left;
}
.myCurrentNoteTitle{
	float: left;
	width: 795px;
	outline: none;
	font-size: 25px;
	color: #030;
	border:0;
}
.myCurrentNoteTime{
	float: left;
	width: 100px;
	margin-top: 12px;
}
.myCurrentNoteContent{
	width: 890px;
	float: left;
	height: 280px;
	margin-top: 2px;
	resize:none;
	border: 0;
	outline: none;
}
.myCurrentNoteOption a{
	width: 45px;
	padding:3px 5px;
	height: 19px;
	margin-top: 5px;
	margin-left: 10px;
	text-align: center;
}
#myNoteBack{
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}
/*my collection*/
.myCollectionWarp{
	width: 1062px;
	margin: 0 auto;
}
.myCollection{
	float: left;
	width: 1059px;
	margin-top: 20px;
	background: white;
	/*border-radius: 7px;*/
	border:1px solid #CCC;
	box-shadow: 0 0 20px #CCC;
	display: none;
	margin-bottom: 20px;
}
.myCollectionClass{
	width: 1030px;
	margin:10px 15px;
}
.myCollectionClassButton{
	float: left;
	margin-left: 30px;
	color: #777;
	padding: 10px 20px;
	border-radius: 4px;
	margin-bottom: 10px;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.myCollectionClassButton:hover{
	color: white;
	background: #680;
}
#myCollectionFliter{
	float: right;
}
.myCollectionList{
	margin-left: 10px;
	list-style: none;
	display: block;
	width: 1030px;
	height: 55px;
	float: left;
	padding-top: 10px;
	border-top: 2px dashed #AAA;
}
.myCollectionRow{
	float: left;
	width: 953px;
}
.myCollectionAuthor{
	float: right;
}
.myCollectionAuthorImage{
	width: 45px;
	height: 45px;
	border-radius: 4px;
}
.myCollectionTitle{
	float: left;
	font-size: 20px;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.myCollectionTag{
	float: left;
	margin-top: 5px;
	/*width: 800px;*/
}
.myCollectionTag a{
	margin-right: 10px;
}
.myCollectionTime{
	float: right;
	margin-top: 5px;
}
.myCollectionPageTurning{
	float: left;
	width: 1000px;
	text-align: center;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
#myCollectionBack{
	float: right;
	margin-right: 25px;
	margin-bottom: 15px;
}
.none{
	display: none;
}

/*return to top button*/
#return_top{
	width: 73px;
	height: 73px;
	position:absolute;
	right: 20px;
	z-index: 999;
	background: url('http://localhost:8888/static/css/image/top.png') 0px 0px no-repeat;
	_position:absolute;
	transition: none;
	-moz-transition:none;
	-webkit-transition:none;
	-o-transition:none;
}
#return_top:hover{
	background: url('http://localhost:8888/static/css/image/top.png') 0px -74px no-repeat;
}

/*page footer*/
.footer{
	clear:both;
	background:transparent;
	margin:0 auto;
	margin-top: 20px;
	padding-top: 20px;
	line-height:30px;
	/*text-align:center;*/
}
.footer a{
	color: ForestGreen;
}
.footer a:hover{
	color: DarkGreen;
}
.f1{
	margin:0 auto;
	color:black;
	width: 100%;
	text-align: center;
}
