.mainViewWarp{
	width: 1100px;
	margin: 0 auto;
}
.mainView{
	float: left;
	background: rgba(255,255,255,0.5);
	border-radius: 7px;
	padding: 20px;
	margin-top: 20px;
}
.opusType{
	float: left;
	width: 1060px;
	text-align: center;
	padding-bottom: 15px;
	height: 35px;
}
.opusType a{
	padding: 0 10px;
	font-weight: 500;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.opusTypeItem{
	font-size: 20px;
}
.activeOpusTypeItem{
	font-size: 35px;
	color: #680;
}
.speOpusTypeItem{
	font-size:  35px;
	opacity: 0;
}

.opusClass{
	float: left;
}

.opusClassDivision{
	float: left;
	background: rgba(0,0,0,0.3);
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
	display: none;
}
.activeClassDivision{
	display: block;
}
.opusClassItem{
	float: left;
	width: 86px;
	padding: 10px;
	display: block;
	text-align: center;
	color: white;
	border-top: 2px solid rgba(102,136,0,0.1);
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.opusClassItem:hover{
	box-shadow: 0 0 20px black;
	color: white;
	background:#c1d739;
	border-top: 2px solid black;
}
.activeOpusClassItem{
	color: white;
	background:#680;
	opacity: 0.6;
}

.opus{
	float: left;	
	margin-top: 10px;
	border-radius: 4px;
}
.opusShow{
	padding-top: 20px;
	background: white;
	list-style: none;
	float: left;
	width: 1060px;
	margin-bottom: 20px;
	border-radius: 4px;
	border-bottom: 2px solid #AAA;
	margin-bottom: 5px;
}
.opusShow a{
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.opusShow a:hover{
	color: #c1d739;
}
.opusAluthorImage{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 26px;
	border: 1px solid #AAA;
	margin-top: 15px;
}
.opusBasicInfo{
	width: 950px;
	float: left;
}
.opusTitle{
	color: black;
	font-size: 30px;
	font-weight: 600;
}
.opusAuthor{
	color: #444;
	font-weight: 600;
}
.opusBrief{
	color: #777;
	font-size: 0.9em;
	margin-top: 15px;
	/*margin-left: 5px;*/
	padding-left: 5px;
	width: 900px;
	border-left: 5px solid #680;
}
.opusTag{
	margin-top: 15px;
	color: #AAA;
}
.opusTag a{
	color: #680;
	margin-right: 10px;
	opacity: 0.7;
}
.opusTag a:hover{
	opacity: 1.0;
}
.opusTime{
	float: right;
	color: #AAA;
	margin-bottom: 5px;
	margin-right: 40px;
	font-size: 0.8em;
}
