.write{
	width: 1058px;
	margin: 0 auto;
	text-align: left;
}

.write p{
	line-height: 100px;
	font-size: 14;
}

.opusTypeTip{
	text-align: center;
	color: #999;
	font-size: 0.8em;
	display: block;
	margin-bottom: 10px;
}
#opusTypeOption{
	background: rgba(255,255,255,0.6);
	text-align: center;
	padding: 10px;
	margin-left: 1px;
	border-bottom: 1px dashed #CCC;
}
.opusTypeArea{
	padding-top: 10px;
	padding-bottom: 20px;
}

.opusType{
	font-weight: 500;
	font-size: 2.5em;
	padding: 0 20px;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}

.activeOpusType{
	color: #680;
}

.speOpusTypeItem{
	opacity: 0;
}

#opusTypeAreaSwitch{
	position: absolute;
	right: 20px;
	background:rgba(0,0,0,0.1); 
	color:white;
	padding: 5px;
}
#opusTypeAreaSwitch:hover{
	background:rgba(0,0,0,0.3); 
}

.maindata{
	float: left;
	border: 1px solid #CCC;
	border-top: 0;
	box-shadow: 0 0 20px #CCC;
}

.formlist{
	display: block;
	float: left;
	width: 1058px;
	background: white;
	padding-bottom: 15px;
	border-bottom: 1px dashed #CCC;
}

.input{
	border: 1px solid rgba(102,136,0,0.4);
}

#formlistfirst{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.offborformlist{
	display: block;
	float: left;
	width: 1058px;
	background: white;
	padding-bottom: 15px;
}

.formlisttip{
	clear: both;
	color: white;
	background: #680;
	width: 1030px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid #CCC;
	line-height: 30px;
	font-size: 0.8em;
	display: none;
}

.formlisttip a{
	color: lightgray;
	font-weight: 400;
}

.formlisttip a:hover{
	color: darkred;
	font-weight: 400;
}

#speformlist{
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
}

#resourceForm{
	display: none;
}

#speinputtip{
	height: 25px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}

#formlisttip5{
	border: 0;
}

#formlistlast{
	border-bottom: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#opusPublicSubmitButton,#opusPreViewButton,#opusPrivateSubmitButton{
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#opusPublicSubmitButton{
	padding-left: 49px;
	padding-right: 49px;
	margin-right: 10px;
	display: none;
}
#opusPrivateSubmitButton{
	padding-left: 40px;
	padding-right: 40px;
	display: none;
}

#describe,#reference{
	height: 60px;
	resize:vertical;
	width: 898px;
}

.firstClass{
	background: white;
	padding: 6px;
	color: #444;
	border-radius: 4px;
	border: 1px solid rgba(102,136,0,0.4);
	outline: none;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#otherTags{
	width: 838px;
	margin-left: 0;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#opusExpandBotton{
	color: #AAA;
	font-size: 0.9em;
	padding: 5px;
	padding-left: 15px;
	padding-bottom: 10px;
	background: white;
	display: block;
}


.expandOption{
	display: none;
}
#previewBeforePublic{
	float: right;
	margin-top: 35px;
	margin-right: 20px;
	color: #999;
}

#pushOptionForm{
	border-bottom: 0;
}
.pushOption{
	margin-top: 20px;
}
.pushOption input{
	margin-left: 15px;
}

#textArea{
	display: none;
}

#richTextField{
	border: #000000 1px solid;
	width: 700px;
	height: 300px;
}

.writeButton{
	width: 70px;
}

.none{
	display: none;
}

