.write{
	width: 1058px;
	margin: 0 auto;
	text-align: left;
}

.write p{
	line-height: 10px;
	font-size: 14;
}

#temTextData{
	background: white;
	padding: 40px;
	padding-top: 20px;
	border: 1px solid #CCC;
	box-shadow: 0 0 20px #CCC;
	display: none;
}

.opusTypeTip{
	text-align: center;
	color: #999;
	font-size: 0.8em;
	display: block;
	margin-bottom: 10px;
}
#opusTypeOption{
	background: rgba(255,255,255,0.6);
	text-align: center;
	padding: 10px;
	margin-left: 1px;
	border-bottom: 1px dashed #CCC;
}
.opusTypeArea{
	padding-top: 10px;
	padding-bottom: 20px;
}

.opusType{
	font-weight: 500;
	font-size: 2.5em;
	padding: 0 20px;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}

.activeOpusType{
	color: #680;
}

.speOpusTypeItem{
	opacity: 0;
}

#opusTypeAreaSwitch{
	position: absolute;
	right: 20px;
	background:rgba(0,0,0,0.1); 
	color:white;
	padding: 5px;
}
#opusTypeAreaSwitch:hover{
	background:rgba(0,0,0,0.3); 
}

.maindata{
	float: left;
	border: 1px solid #CCC;
	border-top: 0;
	box-shadow: 0 0 20px #CCC;
}

.formlist{
	display: block;
	float: left;
	width: 1058px;
	background: white;
	padding-bottom: 15px;
	border-bottom: 1px dashed #CCC;
}

.input{
	border: 1px solid rgba(102,136,0,0.4);
}

#formlistfirst{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.offborformlist{
	display: block;
	float: left;
	width: 1058px;
	background: white;
	padding-bottom: 15px;
}

.formlisttip{
	clear: both;
	color: white;
	background: #680;
	width: 1030px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid #CCC;
	line-height: 30px;
	font-size: 0.8em;
	display: none;
}

.formlisttip a{
	color: lightgray;
	font-weight: 400;
}

.formlisttip a:hover{
	color: darkred;
	font-weight: 400;
}

#speformlist{
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
}

#resourceForm{
	display: none;
}

#speinputtip{
	height: 25px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}

#formlisttip5{
	border: 0;
}

#formlistlast{
	border-bottom: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#opusPublicSubmitButton,#opusPreViewButton,#opusPrivateSubmitButton,#opusPreViewBack{
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#opusPublicSubmitButton{
	padding-left: 49px;
	padding-right: 49px;
	margin-right: 10px;
	display: none;
}
#opusPrivateSubmitButton{
	padding-left: 40px;
	padding-right: 40px;
	display: none;
}

#describe,#reference{
	height: 60px;
	resize:vertical;
	width: 898px;
}

#opusPreViewBack{
	margin-right: 20px;
	margin-top: 35px;
	display: none;
}

.firstClass{
	background: white;
	padding: 6px;
	color: #444;
	border-radius: 4px;
	border: 1px solid rgba(102,136,0,0.4);
	outline: none;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#otherTags{
	width: 838px;
	margin-left: 0;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#opusExpandBotton{
	color: #AAA;
	font-size: 0.9em;
	padding: 5px;
	padding-left: 15px;
	padding-bottom: 10px;
	background: white;
	display: block;
}

#foreword{
	min-height: 60px;
}
.expandOption{
	display: none;
}
#previewBeforePublic{
	float: right;
	margin-top: 35px;
	margin-right: 20px;
	color: #999;
}

#pushOptionForm{
	border-bottom: 0;
}
.pushOption{
	margin-top: 20px;
}
.pushOption input{
	margin-left: 15px;
}

#textArea{
	display: none;
}

#richTextField{
	border: #000000 1px solid;
	width: 700px;
	height: 300px;
}

.writeButton{
	width: 70px;
}

.none{
	display: none;
}





/*opus model*/
.opusBasicInfo{
	float: left;
	padding: 20px;
	width: 950px;
}
.firstLine{
	float: left;
	width: 978px;
}
.opusTime{
	color: #AAA;
	float: left;
	margin-right: 40px;
}
.opusAuthor{
	color: #AAA;
	float: left;
}
.opusAuthor a{
	color: #777;
	margin-left: 5px;
	font-weight: 700;
}
.opusAuthor a:hover{
	color: #680;
}
.opusData{
	float: right;
	display: inline;
	text-align: center;
	color: #CCC;
	font-size: 0.8em;
}
.opusData div{
	/*float: left;*/
	display: inline;
	margin-right: 20px;
}
.authorBasicInfo{
	float: left;
	width: 998px;
	background: #680;
	margin-left: -20px;
	margin-right: -20px;
	display: none;
}
.opusAluthorImage{
	width: 80px;
	height: 80px;
	box-shadow: 0 0 20px #AAA;
}
.opusTitle{
	float: left;
	font-size: 3em;
	margin:20px auto;
	padding-bottom: 10px;
}
.opusSubtitle{
	color: #222;
	font-size: 0.5em;
	margin: 0;
	margin-top: 5px;
}
.opusDescription{
	clear: both;
	border-left: 5px solid #680;
	padding-left: 10px;
	color: #777;
	font-size: 0.95em;
}
.opusAppositeness{
	float: left;
	width: 500px;
	color: black;
	margin-top: 20px;
	font-weight: 900;
	font-size: 1.1em;
}

.opusMain{
	clear: both;
	padding: 20px;
}
.opusMain img{
	margin: 0px;
	padding: 0px;
	border: 0.5em solid rgb(255, 255, 255);
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	line-height: inherit;
	vertical-align: baseline;
	max-width: 100%;
	height: auto;
	border-top-left-radius: 0.3em;opusSuffixes
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-sizing: border-box;
}

.opusMain p{
	margin-top: 20px;
	margin-bottom: 20px;
}

.opusSuffixes{
	padding: 20px;
	color: #777;
	font-size: 0.9em;
}
.opusTag{
	margin-top: 10px;
	color: #999;
	width: 700px;
}
.opusTag a{
	margin-right: 10px;
}
.opusSeries{
	margin-top: 10px;
}
.opusSeries a{
	margin-right: 10px;
}

.edui-default .edui-editor-toolbarboxouter {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom: 1px solid #B5C550 !important;
}


