/*basic setting*/
td,tbody,table{
	border: 1px solid #999;
	padding: 3px;
	border-collapse:collapse;
}

textarea,input{
	font-family: "Microsoft YaHei";
	color: #333;
}

.groupWarpOuter{
	width: 1060px;
	margin: 0 auto;
}

.groupWarp{
	float: left;
	width: 1062px;
}

.forumImage img{
	width: 50px;
	height: 50px;
	border-radius: 7px;
	margin-top: 15px;
	margin-left: 7px;
	margin-right: 20px;
	float: left;
}

.formButton{
	border:0;
}

/*states of block show*/
.prepare{
	position: relative;
}

.active{
	position: relative;
}

.outOfView{
	position: relative;
}

.none{
	display: none;
}

.groupPrompt{
	float: left;
	text-align: center;
	clear: both;
	width: 100%;
	background: white;
	border-bottom: 1px solid #CCC;
}

.groupPrompt p,.groupPrompt form{
	display: none;
}

.activePrompt{
	display: block;
}

.groupPrompt a.joinButton{
	background: #680;
	color: white;
	padding:5px 10px;
	border-radius: 7px;
	margin: 0 10px;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.groupPrompt a.joinButton:hover{
	color: white;
	background: #c1d739;
}
.groupPromptPrivate{
	display: none;
}
#contactGroupLeader{
	display: none;
}
#contactGroupLeaderCon{
	float: none;
	width: 600px;
	margin: 0 auto;
}
.joinSend{
	/*clear: both;*/
	float: none;
	width: 600px;
	min-height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
#JoinSubmitButton{
	margin-left: 40px;
	width: 162px;
	height: 30px;
}
#contactGroupLeaderBack{
	float: right;
}

/*group infomation*/
.groupInfo{
	width: 970px;
	margin: 0 auto;
	height: 80px;
	margin-top: 20px;
	padding-left: 10px;
	position: relative;
}

.groupImage{
	float: left;
	width: 55px;
	height: 55px;
	border-radius: 7px;
	margin-top: 10px;
	margin-right: 10px;
	/*box-shadow:2px 2px 3px #aaaaaa;*/
}

.groupInfoCon{
	float: left;
}

.groupTitle{
	float: left;
	font-size: 50px;
	width: 960px;
}

.groupTitle a{
	color: #BBB;
	transition: 2s;
	-moz-transition:2s;transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}

.groupTitle a:hover{
	color: black;
}

#groupTitleName{
	float: left;
	margin-right: 10px;
}

#titleCut{
	float: left;
}

#groupMotto{
	float: left;
	max-width: 430px;
	font-size: 25px;
	margin-left: 7px;
	margin-top: 30px;
}

.groupItem{
	/*float: left;*/
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	/*margin-bottom: 30px;*/
}

.optionBack{
	float: right;
}

/*Bulletin*/

.bulletin{
	width: 930px;
	margin: 0 auto;
	float: left;
	display: none;
	background: white;
	border: 1px solid #DDD;
	border-radius: 7px;
	padding: 14px;
	/*margin-left: 95px;*/
}

.bulletinList{
	list-style: none;
	padding: 5px;
	padding-left: 5px;
}

.bulletinInline{
	width: 900px;
	float: left;
	padding: 5px;
	border-radius: 2px;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
}

.bulletinInline:hover{
	color: white;
	background: #680;
	box-shadow: 2px 2px 3px #AAA;
}

.bulletinUserImage{
	width: 20px;
	height: 20px;
	border-radius: 3px;
	float: left;
}

.bulletinTitle{
	float: left;
}

.bulletinUserName{
	float: right;
	margin-right: 5px;
}

.bulletinTime{
	float: right;
	margin-right: 30px;
}

.bulletinCon{
	float: left;
	margin-top: 15px;
	display: none;
	margin-bottom: 15px;
	border-radius: 2px;
	border: 2px dashed #680;
	padding: 5px;
	font-size: 14px;
	width: 890px;
}

#bulletinConActive{
	display: block;
}

#bulletinOption{
	margin-top: 15px;
	float: right;
	margin-right: 15px;
}

#bulletinBack{
	float: none;
}

/*Infomation Card*/

.infoCard{
	float: left;
	border-radius: 7px;
	background: white;
	border: 1px solid #CCC;
	padding:15px;
	display: none;
}

.infoCard p{
	display: inline;
}

#groupName{
	float: left;
	width: 910px;
	padding: 5px;
	padding-bottom: 10px;
	font-weight: 400;
	font-style: normal;
	color: #030;
}

/*#groupCardImage{
	float: left;
	width: 180px;
	height: 180px;
	border-radius: 7px;
	border: 2px solid #777;
	margin-left: 5px;
	margin-right: 40px;
}*/
#groupDetail{
	margin-left: 5px;
}
#groupMoreDetail{
	border-top:1px dashed #CCC;
	border-bottom: 1px dashed #CCC;
	margin-left: 5px;
	margin-top: 10px;
	padding:10px 0;
}
#groupBanner{
	margin-top: 10px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;
	width: 958px;
	max-height: 200px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}

/*Member*/
.member{
	float: left;
	border-radius: 7px;
	padding:10px;
	font-size: 13px;
	width: 960px;
	display: none;
}

.member img{
	width: 50px;
	height: 50px;
	border-radius: 4px;
	float: left;
	margin-top: 5px;
}

.memberCard{
	position: relative;
	padding: 10px;
	float: left;
	border-radius: 7px;
	background: rgba(255,255,255,0.5);
	width: 284px;
	height: 59px;
	border: 1px solid #777;
	margin-right: 12px;
	margin-top: 10px;
	color: #777;
	/*position: relative;*/
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

.memberCard:hover{
	color: white;
	background: #680;
}

.memberBasic{
	float: left;
	margin-left: 10px;
}

.memberHonour{
	margin-left: 10px;
	color: darkred;
}

.memberInfo span{
	margin-right: 20px;
}

.memberDetail{
	padding: 10px;
	width: 286px;
	margin-left: -11px;
	float: left;
	display: none;
	background: #680;
	color: white;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#memOption{
	font-size: 15px;
	clear: both;
	margin-top: 70px;
	margin-right: 90px;
	float: right;
}

#memOption a{
	margin-right: 20px;
}

/*Works*/
.works{
	float: left;
	width: 938px;
	margin: 0 auto;
	/*margin-left: 100px;*/
	background: white;
	border-radius: 7px;
	border: 1px solid #CCC;
	padding: 10px;
	display: none;
}

#worksOption{
	float: left;
	width: 930px;
	text-align: center;
}

#worksOption a{
	margin-right: 30px;
	color: #777;
	padding: 10px 20px;
	border-radius: 4px;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}

#worksOption a:hover{
	color: white;
	background: #680;
}

.worksMainOption{
	padding: 10px 20px;
	float: left;
}

#worksFliter{
	float: right;
}

#worksArticals{
	float: left;
}

.worksArticalShow{
	list-style: none;
	float: left;
	width: 930px;
	border-top:2px dashed #777; 
	padding-top: 10px;
	margin-top: 10px;
}

.artical{
	float: left;
	width: 930px;
}

.articalBasicInfo{
	float: left;
	width: 930px;
}

.articalTitle{
	float: left;
	font-size: 27px;
	font-weight: 500;
	margin-left: 10px;
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

.articAluthorImage{
	margin-top: 3px;
	width: 30px;
	height: 30px;
	border-radius: 2px;
}

.articalTitle{
	color: black;
}

.articalTitle:hover{
	color: #c1d739;
}

.articalAuthor{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

.articalTag{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.articalTag a{
	margin-right: 10px;
}

.articaltime{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

.articalDirectionOption{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 240px;
	float: right;
}

.articalDirectionOption a{
	margin-right: 20px;
}

/*Latest Topic*/
.latestTopic{
	width: 938px;
	margin: 0 auto;
	float: left;
	/*margin-left: 100px;*/
	padding: 10px;
	background: white;
	border-radius: 7px;
	border: 1px solid #CCC;
	display: none;
}

.latestTopic li{
	float: left;
	list-style: none;
	width: 910px;
	padding: 5px 10px;
	border-radius: 3px;
	transition: 0.25s;
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
}

.latestTopic li:hover{
	background: #680;
	color: white;
	cursor: pointer;
	/*-ms-transform:rotate(7deg); 
	-moz-transform:rotate(7deg); 
	-webkit-transform:rotate(7deg); 
	-o-transform:rotate(7deg);
	transform:rotate(7deg);
*/	box-shadow:2px 2px 3px #aaaaaa;
}

.latestTopic img{
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 2px;
}

.latestTopicTitle{
	float: left;
}

.latestTopicBasic{
	float: right;
	display: inline;
}

.latestTopicAuthor{
	margin-right: 10px;
}

#latestTopicOption{
	width: 150px;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
}

/*Group Settings*/
.groupSetting{
	background: white;
	width: 938px;
	margin: 0 auto;
	float: left;
	/*margin-left: 100px;*/
	padding: 10px;
	background: white;
	border-radius: 7px;
	border: 1px solid #CCC;
	/*display: none;*/
	font-size: 0.9em;
	padding-bottom: 20px;
	display: none;
}
.textInput{
	/*float: left;*/
	width: 600px;
	padding: 5px;
	border: 1px solid rgba(102,136,0,0.4);
	border-radius: 2px;
}
.groupSetting h2{
	font-size: 1em;
	color: darkgreen;
	font-weight: normal;
	border-bottom: 1px solid #CCC;
}
#groupBulletinContent{
	margin-left: 74px;
	margin-top: 5px;
	height: 100px;
	resize:none;
}
.stip{
	float: left;
	color: #999;
}
.groupMemberListWrap{
	float: left;
	width: 624px;
	max-height: 270px;
	overflow: auto;
	/*border: 1px solid #CCC;*/
	margin-left: 74px;
	margin-bottom: 20px;
}
.groupMemberList{
	background: #570;
	color: white;
	width: 203px;
	height: 40px;
	padding-top: 10px;
	display: block;
	float: left;
	/*border: 1px solid white;*/
	box-shadow: 0 0 0 1px white;
}
.groupMemberList:hover{
	background: #8A2;
	cursor: pointer;
}
.groupMemberList img{
	width: 30px;
	height: 30px;
	border-radius: 4px;
	box-shadow: none;
	margin-right: 10px;
}
.groupMemberList img:hover{
	box-shadow: none;
}
.groupMemberName{
	/*padding-top: 5px;*/
	float: left;
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.intorWords{
	font-size: 0.9em;
	color: #AAA;
	margin: 10px 0;
	margin-left: 75px;
	clear: both;
}
.groupOption{
	padding: 10px;
	float: left;
	background: rgba(255,255,255,0.9);
	width: 120px;
	margin-left: 20px;
	/*border: 1px solid #CCC;*/
	border-radius: 4px;
	/*display: none;*/
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.groupOption a{
	display: block;
	padding: 5px;
}
.groupOption a:hover{
	background: #BD5;
	color: white;
}
.selectedMember{
	background: #BD5 !important;
}
.groupMemActionLog{
	float: left;
	/*padding: 10px;*/
	margin-left: 75px;
	/*background: rgba(0,0,0,0.1);*/
	clear: both;
}
.groupMemActionList{
	padding: 5px;
	background: rgba(0,0,0,0.1);
}
.groupMemActionCacel{
	margin-left: 20px;
}
.groupSettingButton{
	clear: both;
}
#groupSettingSubmit{
	/*clear: both;*/
	margin-top: 20px;
	margin-left: 75px;
}
#groupSettingBack{
	/*clear: both;*/
	margin-top: 50px;
	margin-right: 20px;
}
/*Group Options*/
.groupOptions{
	clear: both;
	width: 960px;
	margin: 0 auto;
	height: 30px;
	font-size: 12px;
	margin-top: 5px;
	font-size: 18px;
	color: white;
	margin-bottom: 10px;
	border-bottom: 1px dashed #AAA;
}

.groupOptionItem{
	float: left;
	margin-right: 30px;
	opacity: 0.5;
	padding: 3px 12px;
	border-radius: 7px;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}

.groupOptionItem:hover{
	opacity: 1.0;
	text-shadow: 0px 1px 1px #AAA;
}

/*Communication Wrap*/
#communicationWrapOuter{
	float: left;
	width: 1062px;
	margin-top: 10px;
}

#communicationWrap{
	float: left;
}

#communicationBackgroud{
	background: rgba(0,0,0,0.01);
	float: left;
	border-radius: 7px;
	border: 1px solid #AAA;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

/*Communication Submit*/
#changeSendState{
	color: #CCC;
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

#changeSendState:hover{
	color: #680;
}

#communicationData{
	float: left;
	width: 962px;
	padding: 10px 50px 20px 50px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 2px solid #CCC;
	/*background: rgba(0,0,0,0.9);*/
	/*background:black;*/
	background: #010101;

}

.chatSend{
	width: 960px;
}

.expandChatSend{
	display: none;
	margin-top: 15px;
}

#chatData{
	float: left;
	height: 30px;
	min-height: 30px;
	overflow-y:hidden; 
	resize:none;
	border: 1px solid #680;
	border-radius: 4px;
	width: 762px;
	margin-left: 0;
	line-height: 15px;
/*	transition: 0.1s;
	-moz-transition:0.1s;
	-webkit-transition:0.1s;
	-o-transition:0.1s;*/
}

#chatData:focus{
	box-shadow: 0 0 10px white;
}

#chatSubmitButton{
	border-radius: 5px;
	margin-left: 27px;
	margin-top: 15px;
	float: left;
}

#expandChatSubmitButton{
	border-radius: 5px;
	margin-top: 7px;
	margin-left: 35px;
}

.input.edui-default{
	width: 762px;
}

.topicSend{
	display: none;
}

#topicTitle{
	float: left;
	height: 30px;
	border: 1px solid #680;
	border-radius: 4px;
	width: 760px;
	margin-left: 0px;
}

div.input.edui-default{
	margin: 0;
	margin-left: 0;
	padding-left: 0;
}

#topicSubmitButton{
	border-radius: 5px;
	margin-left: 27px;
	margin-top: 15px;
	float: left;
}

/*Communication*/
.communication{
	float: left;
	width: 960px;
	margin: 0 auto;
}
#communicationConWrap{
	float: left;
	background: rgba(255,255,255,0.05);
	padding: 10px 50px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#messageTemp{
	display: none;
}
li.chat{
	list-style: none;
	float: left;
	width: 1040px;
	margin-left: -40px;
	margin-bottom: 3px;
	padding-top: 5px;
	padding-bottom: 8px;
	border-bottom: 2px solid #CCC;
	border-radius: 5px;
	background: white;
}
li.topicOutter{
	list-style: none;
	float: left;
	width: 1040px;
	margin-left: -40px;
	margin-bottom: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #999;
	border-radius: 5px;
	background: rgba(102,0,0,0.64);
}
li.topicOutter .topicTalkContent{
	color: #DDD;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	list-style-type: decimal;
	/*height: 18px;*/
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	text-overflow: ellipsis;
	/*padding: 4px;*/
	width: 820px;
	line-height: 22px;
}
li.topicOutter a{
	transition: 0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}
li.topicOutter p{
	white-space: nowrap;
	overflow: hidden;
	list-style-type: decimal;
	text-overflow: ellipsis;
	width: 850px;
	color: #CCC;
}
li.topicOutter p img{
	border-radius: 2px;
	width: 100px;
	height: auto;
}
li.topicOutter .talkAction{
	font-size: 0.8em;
	color: white;
}
li.topicOutter a.userName{
	font-size: 1.1em;
}
li.topicOutter .userName:hover{
	color: #DDD;
}
li.topicOutter .talkTitle a{
	font-size: 1.1em;
	color: #BD5;
}
li.topicOutter .talkTitle a:hover{
	color: #DF7;
}
li.topicOutter .timeShow{
	color: white;
}
.userName{
	font-size: 0.9em;
	margin-bottom: 2px;
	width: 760px;
}
.talkMain{
	float: left;
	width: 950px;
	margin-top: 0px;
}
.talkMain a{
	color: #777;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.talkMain a:hover{
	color: #680;
}

/*chat&topic content*/
li.chat .talkContent img{
	width: auto;
	max-width: 900px;
	height: auto;
	margin-left: 0;
	border-radius: 2px;
}
.talkContent{
	word-break:break-all;
	font-size: 0.9em;
	clear: both;
	margin-top: 10px;
	margin-right: 13px;
}
.talkContent a{
	color: #680;
}
.talkContent p{
	margin: 0;
}
.timeShow{
	float: right;
	font-size: 0.8em;
	margin-right: 20px;
	display: inline;
}
.chatFirstLine{
	width: 950px;
	clear: both;
}

/*topic show in out layer*/
.talkAction{
	float: left;
	font-size: 15px;
}
.talkAction a{
	/*color:rgba(102,136,0,0.9);*/
	color: white;
}
.talkAction a:hover{
	color: #680;
}
.topicTalkContent{
	clear: both;
	font-size: 0.8em;
	color: #777;
	padding-top: 11px;
}

.topicTalkContent p{
	margin: 0;
	color: #EEE;
}

.topicTalkContent img{
	max-width: 200px;
	width: auto;
	height: auto;
	border-radius: 2px;
	margin-left: 0;
}

/*topic show in inner layer*/
li.topicInner{
	list-style: none;
	float: left;
	width: 1042px;
	margin-left: 10px;
	margin-bottom: 11px;
	padding-top: 5px;
	padding-bottom: 13px;
	border-bottom: 2px solid #CCC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: white;
}
li.topicInner p{
	padding: 5px 0;
	line-height: 20px;
}
li.topicInner td,tbody,table{
	margin-top: 10px;
}
li.topicInner p img,li.topicInner .talkContent img{
	width: auto;
	height: auto;
	max-width: 900px;
	margin: 0;
	border-radius: 4px;
	border-top-right-radius: 0;
	padding: 5px;
	background: white;
	border: 1px solid #CCC;
	margin-right: 10px;
}
.topicLocation{
	display: block;
	font-size: 14px;
	background: rgba(0,0,0,0.6);
	width: 1030px;
	color: #CCC;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 3px 6px;
	margin-top: 10px;
	margin-left: 10px;
}
.topicLocation a{
	color: #CCC;
	transition: 0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
.topicLocation a:hover{
	color: white;
}

#collectTopic{
	float: right;
	font-size: 0.8em;
	margin-right: 20px;
}

/*topic tag*/
.topicTag{
	position: fixed;
	left: 0px;
	top: 230px;
	z-index: 999999;
}

.topicTagList{
	display: block;
	width: 80px;
	height: 17px;
	overflow:hidden;
	text-overflow:clip;
	text-align: center;
	margin-bottom: 13px;
	background: #680;
	color: white;
	padding:6px 0px;
	border-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	line-height: 21px;
	opacity: 0.4;
	border:1px solid #CCC;
	border-left: 0px;
}
.topicTagList a{
	color: white;
}
.topicTagList:hover{
	color: white;
	width: auto;
	opacity: 0.9;
	box-shadow: 0 0 10px #680;
}
.topicTagClone{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 230px;
	opacity: 0;
	z-index: -1;
}
.topicTagCloneList{
	display: inline-block;
	height: 17px;
	width: auto;
	text-align: center;
	margin-bottom: 13px;
	background: #680;
	color: white;
	padding:6px 7px;
	border-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	line-height: 21px;
	opacity: 0.4;
	border:1px solid #CCC;
	border-left: 0px;
}

