.groupNavWarp{
	width: 1102px;
	margin: 0 auto;
}
.groupNav{
	float: left;
	width: 1060px;
	padding: 20px;
	background: rgba(255,255,255,0.5);
	border-radius: 7px;
	margin-top: 20px;
}

.userGroupInfo{
	width: 200px;
	float: left;
	/*background: rgba(0,0,0,0.1);*/
	background: white;
	padding: 20px;
	/*border-right: 1px solid #CCC;*/
	border-radius: 4px;
	margin-left: 4px;
	/*margin-top: 47px;*/
}

.userImg img{
	width: 100px;
	height: 100px;
	border-radius: 7px;
	float: left;
	margin: 0 50px;
	display: block;
	border: 1px solid #AAA;
}
.userImg img:hover{
	box-shadow: 0 0 10px #CCC;
}
.userName{
	float: left;
	display: block;
	text-align: center;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #777;
}

.myGroup{
	float: left;
	width: 200px;
	margin-top: 20px;
	background: rgba(102,136,0,0.7);
	margin:0 -20px;
	padding: 20px;
	border-top: 1px solid #CCC;
}
.myGroupTitle{
	font-size: 1.5em;
	margin-bottom: 10px;
	color: white;
}
.myGroupList{
	list-style: none;
	margin-bottom: 17px;
	padding: 10px;
	border-radius: 4px;
	background: rgba(255,255,255,0.92);
	color: #680;
	border: 1px solid rgba(102,136,0,0.7);
	transition: 0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s
}
.myGroupList:hover{
	background: white;
	/*background: rgba(102,136,0,0.8);*/
	/*background: rgba(255,255,255,0.8);*/
	color: #8A2;
	border: 1px solid transparent;
	/*box-shadow: 0 0 5px 0px white;*/
}
#createGroup{
	margin-top: 20px;
	display: block;
	padding: 5px;
	color: #DDD;
	font-size: 1.1em;
}
#createGroup:hover{
	color: white;
	font-weight: 600;
}

.groupTagArea{
	border-top: 1px solid #CCC;
	padding: 20px;
	background: white;
	margin: 0 -20px;
	float: left;
	/*text-align: center;*/
}
.groupTagTitle{
	font-size: 1.5em;
	margin-bottom: 10px;
}
.groupTagClass{
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}
.groupTag{
	margin-right: 15px;
	font-size: 0.9em;
	margin-bottom: 10px;
	line-height: 40px;
}

.groupMainWrap{
	width: 815px;
	float: left;
	/*padding-left: 5px;*/
	/*border-left: 5px solid #680;*/
}
.groupExplanation{
	float: left;
	width: 795px;
	background: white;
	font-size: 2.5em;
	padding: 10px;
}
.groupDynamic{
	float: left;
	padding: 10px;
	margin-left: 20px;
}
.groupDynamicHeader{
	font-size: 1.5em;
	/*font-weight: 900;*/
	margin-bottom: 10px;
	display: block;
	color: #999;
	text-align: center;
	
}
.groupDynamicList{
	float: left;
	width: 775px;
	list-style: none;
	margin-bottom: 12px;
	background: white;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 4px;
	border-bottom: 2px solid #680;
}
.groupDynamicAuthorImg img{
	margin-top: 14px;
	margin-left: 15px;
	border: 1px solid #AAA;
}
.groupDynamicContent{
	float: left;
	width: 680px;
}
.groupDynamicTitle{
	float: left;
	font-size: 1.5em;
	/*font-weight: 650;*/
	margin-right: 10px;
	color: black;
	/*max-width: 550px;*/
}
.groupDynamicInfo{
	font-size: 0.9em;
	color: #444;
	float: left;
	margin-top: 5px;
	display: block;
	width: 700px;
	margin-bottom: 5px;
}
.groupDynamicFrom{
	display: inline;
	margin-left: 20px;
}
.groupDynamicMemberNum{
	margin-left: 20px;
}
.groupDynamicBrief{
	float: left;
	width: 650px;
	font-size: 0.8em;
	color: #999;
	margin-top: 5px;
	border-left: 3px solid #680;
	padding-left: 5px;
}
.groupDynamicDetal{
	margin-right: 20px;
	float: right;
	font-size: 0.8em;
	color: #444;
}