.read{
	width: 1060px;
	margin: 0 auto;
	/*border-top: 1px solid #AAA;*/
}
.readMain{
	float: left;
	background: white;
	padding: 20px;
	box-shadow: 0 0 20px #CCC;
	/*margin-top: 20px;*/
	border:1px solid #CCC;
	border-top: 0;
}

.opusBasicInfo{
	float: left;
	padding: 20px;
	width: 950px;
	/*border: 1px solid #AAA;*/
}
.firstLine{
	float: left;
	width: 978px;
}
.opusTime{
	color: #AAA;
	float: left;
	margin-right: 40px;
}
.opusAuthor{
	color: #AAA;
	float: left;
}
.opusAuthor a{
	color: #777;
	margin-left: 5px;
	font-weight: 700;
}
.opusAuthor a:hover{
	color: #680;
}
.opusData{
	float: right;
	display: inline;
	text-align: center;
	color: #DDD;
	font-size: 0.8em;
}
.opusData div{
	/*float: left;*/
	display: inline;
	margin-right: 20px;
}
.authorBasicInfo{
	float: left;
	width: 998px;
	background: #680;
	margin-left: -20px;
	margin-right: -20px;
	display: none;
}
.opusAluthorImage{
	width: 80px;
	height: 80px;
	box-shadow: 0 0 20px #AAA;
}
.opusTitle{
	float: left;
	font-size: 3em;
	margin:20px auto;
	padding-bottom: 10px;
}
.opusSubtitle{
	color: #222;
	font-size: 0.5em;
	margin: 0;
	margin-top: 5px;
}
.opusDescription{
	float: left;
	border-left: 5px solid #680;
	padding-left: 10px;
	color: #777;
	font-size: 0.95em;
}
.opusAppositeness{
	float: left;
	width: 500px;
	color: black;
	margin-top: 20px;
	font-weight: 900;
	font-size: 1.1em;
}

.opusMain{
	float: left;
	padding: 20px;
}
.opusMain img{
	margin: 0px;
	padding: 0px;
	border: 0.5em solid rgb(255, 255, 255);
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	line-height: inherit;
	vertical-align: baseline;
	max-width: 100%;
	height: auto;
	border-top-left-radius: 0.3em;opusSuffixes
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-sizing: border-box;
}

.opusSuffixes{
	/*float: left;*/
	padding: 20px;
	color: #777;
	font-size: 0.9em;
}
.opusTag{
	margin-top: 10px;
	color: #999;
	width: 700px;
}
.opusTag a{
	margin-right: 10px;
}
.opusSeries{
	margin-top: 10px;
}
.opusSeries a{
	margin-right: 10px;
}
.opusComment{
	/*float: left;*/
	text-align: center;
	/*width: 1020px;*/
	padding: 20px 0;
	padding-bottom: 0;
	margin-top: 60px;
	border-top:1px solid lightblue;
}
.opusComment a{
	/*color: rgba(16,158,255,0.7);*/
	color: lightblue;
	font-size: 1.5em;
	/*font-weight: 900;*/
}

.opusCommentList{
	border-bottom: 1px solid lightblue;
	text-align: left;
	list-style: none;
	float: left;
	width: 978px;
	margin-bottom: 3px;
	padding-top: 10px;
	padding-bottom: 8px;
	background: white;
	display: none;
}
.opusCommentPosition{
	float: right;
	text-align: right;
	color: #AAA;
	margin-left: 20px;
}
.userImage img{
	float: left;
	width: 40px;
	height: 40px;
}
.userName{
	display: inline;
	font-size: 0.9em;
}
.opusCommentMain{
	float: left;
	width: 900px;
	margin-top: 0px;
}
.opusCommentMain a{
	color: #777;
	font-size: 1em;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.opusCommentMain a:hover{
	color: #680;
}
.opusCommentListFirstLine{
	float: left;
	width: 900px;
}
.opusCommentContent{
	margin-top: 25px;
}
.timeShow{
	float: right;
	font-size: 0.8em;
	margin-right: 20px;
	display: inline;
}

.floatReadMain{
	position: relative;
	width:1000px;
}
.opusSideCommentWrap{
	display: none;
	position: fixed;
	right: 0;
}
.opusSideComment{
	background: rgba(0,0,0,0.3);
	border-top: 1px solid #AAA;
	overflow: auto;
}
.opusSideCommentList{
	float: left;
	width: 280px;
}
.paraNum{
	float: right;
	position: relative;
	font-size: 0.8em;
	font-weight: normal;
	color: white;
	background: #680;
	border-radius: 7px;
	padding: 0 5px;
	line-height: 15px;
}


