td,tbody,table{
	border: 1px solid #999;
	padding: 3px;
	border-collapse:collapse;
}
.edui-default{
	margin-left: 0;
	padding-left: 0;
}

#edui1{
	border: 1px solid lightblue;
}
#edui1_toolbarboxouter{
	border-bottom: 1px solid lightblue;
}

.read{
	width: 1060px;
	margin: 0 auto;
	/*border-top: 1px solid #AAA;*/
}
.readMain{
	width: 1018px;
	float: left;
	background: white;
	padding: 20px;
	box-shadow: 0 0 20px #CCC;
	/*margin-top: 20px;*/
	border:1px solid #CCC;
	border-top: 0;
}

/*opus model*/
.opusBasicInfo{
	float: left;
	padding: 20px;
	width: 950px;
}
.firstLine{
	float: left;
	width: 978px;
}
.opusTime{
	color: #AAA;
	float: left;
	margin-right: 40px;
}
.opusAuthor{
	color: #AAA;
	float: left;
}
.opusAuthor a{
	color: #777;
	margin-left: 5px;
	font-weight: 700;
}
.opusAuthor a:hover{
	color: #680;
}
.opusData{
	float: right;
	display: inline;
	text-align: center;
	color: #CCC;
	font-size: 0.8em;
}
.opusData div{
	/*float: left;*/
	display: inline;
	margin-right: 20px;
}
.authorBasicInfo{
	float: left;
	width: 998px;
	background: #680;
	margin-left: -20px;
	margin-right: -20px;
	display: none;
}
.opusAluthorImage{
	width: 80px;
	height: 80px;
	box-shadow: 0 0 20px #AAA;
}
.opusTitle{
	float: left;
	font-size: 3em;
	margin:20px auto;
	padding-bottom: 10px;
}
.opusDescription{
	clear: both;
	border-left: 5px solid #680;
	padding-left: 10px;
	color: #777;
	font-size: 0.95em;
}
.opusAppositeness{
	float: left;
	width: 500px;
	color: black;
	margin-top: 20px;
	font-weight: 900;
	font-size: 1.1em;
}

.opusMain{
	clear: both;
	padding: 20px;
}
.opusMain img{
	margin: 0px;
	padding: 0px;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	line-height: inherit;
	vertical-align: baseline;
	max-width: 100%;
	height: auto;
	border-top-left-radius: 0.3em;opusSuffixes
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-sizing: border-box;
}

.opusMain p{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
	border: 0px;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
	font-size: 15px;
	line-height: 25px;
	vertical-align: baseline;
	color: rgb(68, 68, 68);
	white-space: normal;
}

.imageIntro{
	text-align: center;
}
.imageIntro p{
	font-size: 0.9em;
	color: #777;
	margin: 0 auto;
	max-width: 61%;
}

.imageUpload{
	text-align: center;
}

.opusSuffixes{
	padding: 20px;
	color: #777;
	font-size: 0.9em;
}
.opusTag{
	margin-top: 10px;
	color: #999;
	width: 700px;
}
.opusTag a{
	margin-right: 10px;
}
.opusSeries{
	margin-top: 10px;
}
.opusSeries a{
	margin-right: 10px;
}

.edui-default .edui-editor-toolbarboxouter {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom: 1px solid #B5C550 !important;
}

.opusComment{
	/*float: left;*/
	text-align: center;
	/*width: 1020px;*/
	padding: 20px 0;
	padding-bottom: 0;
	margin-top: 60px;
	border-top:1px solid lightblue;
}
.opusComment a{
	/*color: rgba(16,158,255,0.7);*/
	color: lightblue;
	font-size: 1.5em;
	/*font-weight: 900;*/
}

.opusCommentList{
	border-bottom: 1px solid lightblue;
	text-align: left;
	list-style: none;
	float: left;
	width: 978px;
	margin-bottom: 3px;
	padding-top: 10px;
	padding-bottom: 8px;
	background: white;
	display: none;
}
.opusCommentPosition{
	float: right;
	text-align: right;
	color: #AAA;
	margin-left: 20px;
}
.userImage img{
	float: left;
	width: 40px;
	height: 40px;
}
.userName{
	display: inline;
	font-size: 0.9em;
}
.opusCommentMain{
	float: left;
	width: 900px;
	margin-top: 0px;
}
.opusCommentMain a{
	color: #777;
	font-size: 1em;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.opusCommentMain a:hover{
	color: #680;
}
.opusCommentListFirstLine{
	float: left;
	width: 900px;
}
.opusCommentContent{
	margin-top: 25px;
}
.timeShow{
	float: right;
	font-size: 0.8em;
	margin-right: 20px;
	display: inline;
}

.floatReadMain{
	position: relative;
	width:1000px;
}
.opusSideCommentWrap{
	display: none;
	position: fixed;
	right: 0;
}
.opusSideComment{
	background: rgba(0,0,0,0.1);
	overflow: auto;
	padding-right: 5px;
	/*padding-left: 10px;*/
	padding-bottom: 10px;
	overflow-y: hidden;
}

.activeOpusPara{
	color: #680 !important;
	/*opacity: 0.5;*/
	/*box-shadow: 0 0 20px 1px #AAA;*/
	/*background: rgba(102,136,0,0.4) !important;*/
	/*background: rgba(0,0,0,0.03) !important;*/
}
.activeOpusPara img{
	box-shadow: 0 0 20px 3px #680;
}
.pointerPara{
	/*cursor: pointer;*/
}
.opusSideCommentList{
	margin: 0 auto;
	margin-top: 10px;
	list-style: none;
	/*background: rgba(255,255,255,0.8);*/
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
	border-top-right-radius: 0;
	padding: 5px;
	font-size: 0.9em;
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	box-shadow: 0 0 10px #AAA;
}
.opusSideCommentNav{
	/*background: black;*/
	background: rgba(0,0,0,0.5);
	color: white;
	box-shadow: 0 0 10px #AAA;
	font-size: 1.2em;
	font-weight: 900;
	cursor: pointer;
	transition: 2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
}
.opusSideCommentListUserName{
	color: #680;
}

.activeOpusSideCommentNav{
	/*background: rgba(102,136,0,1);*/
	background: #680;
	color: white;
}
.activeOpusSideCommentList{
	/*background: rgba(102,136,0,0.3);*/
	background: white;
	color: black;
	box-shadow: 0 0 10px #AAA;
}

.sideCommentView,.sideCommentEdit{
	float: right;
	font-size: 12px;
	left: 900px;
	font-weight: normal;
	color: #CCC;
	line-height: 15px;
	display: none;
	z-index: 100;
	margin-right: 10px;
}
.sideCommentEditBox{
	position: absolute;
	padding: 10px;
	width: 944px;
	background: rgba(0,0,0,0.8);
	margin-left: 20px;
	display: none;
	z-index: 1000;
	border-radius: 2px;
	/*box-shadow: 0 0 0 10px rgba(0,0,0,0.8);*/
	border: 1px solid #777;
	border-radius: 4px;
}
#sideCommentEditData{
	margin-left: -1px;
	width: 940px;
	min-height: 70px;
	margin-top: 0;
	resize:none;
	border-radius: 2px;
	outline:transparent;
}
.sideCommentEditOption{
	float: right;
	margin-top: 5px;
	/*margin-right: 40px;*/
}
.sideCommentEditOption a{
	margin-right: 20px;
	padding: 5px;
	color: white;
}
.sideCommentEditOption a:hover{
	color: #680;
}
#expandSideComment{
	position: fixed;
	left: 0;
	width: 20px;
	background: rgba(0,0,0,0.05);
	padding: 5px;
	margin-right: -19px;
	margin-top: -19px;
	color: white;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#expandSideComment:hover{
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	background: black;
}

.nullOpusSideCommentNav{
	display: none;
	background: darkred;
	font-size: 1em;
}
.noBorderButtom{
	border-bottom: 0;
}

.opusCommentContent img{
	width: auto;
	height: auto;
	max-width: 900px;
	border-radius: 4px;
	border-top-right-radius: 0px;
	padding: 5px;
	border: 1px solid #CCC;
	margin: 0;
}

#buttomCommentData{
	margin-left: 50px;
}

.buttomComment{
	display: none;
}

#buttomCommentSend{
	float: right;
	background: lightblue;
	color: white;
}
#buttomCommentSend:hover{
	background: rgba(16,158,255,1);
}

.opusMainChildren{
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

.noTransition,.noTransition li{
	transition: none !important;
	-moz-transition:none !important;
	-webkit-transition:none !important;
	-o-transition:none !important;
}


