.userHome{
	width: 1060px;
	margin: 0 auto;
}
.userHomeInner{
	float: left;
	background: rgba(255,255,255,0.5);
	border-radius: 7px;
	padding: 20px;
	margin-top: 20px;
}
.userInfo{
	float: left;
	width: 200px;
	padding: 20px;
	background: white;
	color: #444;
	font-size: 0.8em;
	line-height: 1.5em;
	box-shadow: 0 0 1px #CCC;
}
.userInfo div{
	float: left;
	width: 200px;
}
.userBasicInfo span{
	color: #222;
}
.imageAndOtherAction{
	width: 200px;
	text-align: center;
	margin-bottom: 20px;
}

.userImage{
	/*float: left;*/
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 4px;
	border: 1px solid #CCC;
	clear: both;
	margin: 0 auto;
}
.userImage:hover{
	box-shadow: 0 0 10px #CCC;
}
.userName{
	color: #444;
	font-size: 1.5em;
	text-align: center;
}

.otherAction{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.otherAction a{
	display: inline-block;
	width: 45px;
	padding: 5px 10px;
	background: white;
	border: 1px solid #CCC;
	/*color: white;*/
	border-radius: 4px;
}

.userMotto{
	padding: 5px;
	margin-left: -5px;
	color: black;
	font-weight: bolder;
	text-align: left;
}

.userExtendInfo{
	margin-top: 20px;
}
#userInfoEdit,#userEditedSubmit,#userEditedBack{
	float: left;
	width: 200px;
	background: #680;
	color: #CCC;
	padding: 5px 0;
	display: block;
	margin-top: 10px;
	border-radius: 2px;
	text-align: center;
}
#userInfoEdit:hover,#userEditedSubmit:hover,#userEditedBack:hover{
	background: #c1d739;
	color: white;
}
.edittingArea{
	margin-top: 10px;
	display: none;
}
.edittingArea .tip{
	padding-top: 5px;
	float: left;
}
.edittingItem,div.edittingItem{
	float: left;
	width: 152px;
	border: 1px solid rgba(102,163,0,0.4);
	padding: 5px;
	border-radius: 2px;
	font-size: 0.95em;
}
#edittingSex{
	border: 0;
	padding: 0;
	padding-top: 5px;
}
#edittingMotto,#edittingIntro{
	margin-top: 5px;
	height: 50px;
	resize:none;
}
.followInfo{
	margin-top: 25px;
}
.followList{
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 10px;
	border-top: 1px solid #CCC;
}
.followList li{
	width: 40px;
	float: left;
	margin-right: 10px;
}

.followList img{
	width: 40px;
	height: 40px;
	margin: 0;
	/*margin-right: 5px;*/
}
.followList span{
	wiwhite-space: nowrap;
	overflow: hidden;
	display: block;
	list-style-type: decimal;
	height: 18px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	text-overflow: ellipsis;
	padding: 4px;
	width: 40px;
	line-height: 22px;
	text-overflow:eclipse;
}

.myExtendPart{
	float: left;
	width: 760px;
	/*padding-left: 20px;*/
	font-size: 0.8em;
	color: #AAA;
	height: 100%;
}

.myExtendPartFirstline{
	font-size: 1.5em;
	margin-bottom: 10px;
	display: block;
	color: #999;
}

.opusPart{
	/*display: none;*/
	float: left;
	margin-top: 10px;
}
.activeOpusPart{
	display: block;
}

.activeOpusCommentButton{
	color: #680;
}

.myOpus{
	float: left;
	width: 480px;
	padding:20px;
	/*background: rgba(255,255,255,0.7);*/
	height: 100%;
	padding-right: 10px;
	margin-left: 10px;
}

.opusCommentPart{
	display: none;
	/*background: white;*/
}
.opusCommentPart .timeDivision{
	background: white;
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
}
.activeOpusCommentPart{
	display: block;
}

.opusShow,.opusSeries,.recentOpusViewList{
	float: left;
	width: 460px;
	background: white;
	padding: 10px;
	margin-bottom: 5px;
	border-top-left-radius: 3px;
	/*border-top-right-radius: 2px;*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid rgba(102,136,0,0.7);
}
.opusPartButton,.groupPartButton{
	display: block;
	margin-top: 15px;
	/*margin-left: 10px;*/
	margin-bottom: 10px;
	/*color: #680;*/
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

.timeDivision{
	margin-left: 10px;
	margin-bottom: 6px;
	padding-top: 10px;
	/*color: rgba(102,0,0,0.64);*/
}

.opusTitle,.opusSeriesTitle{
	display: inline-block;
	font-size: 1.3em;
	margin-bottom: 5px;
}

.opusBasicInfo div,.opusSeriesInfo div{
	float: left;
	margin-right: 20px;
}

.opusCommentFirstLine a{
	display: inline-block;
	padding: 5px 10px;
	background: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

div.opusSeriesExpand{
	display: none;
}
div.opusSeriesExpand,.opusSeriesExpand div{
	float: none;
}
div.opusSeriesDescription{
	color: #777;
	font-size: 0.9em;
	margin: 10px 0;
}
.opusSeriesExpandTitle{
	display: inline-block;
	clear: both;
	margin: 10px 0;
}

#sideCommentReply{
	margin-right: 2px;
}

.sideCommentList,.bottomCommentList,.groupReplyList{
	background: white;
	padding: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid rgba(102,136,0,0.7);
}

.sideCommentListFirstLine span,.bottomCommentListFirstLine span{
	float: right;
	margin-right: 20px;
}
.replyAuthor{
	float: left;
	font-size: 1.2em;
}

.sideCommentContent,.bottomCommentContent,.groupReplyListContent{
	white-space: nowrap;
	overflow: hidden;
	display: block;
	list-style-type: decimal;
	height: 18px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	text-overflow: ellipsis;
	padding: 4px;
	line-height: 22px;
	color: #777;
	font-size: 0.9em;
}
.sideCommentContent,.bottomCommentContent{
	width: 450px;
}
.groupReplyListContent{
	width: 190px;
	margin-bottom: 5px;
}

.recentOpusViewTitle,.recentOpusViewAuthor{
	font-size: 1.2em;
}
.recentOpusViewTitle{
	margin-right: 10px;
}
.recentOpusViewTime{
	float: right;
	margin-right: 20px;
}

.myGroup{
	float: left;
	width: 200px;
	/*background: white;*/
	padding: 20px;
}
.groupName{
	display: block;
	/*text-align: center;*/
	background: rgba(255,255,255,0.92);
	margin-top: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 10px;
	color: #AAA;
	border-bottom: 1px solid rgba(102,136,0,1);
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}
.groupName:hover{
	background: #680;
	color: white;
	/*border-bottom: 1px solid transparent;*/
}
.groupPart{
	margin-top: 32px;
}
.forMore{
	clear: both;
	text-align: center;
	background: #680;
	padding: 5px;
	margin-top: 5px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 2px solid white;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.forMore a{
	color: #CCC;
}
.forMore:hover{
	background: #c1d739;
	cursor: pointer;
}
.forMore:hover a{
	color: white;
}

.opusSeriesEdit{
	width: 700px;
	/*height: 500px;*/
	padding: 20px;
	position: fixed;
	z-index: 600;
	background: rgba(255,255,255,0.95);
	left: 50%;
	top: 10%;
	margin-left: -370px;
	box-shadow: 0 0 10px #CCC;
	display: none;
}
.introWords{
	float: left;
	margin-top: 20px;
}
#opusSeriesEditTitle{
	width: 550px;
	border: 1px solid rgba(102,163,0,0.4);
}
#opusSeriesEditDescription{
	width: 550px;
	border: 1px solid rgba(102,163,0,0.4);
	display: inline;
	height: 100px;
}
#opusSeriesEditPart2{
	display: none;
}
.tip{
	font-size: 0.9em;
	color: #AAA;
	margin: 0
}
.opusSeriesEditArea{
	float: left;
}
.selectedOpus,.availableOpus{
	float: left;
	width: 300px;
}
.opusSeriesChange{
	float: left;
	width: 80px;
	height: 60px;
}
#selectedOpusListWrap,#availableOpusListWrap{
	border: 1px solid rgba(102,163,0,0.4);
	height: 300px;
	overflow: auto;
}
#selectedOpusListWrap li,#availableOpusListWrap li{
	border-bottom: 1px solid rgba(102,163,0,0.4);
	padding: 10px;
	transition: 0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}
#selectedOpusListWrap li:hover,#availableOpusListWrap li:hover{
	border-bottom: 1px solid rgba(102,163,0,0.4);
	padding: 10px;
	background: #680;
	color: white;
	cursor: move;
}
.opusSeriesEditFunction{
	float: left;
	margin-top: 20px;
}
.opusSeriesEditFunction a{
	margin-right: 20px;
}