/*可以在这里添加你自己的css*/
.view{
	
}

pre{
	font-family:"Monaco",/* ← ← “Monaco”这个字体是为了纪念丁基友的*/
	"Inconsolata","Consolas","Bitstream Vera Sans Mono","Courier New"Courier,monospace !important;
	font-size: 15px;
	line-height: 25px;
}

p{
	color: rgb(34, 34, 34);
	font-family: 'Proxima Nova', 'Helvetica Neue', Arial, 'Microsoft YaHei', sans-serif;
	font-size: 13px;
	line-height: 27.59375px;
}

img{
	margin: 0px;
	padding: 0px;
	border: 0.5em solid rgb(255, 255, 255);
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	line-height: inherit;
	vertical-align: baseline;
	max-width: 100%;
	height: auto;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px;
	box-sizing: border-box;
}


