<div class="opusBasicInfo">
    <div class="firstLine">
        <div class="opusTime">{{ prettytime(article["submit_time"]) }}</div>
        <span class="opusAuthor">by <a href="#">{{ article["author"] }}</a></span>
        <div class="opusData">
            <div class="opusViewed">浏览：19102</div>
            <div class="opusGrade">得分：8.5</div>
            <div class="opusCollected">收藏：102</div>
            <div class="opusForwarded">转发：378</div>
        </div>
    </div>
    <div class="authorBasicInfo">
        <p class="">作者信息</p>
        <img src="{{ article["avatar"] }}" class="opusAluthorImage">
        <a href="#" class="opusAuthor">{{ article["author"] }}</a>
        <p class="authorMotto"></p>
    </div>
    <div class="opusTitle">
        <div class="opusMainTitle">{{ article["title"] }}</div>
    </div>
    {% if article["description"] %}
    <div class="opusDescription">
        {{ article["description"] }}
    </div>
    {% end %}
    {% if article["suit_for"] %}
    <div class="opusAppositeness">适合：{{ article["suit_for"] }}</div>
    {% end %}
</div>

<div class="opusMain">
    {% raw article["mainbody"] %}
</div>

<div class="opusSuffixes">
    {% if article["reference"] %}
    <div class="opusReference">参考来源：<a href="#">{{ article["reference"] }}</a>
    </div>
    {% end %}
    <div class="opusTag">Tags： <a href="#">技术</a><a href="#">2013极客人物</a><a href="#">404</a>
    </div>
    {% if None %}
    <div class="opusSeries">所属文辑其他文章：
        <a href="#">other1</a>
        <a href="#">other2</a>
    </div>
    {% end %}
    <div class="opusComment">
        <div class="opusCommentIntro"><a href="#">展开底部评论</a></div>
        <div class="buttomComment">
            <!-- bottom_comment begin -->
            <!-- bottom_comment end -->
            <form method="post">
                <textarea id="opusCommentData" class="input" type="text" name="opusCommentData"></textarea>
                <a id="buttomCommentSend" class="formButton" href="#">发送</a>
            </form>
        </div>
    </div>
</div>
