{% set i = 1 %}
{% for comment in [{"avatar": "", "username": "foo", "submittime": "14:00", "content": "content"}] %}
<li class="opusCommentList" style="display: list-item;">
    <a class="userImage" href="#">
        <img src="{{ avatarurl(comment["avatar"]) }}">
    </a>
    <div class="opusCommentMain">
        <div class="opusCommentListFirstLine">
            <div class="userName"><a href="#">{{ comment["username"] }}</a>
            </div>
            <span class="opusCommentPosition">#{{ i }}</span>
            {% set i += 1 %}
            <div class="timeShow">
                {{ prettytime(comment["submittime"]) }}
            </div>
        </div>
        <div class="opusCommentContent">
            {{ comment["content"] }}
        </div>
    </div>
</li>
{% end %}
