<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>梧桐</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-CN" />
        <meta name="Keywords" content="梧桐 文章 浏览 撰写 创作 小组" />
        <meta name="Description" content="梧桐" />
        <link rel="shortcut icon" href={{ static_url("css/image/favicon.ico") }} />
        <link rel="stylesheet" href={{ static_url("css/base.css") }} type="text/css" />
        <link rel="stylesheet" href={{ static_url("css/animation.css") }} type="text/css" />
    </head>
    <body>
        <iframe scrolling='no' frameborder='0' src='http://yibo.iyiyun.com/js/yibo404/key/1' width='640' height='462' style='display:block;'></iframe>
    </body>
</html>
