<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
    {% block head %}
        <title>
        {% block title %}
        {% end %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-CN" />
        <meta name="Keywords" content="梧桐 文章 浏览 撰写 创作 小组" />
        {% block meta_description %}
        <meta name="Description" content="梧桐" />
        {% end %}
        <link rel="shortcut icon" href="{{ static_url('css/image/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ static_url('css/base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('css/animation.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('css/imageUpload.css') }}" type="text/css" >
        {% block editor_css %}
        {% end %}
        {% block extra_css %}
        {% end %}
    {% end %}
    </head>
    <body class="preload">
    <div class="mask"></div>
    <form action="/u/avatar" class="dropzone imageUploader"></form>
    <div class="bigImage"><div class="bigImageContainer"><img src="#"></div></div>
    <div class="preBigImage"><img id="preBigImageCon" src="#"></div>
    <div class="errorPromptBox">aaa</div>
    <div class="loadingBoxWrap"><div class="loadingBox"><img src="{{ static_url("css/image/loading.gif") }}"></div></div>
    <a href="#" id="uploadImageBack" title="返回"></a>
    <a href="#" id="bigImageBack" title="返回"></a>
    {% block body %}
        <div class="header" id="header">
            <div class="navcontainer">
                <div class="navigation" id="navigation">
                    <div id="navLogo">
                        <a href="#">
                            <a href="/home.html" id="logo">梧 桐</a>
                        </a>
                    </div>
                    <div class="navLeft">
                        <a id="browse" href="/a/browse" accesskey="b">
                            <li>浏览</li>
                        </a>
                        <a id="create" href="/a/create" accesskey="w">
                            <li>创作</li>
                        </a>
                        <a id="group" href="/g/browse" accesskey="g">
                            <li>小组</li>
                        </a>
                    </div>
                    <div id="searchBox">
                        <form id="searchData" action="/search" name="searchData" target="_blank">
                            <input name="keyWord" type="text" class="input" id="keyWord" autocomplete="off" accesskey="s" placeholder="寻找作品，成员，小组" x-webkit-speech x-webkit-grammar="builtin:translate" onkeyup="showHint(this.value)"/>
                            <a href="#" type="submit" id="searchSubmitButton" class="formButton">搜索</a>
                            <div class="searchSuggestions noBorderBottom">
                            </div>
                        </form>
                    </div>
                    <div class="navrighton">
                        <a href="#" >
                            <li id="username">
                                <span id="usernameHover" href="#" accesskey="h"></span>
                                <div class="userExpand">
                                    <a href="#"><div id="myHomepage">我的主页</div></a>
                                    <div id="myCollection">我的收藏</div>
                                    <div id="myNote">我的便笺</div>
                                    <div id="logout">登出</div>
                                </div>
                            </li>
                        </a>
                        <div class="navrightonOption">
                            <a id="message" href="#">
                                <li>消息<span id="msgNum">
                                </span></li>
                            </a>
                            <a id="setting" href="#">
                                <li>设置</li>
                            </a>
                        </div>
                    </div>
                    <div class="navrightoff">
                        <a id="login" href="#" accesskey="i">
                            <li>登入</li>
                        </a>
                        <a id="register" href="#" accesskey="r">
                            <li>注册</li>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- login box -->
        <div id="lrBoxWrap">
            <div class="lrBox" id="loginBox">
                <form id="loginForm" name="loginForm" action="#" method="post">
                    <div class="loginList"><span class="inputTip">用户名/邮箱</span>
                        <input class="input" id="loginUsername" type="text" name="username" placeholder="用户名/邮箱" />
                    </div>
                    <div class="loginList"><span class="inputTip">密码</span>
                        <input class="input" id="loginPassword" type="password" name="password" placeholder="密码" />
                    </div>
                    <div id="loginListlast" class="loginList">
                    <a href="#" id="forgetPW">忘记密码？</a>
                    <a href="#" id="loginSubmitButton" class="formButton" name="submitButton" value="登陆">登入</a>
                    <div class="loginFunction">
                        <a href="#" id="turnToRegisterBox">切换至注册</a><br><a href="#" id="loginBack">返回</a>
                    </div>
                    </div>
                </form>
            </div>
            <div class="lrBox" id="registerBox">
                <form id="registerForm" name="registerForm" action="#" method="post">
                    <div class="registerList"><span class="inputTip">用户名</span>
                        <input class="input" id="registerUsername" type="text" name="username" placeholder="用户名" />
                    </div>
                    <div class="registerList"><span class="inputTip">邮箱</span>
                        <input class="input" id="registerEmail" type="text" name="email" placeholder="邮箱" />
                    </div>
                    <div class="registerList"><span class="inputTip">密码</span>
                        <input class="input" id="registerPassword" type="password" name="password" placeholder="密码" />
                    </div>
                    <div class="registerList"><span class="inputTip">重复密码</span>
                        <input class="input" id="registerRepassword" type="password" name="repassword" placeholder="重复密码" />
                    </div>
                    <div id="registerListLast" class="registerList"><a href="#" id="registerSubmitButton" class="formButton" name="submitButton" value="注册">注册</a>
                    <div class="registerFunction">
                        <a href="#" id="turnToLoginBox">切换至登入</a><br><a href="#" id="registerBack">返回</a>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- my message -->
        <div class="myMessageWarp">
            <div class="myMessage">
                <div class="myMessagePart">
                    <a id="systemInfoButton" class="myMessagePartButton" href="#">系统通知<span id="systemInfoNum"></span></a>
                    <a id="replyButton" class="myMessagePartButton" href="#">回复<span id="replyNum"></span></a>
                    <a id="opusPushButton" class="myMessagePartButton" href="#">推送<span id="opusPushNum"></span></a>
                    <a id="PMButton" class="myMessagePartButton" href="#">私人会话<span id="PMNum"></span></a>
                </div>
                <div class="myMessageContent">
                    <!-- 系统通知 -->
                    <!-- 具体情景类似以下，如果你觉得哪些項近期做不成的话就把他们删掉或注释掉 -->
                    <!-- 假定的系统帐号在全站创建之时导入，本身用作管理员帐号（初期可能没有管理员），初期用作系统提示的占位帐号，性质...和10086类似 -->
                    <!-- 触发事件在后续有交代 -->
                    <div class="systemInfo myMessagePartContent activeMessagePart">
                        <div class="mySystemInfoEle">
                            <li class="myMessagePartList">
                                <!-- 加入梧桐的欢迎消息，在帐号创立时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" /><!--假定的系统自动回复帐号的头像-->
                                    <div class="myMessageAddress">加入梧桐</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div><!--假定的系统自动回复帐号-->
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">欢迎来到梧桐这个有爱的大家庭～，希望您能在这里不断分享与提升自我。在使用梧桐前请务必阅读我们的文档 <a href="#">梧桐指南</a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 管理员提交全站公告之后触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">站内公告</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">梧桐已推出了 <a href="#">梧桐阅读(ver3.141)</a> Android客户端，您可以点击 <a href="#">这里</a> 获取更多信息 </div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 创建小组成功后触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">创建小组</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您已创建小组 <a href="/g/1">思存工作室养老院</a> ，系统默认指定您为该小组第一任组长。关于小组事务如需了解更多请点击<a href="#"> 这里 </a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 加入小组之后触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">加入小组</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您已加入小组 <a href="/g/1">PANTERA</a> ，点击 <a href="#">这里</a> 了解更多关于梧桐小组的信息</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 当组长任命“我”时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">组长任命</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您已被 <a href="/g/1">思存工作室养老院</a> 小组组长提议担任该小组新一任组长，<a href="#"> 同意 </a> | <a href="#"> 拒绝 </a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 当组长任命“我”时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">小组管理员任命</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您已被 <a href="/g/1">思存工作室养老院</a> 小组组长提议担任该小组管理员，<a href="#"> 同意 </a> | <a href="#"> 拒绝 </a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 当“我”被组长移除时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">退出小组</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您已被 <a href="/g/1">Eagles</a> 小组管理员移除该小组</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- “我”主动退出小组时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">退出小组</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您已退出 <a href="/g/1">Rammstein</a> 小组</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 他人接受了“我”的会话邀请时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">会话邀请</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="/user/flyMonster">flyMonster</a> 已接受了您的会话邀请，现在您可以点击<a href="#"> 这里 </a>与Ta开始聊天</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 他人拒绝了“我”的会话邀请时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">会话邀请</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="/user/flyMonster">flyMonster</a> 已拒绝了您的会话邀请</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 他人向"我"发出会话邀请时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">会话邀请</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="/user/flyDog">flyDog</a> 向您发起了会话邀请， <a href="#"> 同意</a> | <a href="#">拒绝</a> </div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 被他人关注时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">关注</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="/user/flyDog">flyCat</a> 关注了您，您的推送作品将会第一时间推送至Ta</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 关注了某人时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">关注</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">您关注了 <a href="/user/flyDog">flyFox</a>，现在您可以第一时间在 消息-推送 中得到Ta的推送作品</div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- ”我“的作品被管理员删除时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">作品删除</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">很遗憾，由于您的作品 <a href="#">像少年啦，飞驰</a> 涉嫌版权问题，梧桐已移除该作品，您也受到一次警告。在使用梧桐的过程中请务必遵守<a href="#">梧桐指南</a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- ”我“的作品被梧桐管理员判定为优秀作品时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">头衔授予</div>
                                    <div class="myMessageUserName"><a href="#">Wutong</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">由于您在作品 <a href="#">麦田里的守望者</a> 中的精彩表现，梧桐授予您 <a href="#">梧桐特殊贡献者 </a>的头衔，并将该作品摘录在 <a href="#">梧桐年鉴</a> 中，在此我们向您表示祝贺</div>
                                </div>
                            </li>
                        </div>
                        <div class="mySystemInfoTurnBox"></div>
                    </div>
                    <div class="reply myMessagePartContent">
                    <!-- 回复，具体情景类似以下 -->
                    <!-- 结构稍微改了一下，用户须点击[内容简介]，也就是myMessageBrief，才能到达对应的目的地，例如某个或话题，某篇文章 -->
                    <!-- 多了一个@功能，主要用于在[底评]里回复，如果近期做不成的话就把它注释掉 -->
                    <!-- 值得注意的是，出自同一个地方的回复，如果可以的话，我希望能够折成一条，就像手机qq里的消息一样，不过这个前端可以判断 -->
                        <div class="myReplyEle">
                            <li class="myMessagePartList">
                                <!-- 他人在”我“开启的话题中发送”chat“或者”topic“时触发，该提醒只在非私信小组中有效（判断是否为私信小组可以判断小组名是否包含”...与...的会话“） -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <!-- 话题的回复地址就像之前说的，展示小组名>>父话题名>>话题名 -->
                                    <div class="myMessageAddress">Kyleslight的同好会>>...一个测试用的话题A>>一个测试用的话题B</div>
                                    <div class="myMessageUserName"><a href="#">Kyleslight</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="#">既然是测试用的话题的话就不要那么认真了嘛，当然...</a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 他人在”我“的作品侧评中评论时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress"><a href="#">麦田里的守望者</a> -- 侧评</div>
                                    <div class="myMessageUserName"><a href="#">Kyleslight</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="#">观察细致入微，太厉害了</a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 他人在”我“的作品底评中评论时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress"><a href="#">像少年啦，飞驰</a> -- 底评</div>
                                    <div class="myMessageUserName"><a href="#">fly</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="#">为什么我想到了初中的一个同学</a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <!-- 他人在底评中@”我“并提交底评时触发 -->
                                <div href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">在 <a href="#">关于莉莉周的一切</a> 里提到我</div>
                                    <div class="myMessageUserName"><a href="#">flyCat</a></div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief"><a href="#">@loggerhead 跟你说过是这篇啦...</a></div>
                                </div>
                            </li>
                        </div>
                        <div class="myReplyTurnBox"></div>
                    </div>

                    <div class="opusPush myMessagePartContent">
                        <!-- 推送相对而言比较直接，你关注的人有了新作品，于是就有一条新的消息 -->
                        <div class="myPushEle">
                            <!-- 模板 -->
                            <li class="myMessagePartList">
                                <div class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="/user/{{!creater}}" />
                                    <div class="myMessageTitle"><a href="{{!url}}">{{!title}}</a></div>
                                    <div class="myMessageUserName"><a href="#">{{!creater}}</a></div>
                                    <div class="myMessageTime">{{!create_time}}</div>
                                    {{!if brief}}
                                    <div class="myMessagBrief"><a href="{{!url}}">{{!brief}}</a></div>
                                    {{!/if}}
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <div class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="/user/{{!creater}}" />
                                    <div class="myMessageTitle"><a href="/a/12">从 node.js 爬虫说起</a></div>
                                    <div class="myMessageUserName"><a href="#">flyCat</a></div>
                                    <div class="myMessageTime">2014-12-11</div>
                                    <div class="myMessagBrief"><a href="/a/12">前一阵子在学校内网填报奖学金时意外发现一个漏洞可以查看任意学生的详细资料，包括父母、成绩、身高、体重、感情状态等……</a></div>
                                </div>
                            </li>
                        </div>
                        <div class="myPushTurnBox"></div>
                    </div>
                    <div class="PM myMessagePartContent">
                        <!-- 比较直接，谁在私人会话组中发了消息就产生触发 -->
                        <!-- 同样如果有可能,来自同一人的回复需要折在同一栏里 -->
                        <div class="myPMEle">
                            <li class="myMessagePartList">
                                <div class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="/user/{{!creater}}" />
                                    <div class="myMessageTitle">与flyCat的私人会话</div>
                                    <div class="myMessageUserName"><a href="#">flyCat</a></div>
                                    <div class="myMessageTime">2014-12-11</div>
                                    <div class="myMessagBrief"><a href="/a/12">
                                    @chloerei 请问chloerei，用Ruby做爬虫有无啥学习材料推荐吗？能搜到的大多都是Python的</a></div>
                                </div>
                            </li>
                            <li class="myMessagePartList">
                                <div class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="/user/{{!creater}}" />
                                    <div class="myMessageTitle">与flyDog的私人会话</div>
                                    <div class="myMessageUserName"><a href="#">flyDog</a></div>
                                    <div class="myMessageTime">2014-12-11</div>
                                    <div class="myMessagBrief"><a href="/a/12">
                                    ruby；可以去看nokigir。。。s什么gem；
                                    忘记是什么拼的了</a></div>
                                </div>
                            </li>
                        </div>
                        <div class="myPushTurnBox"></div>
                    </div>
                </div>
                <a href="#" id="myMessageBack">返回</a>
            </div>
        </div>
        <!-- my collection -->
        <div class="myCollectionWarp">
            <div class="myCollection">
                <div class="myCollectionClass">
                    <a id="myOpusCollectionButton" class="myCollectionClassButton" href="#">作品</a>
                    <a id="myTopicCollectionButton" class="myCollectionClassButton" href="#">话题</a>
                    <!-- <a id="myCollectionFliter" class="myCollectionFliterButton" href="#">筛选器</a> -->
                </div>
                <div class="myOpusCollection myCollectionCon">
                    <script type="text/template" id="article_collection-template">
                        <li id="myCollectionList" class="myCollectionList">
                            <a href='/user/{{!author}}'>
                                <img class='myCollectionAuthorImage' src='{{!author_avatar}}' />
                            </a>
                            <div class='myCollectionRow'>
                                <a href='/a/{{!aid}}' class='myCollectionTitle'>{{!title}}</a>
                                <a class='myCollectionAuthor' href='/user/{{!author}}'>{{!author}}</a>
                            </div>
                            <div class='myCollectionRow'>
                                <div class='myCollectionTag'>
                                    {{!tags}}
                                    <a href='/search?type=article&tag={{!.}}'>{{!.}}</a>
                                    {{!/tags}}
                                </div>
                            </div>
                        </li>
                    </script>
                </div>
                <div class="myTopicCollection myCollectionCon">
                </div>
                
                <a href="#" id="myCollectionBack">返回</a>
            </div>
        </div>
        <!-- my note -->
        <div class="myNoteWrap">
            <div class="myNote">
                <div class="myNoteListWrapOutter">
                    <a href="#" id="addNote" class="myNoteList">创建便笺</a>
                    <script type="text/template" id="memo-template">
                        <a href='#' id='No_memo_{{!id}}' class='myNoteList' onclick='selectNote({{!id}})'>
                            {{!title}}
                        </a>
                    </script>
                    <div class="myNoteListWrap" id='_memo_template'>
                    </div>
                </div>
                <div class="myCurrentNoteArea">
                    <div class="myCurrentNoteHeader">
                        <input class="myCurrentNoteTitle" value="" placeholder="标题">
                        <div class="myCurrentNoteTime"></div>
                    </div>
                    <textarea class="myCurrentNoteContent" placeholder="添加内容">

                    </textarea>
                    <div class="myCurrentNoteOption">
                        <a href="#" id="deleteCurrentNote" class="formButton">删除</a>
                        <a href="#" id="saveCurrentNote" class="formButton">保存</a>
                        <a href="#" id="createNewNote" class="formButton">创建</a>
                    </div>
                    <a href="#" id="myNoteBack">返回</a>
                </div>
            </div>
        </div>
        <!-- my setting -->
        <div class="mySettingWrap">
            <div class="mySetting">
                <h2>站点设置</h2>
                <span class="tip">阅读页视线高度 </span><input type="text" name="viewOffsetHeight" id="viewOffsetHeight" value="150">像素<br>
                <h2>个人设置</h2>
                <span class="tip">允许任何人关注我 </span><input type="checkbox" name="follow" id="receiveFollow" checked="checked"><br>
                <span class="tip">允许任何人向我发起私人会话 </span><input type="checkbox" name="privateChat" id="receivePC" checked="checked"><br>
                <span class="tip">允许接受其他人@ </span><input type="checkbox" name="at" id="receiveAt" checked="checked"><br>
                <span class="tip">隐藏我的作品回复与最近浏览 </span><input type="checkbox" name="opusRelated" id="hideOpusRelated"><br>
                <span class="tip">隐藏我的小组回复 </span><input type="checkbox" name="groupComment" id="hideGC"><br>
                <a href="#" id="settingSubmit" class="formButton">更新</a>
                <a href="#" id="mySettingBack">返回</a>
            </div>
        </div>
        <!-- image upload -->
        <section id="main">
            <ul id="result_zone">
                <div class="clear"></div>
            </ul>
            <ul id="message_zone">
            </ul>
            <!-- Button and message in center -->
            <div id="first_load">
                <a id="add" title="上传文件"></a>
                <p>上传图片</p>
                <p>拖放图片到此处</p>
            </div>

            <!-- Upload pop-up -->
            <div id="upload_popup">
                <div id="pop_window">
                    <header>上传</header>
                    <section>
                        <!-- Tabs -->
                        <div id="method_change"><a id="normal">普通上传</a><a id="url" class="noact">URL上传</a>
                        </div>
                        <!-- Normal upload zone -->
                        <div id="normal_zone" class="zone">
                            <form id="normal_form" method="post" enctype="multipart/form-data">
                                <button id="file_select" type="button">选择文件</button>
                                <input type="file" id="file_list" name="files[]" accept="image/*" capture="filesystem camera" multiple="">
                                <input type="hidden" name="MAX_FILE_SIZE" value="67108864">
                                <input type="hidden" name="normal" value="upload">
                            </form>
                            <div id="file_review">
                            </div>
                        </div>
                        <!-- URL upload zone -->
                        <div id="url_zone" class="zone">
                            <textarea id="url_list" placeholder="请在此输入URL（包含“http://”），每行一个"></textarea>
                        </div>
                        <!-- Submit and Close buttons -->
                        <div id="submit_zone">
                            <button id="closepop" type="button">关闭</button>
                            <button id="submit" type="button">开始上传</button>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    {% block return_top %}
    <a id="return_top" href="#" title="回到顶部" class="none"></a>
    {% end %}
    {% block extra_div %}
    {% end %}
    <div class="footer" id="footer">
        {% block footer %}
        <p class="f1">&copy; 2014&nbsp;&nbsp;<a href="http://www.sicun.org/" target="_blank">Sicun Studio</a></p>
        {% end %}
    </div>
    {% block js %}
    <script type="text/javascript" src="{{ static_url("js/markup.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/dropzone.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/header.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/imageUpload.js") }}"></script>
    {% end %}
    {% block editor_js %}
    {% end %}
    {% block extra_js %}
    {% end %}
    {% end %}
    </body>
</html>
