<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
    {% block head %}
        <title>
        {% block title %}
        {% end %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-CN" />
        <meta name="Keywords" content="梧桐 文章 浏览 撰写 创作 小组" />
        {% block meta_description %}
        <meta name="Description" content="梧桐" />
        {% end %}
        <link rel="shortcut icon" href="{{ static_url('css/image/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ static_url('css/base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('css/animation.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('css/imageUpload.css') }}" type="text/css" >
        {% block editor_css %}
        {% end %}
        {% block extra_css %}
        {% end %}
    {% end %}
    </head>
    <body class="preload">
    <div class="mask"></div>
    <div class="bigImage"><div class="bigImageContainer"><img src="#"></div></div>
    <div class="preBigImage"><img id="preBigImageCon" src="#"></div>
    <div class="errorPromptBox">aaa</div>
    <div class="loadingBoxWrap"><div class="loadingBox"><img src="{{ static_url("css/image/loading.gif") }}"></div></div>
    <a href="#" id="uploadImageBack" title="返回"></a>
    <a href="#" id="bigImageBack" title="返回"></a>
    {% block body %}
        <div class="header" id="header">
            <div class="navcontainer">
                <div class="navigation" id="navigation">
                    <div id="navLogo">
                        <a href="#">
                            <a href="/home.html" id="logo">梧 桐</a>
                        </a>
                    </div>
                    <div class="navLeft">
                        <a id="browse" href="/a/browse" accesskey="b">
                            <li>浏览</li>
                        </a>
                        <a id="create" href="/a/create" accesskey="w">
                            <li>创作</li>
                        </a>
                        <a id="group" href="/g/browse" accesskey="g">
                            <li>小组</li>
                        </a>
                    </div>
                    <div id="searchBox">
                        <form id="searchData" action="/search" name="searchData" target="_blank">
                            <input name="keyWord" type="text" class="input" id="keyWord" autocomplete="off" accesskey="s" placeholder="寻找作品，成员，小组" x-webkit-speech x-webkit-grammar="builtin:translate" onkeyup="showHint(this.value)"/>
                            <a href="#" type="submit" id="searchSubmitButton" class="formButton">搜索</a>
                            <div class="searchSuggestions noBorderBottom">
                            </div>
                        </form>
                    </div>
                    <div class="navrighton">
                        <a href="#" >
                            <li id="username">
                                <span id="usernameHover" href="#" accesskey="h"></span>
                                <div class="userExpand">
                                    <a href="#"><div id="myHomepage">我的主页</div></a>
                                    <div id="myCollection">我的收藏</div>
                                    <div id="myNote">我的便笺</div>
                                    <div id="logout">登出</div>
                                </div>
                            </li>
                        </a>
                        <div class="navrightonOption">
                            <a id="message" href="#">
                                <li>消息<span id="msgNum">
                                </span></li>
                            </a>
                            <a id="setting" href="#">
                                <li>设置</li>
                            </a>
                        </div>
                    </div>
                    <div class="navrightoff">
                        <a id="login" href="#" accesskey="i">
                            <li>登入</li>
                        </a>
                        <a id="register" href="#" accesskey="r">
                            <li>注册</li>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- login box -->
        <div id="lrBoxWrap">
            <div class="lrBox" id="loginBox">
                <form id="loginForm" name="loginForm" action="#" method="post">
                    <div class="loginList"><span class="inputTip">用户名/邮箱</span>
                        <input class="input" id="loginUsername" type="text" name="username" placeholder="用户名/邮箱" />
                    </div>
                    <div class="loginList"><span class="inputTip">密码</span>
                        <input class="input" id="loginPassword" type="password" name="password" placeholder="密码" />
                    </div>
                    <div id="loginListlast" class="loginList">
                    <a href="#" id="forgetPW">忘记密码？</a>
                    <a href="#" id="loginSubmitButton" class="formButton" name="submitButton" value="登陆">登入</a>
                    <div class="loginFunction">
                        <a href="#" id="turnToRegisterBox">切换至注册</a><br><a href="#" id="loginBack">返回</a>
                    </div>
                    </div>
                </form>
            </div>
            <div class="lrBox" id="registerBox">
                <form id="registerForm" name="registerForm" action="#" method="post">
                    <div class="registerList"><span class="inputTip">用户名</span>
                        <input class="input" id="registerUsername" type="text" name="username" placeholder="用户名" />
                    </div>
                    <div class="registerList"><span class="inputTip">邮箱</span>
                        <input class="input" id="registerEmail" type="text" name="email" placeholder="邮箱" />
                    </div>
                    <div class="registerList"><span class="inputTip">密码</span>
                        <input class="input" id="registerPassword" type="password" name="password" placeholder="密码" />
                    </div>
                    <div class="registerList"><span class="inputTip">重复密码</span>
                        <input class="input" id="registerRepassword" type="password" name="repassword" placeholder="重复密码" />
                    </div>
                    <div id="registerListLast" class="registerList"><a href="#" id="registerSubmitButton" class="formButton" name="submitButton" value="注册">注册</a>
                    <div class="registerFunction">
                        <a href="#" id="turnToLoginBox">切换至登入</a><br><a href="#" id="registerBack">返回</a>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- my message -->
        <div class="myMessageWarp">
            <div class="myMessage">
                <div class="myMessagePart">
                    <a id="replyButton" class="myMessagePartButton" href="#">回复<span id="replyNum"></span></a>
                    <a id="opusPushButton" class="myMessagePartButton" href="#">推送<span id="opusPushNum"></span></a>
                </div>
                <div class="myMessageContent">
                    <div class="reply myMessagePartContent">
                        <div class="myReplyEle">
                            <li class="myMessagePartList">
                                <a href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">Kyleslight的同好会>>一个测试用的话题A>>一个测试用的话题B</div>
                                    <div class="myMessageUserName">Kyleslight</div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">既然是测试用的话题的话就不要那么认真了嘛</div>
                                </a>
                                <div class="myMessagePartExpand">
                                    既然是测试用的话题的话就不要那么认真了嘛<br/>对吧
                                </div>
                            </li>
                        </div>
                        <div class="myReplyTurnBox"></div>
                    </div>
                    <div class="opusPush myMessagePartContent">
                        <div class="myPushEle">
                            <li class="myMessagePartList">
                                <a href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageTitle">Unity 3D的互动应用</div>
                                    <div class="myMessageUserName">Kyleslight</div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                                </a>
                                <div class="myMessagePartExpand">
                                    As part of the Unity 4.3
                                </div>
                            </li>
                        </div>
                        <div class="myPushTurnBox"></div>
                    </div>
                    <div class="PMPush myMessagePartContent">
                        <div class="PMPushEle">
                            <li class="myMessagePartList">
                                <a href="#" class="myMessagePartInline">
                                    <img class='myMessageUserImage' src="" />
                                    <div class="myMessageAddress">这是一个测试用的私信</div>
                                    <div class="myMessageUserName">Kyleslight</div>
                                    <div class="myMessageTime">10-23 20:56</div>
                                    <div class="myMessagBrief">这是一个测试用的私信啊</div>
                                </a>
                                <div class="myMessagePartExpand">
                                    这是一个测试用的私信啊<br/>对吧
                                </div>
                            </li>
                        </div>
                        <div class="PMPushTurnBox"></div>
                    </div>
                </div>
                <a href="#" id="myMessageBack">返回</a>
            </div>
        </div>
        <!-- my collection -->
        <div class="myCollectionWarp">
            <div class="myCollection">
                <div class="myCollectionClass">
                    <a id="myOpusCollectionButton" class="myCollectionClassButton" href="#">作品</a>
                    <a id="myTopicCollectionButton" class="myCollectionClassButton" href="#">话题</a>
                    <a id="myCollectionFliter" class="myCollectionFliterButton" href="#">筛选器</a>
                </div>
                <div class="myOpusCollection myCollectionCon">
                    <script type="text/template" id="collection-template">
                        <li id="myCollectionList" class="myCollectionList">
                            <a href='/user/{{!author}}'>
                                <img class='myCollectionAuthorImage' src='{{!avatar}}' />
                            </a>
                            <div class='myCollectionRow'>
                                <a href='/a/{{!aid}}' class='myCollectionTitle'>{{!title}}</a>
                                <a class='myCollectionAuthor' href='/user/{{!author}}'>{{!author}}</a>
                            </div>
                            <div class='myCollectionRow'>
                                <div class='myCollectionTag'>
                                    {{!tags}}
                                    <a href='/tag/{{!name}}'>{{!name}}</a>
                                    {{!/tags}}
                                </div>
                                <span class='myCollectionTime'>收藏时间: {{!create_time}}</span>
                            </div>
                        </li>
                    </script>
                </div>
                <div class="myTopicCollection myCollectionCon">
                </div>
                <div class="myCollectionPageTurning"><a href="#">上一页 </a> <a href="#"> 下一页</a></div>
                <a href="#" id="myCollectionBack">返回</a>
            </div>
        </div>
        <!-- my note -->
        <div class="myNoteWrap">
            <div class="myNote">
                <div class="myNoteListWrapOutter">
                    <a href="#" id="addNote" class="myNoteList">创建便笺</a>
                    <script type="text/template" id="memo-template">
                        <a href='#' id='No_memo_{{!id}}' class='myNoteList' onclick='selectNote({{!id}})'>
                            {{!title}}
                        </a>
                    </script>
                    <div class="myNoteListWrap" id='_memo_template'>
                    </div>
                </div>
                <div class="myCurrentNoteArea">
                    <div class="myCurrentNoteHeader">
                        <input class="myCurrentNoteTitle" value="" placeholder="标题">
                        <div class="myCurrentNoteTime"></div>
                    </div>
                    <textarea class="myCurrentNoteContent" placeholder="添加内容">

                    </textarea>
                    <div class="myCurrentNoteOption">
                        <a href="#" id="deleteCurrentNote" class="formButton">删除</a>
                        <a href="#" id="saveCurrentNote" class="formButton">保存</a>
                        <a href="#" id="createNewNote" class="formButton">创建</a>
                    </div>
                    <a href="#" id="myNoteBack">返回</a>
                </div>
            </div>
        </div>
        <!-- my setting -->
        <div class="mySettingWrap">
            <div class="mySetting">
                <h2>站点设置</h2>
                <span class="tip">阅读页视线高度 </span><input type="text" name="viewOffsetHeight" id="viewOffsetHeight" value="150">像素<br>
                <h2>个人设置</h2>
                <span class="tip">允许任何人关注我 </span><input type="checkbox" name="follow" id="receiveFollow" checked="checked"><br>
                <span class="tip">允许任何人向我发起私人会话 </span><input type="checkbox" name="privateChat" id="receivePC" checked="checked"><br>
                <span class="tip">允许接受其他人@ </span><input type="checkbox" name="at" id="receiveAt" checked="checked"><br>
                <span class="tip">隐藏我的作品回复与最近浏览 </span><input type="checkbox" name="opusRelated" id="hideOpusRelated"><br>
                <span class="tip">隐藏我的小组回复 </span><input type="checkbox" name="groupComment" id="hideGC"><br>
                <a href="#" id="settingSubmit" class="formButton">更新</a>
                <a href="#" id="mySettingBack">返回</a>
            </div>
        </div>
        <!-- image upload -->
        <section id="main">
            <ul id="result_zone">
                <div class="clear"></div>
            </ul>
            <ul id="message_zone">
            </ul>
            <!-- Button and message in center -->
            <div id="first_load">
                <a id="add" title="上传文件"></a>
                <p>上传文件</p>
                <p>拖放文件到此处</p>
            </div>

            <!-- Upload pop-up -->
            <div id="upload_popup">
                <div id="pop_window">
                    <header>上传</header>
                    <section>
                        <!-- Tabs -->
                        <div id="method_change"><a id="normal">普通上传</a><a id="url" class="noact">URL上传</a>
                        </div>
                        <!-- Normal upload zone -->
                        <div id="normal_zone" class="zone">
                            <form id="normal_form" method="post" enctype="multipart/form-data">
                                <button id="file_select" type="button">选择文件</button>
                                <input type="file" id="file_list" name="files[]" accept="image/*" capture="filesystem camera" multiple="">
                                <input type="hidden" name="MAX_FILE_SIZE" value="67108864">
                                <input type="hidden" name="normal" value="upload">
                            </form>
                            <div id="file_review">
                            </div>
                        </div>
                        <!-- URL upload zone -->
                        <div id="url_zone" class="zone">
                            <textarea id="url_list" placeholder="请在此输入URL（包含“http://”），每行一个"></textarea>
                        </div>
                        <!-- Submit and Close buttons -->
                        <div id="submit_zone">
                            <button id="closepop" type="button">关闭</button>
                            <button id="submit" type="button">开始上传</button>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    {% block return_top %}
    <a id="return_top" href="#" title="回到顶部" class="none"></a>
    {% end %}
    {% block extra_div %}
    {% end %}
    <div class="footer" id="footer">
        {% block footer %}
        <p class="f1">&copy; 2014&nbsp;&nbsp;<a href="http://www.sicun.org/" target="_blank">Sicun Studio</a></p>
        {% end %}
    </div>
    {% block js %}
    <script type="text/javascript" src="{{ static_url("js/markup.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/header.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui.js") }}"></script>
    <!-- TODO -->
    <script type="text/javascript" src="{{ static_url("js/imageUpload.js") }}"></script>
    {% end %}
    {% block editor_js %}
    {% end %}
    {% block extra_js %}
    {% end %}
    {% end %}
    </body>
</html>
