{% extends "base_hl.html" %}
{% block extra_css %}
    <link rel="stylesheet" href={{ static_url("css/opus.css") }} type="text/css" />
{% end %}
{% block editor_js %}
    <script type="text/javascript" src={{ static_url("js/shCore.js") }}></script>
    <script type="text/javascript" src={{ static_url("js/allhl.js") }}></script>
    <script type="text/javascript" src={{ static_url("ueditor/ueditor.config.js") }}></script>
    <script type="text/javascript" src={{ static_url("ueditor/ueditor.all.min.js") }}></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
{% end %}
{% block extra_js %}
{% end %}
