{% extends "base_hl.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ static_url("css/browse.css") }}" type="text/css" />
{% end %}
{% block extra_div %}
    <!-- main view -->
	<div class="mainViewWarp">
        <div class="mainView">
            <div class="opusType">
                <span href="#" class="speOpusTypeItem" >梧桐树下</span>
                <a href="#" class="opusTypeItem activeOpusTypeItem">文章</a>
                <a href="#" class="opusTypeItem">片段</a>
                <a href="#" class="opusTypeItem">摄影</a>
                <a href="#" class="opusTypeItem">绘画</a>
                <a href="#" class="opusTypeItem">项目</a>
                <span href="#" class="speOpusTypeItem" >你我共在</span>
            </div>
            <div class="opusFliter">
                <a href="#" id="byTime"></a>
            </div>
            <div class="opusClass">
                <div class="opusClassDivision activeClassDivision" id="articleClass">
                    <a href="#" class="opusClassItem activeOpusClassItem">综合</a>
                    <a href="?tag=学科" class="opusClassItem">学科</a>
                    <a href="?tag=技术" class="opusClassItem">技术</a>
                    <a href="?tag=教程" class="opusClassItem">教程</a>
                    <a href="?tag=文学" class="opusClassItem">文学</a>
                    <a href="?tag=发现" class="opusClassItem">发现</a>
                    <a href="?tag=日常" class="opusClassItem">日常</a>
                    <a href="?tag=随笔" class="opusClassItem">随笔</a>
                    <a href="?tag=娱乐" class="opusClassItem">娱乐</a>
                    <a href="?tag=杂" class="opusClassItem">杂</a>
                </div>
                <div class="opusClassDivision" id="fragmentClass">
                    <a href="#" class="opusClassItem activeOpusClassItem">综合</a>
                    <a href="?tag=问答" class="opusClassItem">问答</a>
                    <a href="?tag=idea" class="opusClassItem">idea</a>
                    <a href="?tag=状态" class="opusClassItem">状态</a>
                    <a href="?tag=心情" class="opusClassItem">心情</a>
                    <a href="?tag=推荐" class="opusClassItem">推荐</a>
                    <a href="?tag=语录" class="opusClassItem">语录</a>
                    <a href="?tag=段子" class="opusClassItem">段子</a>
                    <a href="?tag=周边" class="opusClassItem">周边</a>
                    <a href="?tag=杂" class="opusClassItem">杂</a>
                </div>
                <div class="opusClassDivision" id="photographyClass">
                    <a href="#" class="opusClassItem activeOpusClassItem">综合</a>
                    <a href="?tag=人像" class="opusClassItem">人像</a>
                    <a href="?tag=风光" class="opusClassItem">风光</a>
                    <a href="?tag=纪实" class="opusClassItem">纪实</a>
                    <a href="?tag=静物" class="opusClassItem">静物</a>
                    <a href="?tag=动物" class="opusClassItem">动物</a>
                    <a href="?tag=建筑" class="opusClassItem">建筑</a>
                    <a href="?tag=生态" class="opusClassItem">生态</a>
                    <a href="?tag=游记" class="opusClassItem">游记</a>
                    <a href="?tag=杂" class="opusClassItem">杂</a>
                </div>
                <div class="opusClassDivision" id="paintingClass">
                    <a href="#" class="opusClassItem activeOpusClassItem">综合</a>
                    <a href="?tag=手绘" class="opusClassItem">手绘</a>
                    <a href="?tag=故事" class="opusClassItem">故事</a>
                    <a href="?tag=CG" class="opusClassItem">CG</a>
                    <a href="?tag=水彩" class="opusClassItem">水彩</a>
                    <a href="?tag=纹案" class="opusClassItem">纹案</a>
                    <a href="?tag=建筑" class="opusClassItem">建筑</a>
                    <a href="?tag=平面" class="opusClassItem">平面</a>
                    <a href="?tag=概念" class="opusClassItem">概念</a>
                    <a href="?tag=杂" class="opusClassItem">杂</a>
                </div>
                <div class="opusClassDivision" id="projectClass">
                    <a href="#" class="opusClassItem activeOpusClassItem">综合</a>
                    <a href="?tag=Web" class="opusClassItem">Web</a>
                    <a href="?tag=Android" class="opusClassItem">Android</a>
                    <a href="?tag=IOS" class="opusClassItem">IOS</a>
                    <a href="?tag=linux" class="opusClassItem">linux</a>
                    <a href="?tag=Mac OS" class="opusClassItem">Mac OS</a>
                    <a href="?tag=Windows" class="opusClassItem">Windows</a>
                    <a href="?tag=Game" class="opusClassItem">Game</a>
                    <a href="?tag=原型" class="opusClassItem">原型</a>
                    <a href="?tag=杂" class="opusClassItem">杂</a>
                </div>
            </div>
            <div class="opus">

            {% for article in articles %}
                <li class="opusShow article">
                    <a href="/user/{{ article['author'] }}">
                        <img src="{{ avatarurl(article["author_avatar"]) }}" class="opusAluthorImage">
                    </a>
                    <div class="opusBasicInfo">
                        <a href="/a/{{ article['aid'] }}" class="opusTitle" accesskey='No_article_{{ article["aid"] }}'>
                            {{ article["title"] }}
                        </a>
                        <br/>
                        <a href="/user/{{ article['author'] }}" class="opusAuthor">
                            {{ article["author"] }}
                        </a>
                        {% if article["intro"] %}
                        <div class="opusBrief">
                            {{ article["intro"] }}
                        </div>
                        {% end %}
                        <div class="opusAttached">
                            {% if article["tags"] %}
                            <span class="opusTag">
                            {% for tag in article["tags"] %}
                                <a href="/tag/{{ tag }}">{{ tag }}</a>
                            {% end %}
                            </span>
                            {% end %}
                            <span class="opusTime">{{ prettytime(article["modify_time"]) }}</span>
                        </div>
                    </div>
                </li>
            {% end %}
            </div>
        </div>
    </div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/browse.js") }}"></script>
{% end %}
