{% extends "base_hl.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ static_url("css/browse.css") }}" type="text/css" />
{% end %}
{% block extra_div %}
    <!-- main view -->
	<div class="mainViewWarp">
        <div class="mainView">
            <div class="opusType">
                <span href="#" class="speOpusTypeItem" >梧桐树下</span>
                <a href="#" class="opusTypeItem activeOpusTypeItem">文章</a>
                <a href="#" class="opusTypeItem">片段</a>
                <a href="#" class="opusTypeItem">摄影</a>
                <a href="#" class="opusTypeItem">绘画</a>
               <!--  <a href="#" class="opusTypeItem">音乐</a>
                <a href="#" class="opusTypeItem">视频</a> -->
                <a href="#" class="opusTypeItem">项目</a>
                <span href="#" class="speOpusTypeItem" >你我共在</span>
            </div>
            <div class="opusFliter">
                <a href="#" id="byTime"></a>
            </div>
            <div class="opusClass">
                <div class="opusClassDivision">
                    <a href="#" class="opusClassItem activeOpusClassItem">综合</a>
                    <a href="#" class="opusClassItem">学科</a>
                    <a href="#" class="opusClassItem">技术</a>
                    <a href="#" class="opusClassItem">教程</a>
                    <a href="#" class="opusClassItem">文学</a>
                    <a href="#" class="opusClassItem">发现</a>
                    <a href="#" class="opusClassItem">日常</a>
                    <a href="#" class="opusClassItem">随笔</a>
                    <a href="#" class="opusClassItem">娱乐</a>
                    <a href="#" class="opusClassItem">杂</a>
                </div>
            </div>
            <div class="opus">

            {% for aitem in article_list %}
                {% module MyModule('article_list.html', article_list=aitem) %}
            {% end %}

            </div>
        </div>
    </div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/browse.js") }}"></script>
{% end %}
