<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>创作 - 梧桐</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta name="Keywords" content="梧桐 文章 浏览 撰写 创作 小组" />
		<meta name="Description" content="梧桐文章" />
        <link rel="shortcut icon" href="{{ static_url("css/image/favicon.ico") }}" />
		<link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css" />
    	<link rel="stylesheet" href="{{ static_url("css/create.css") }}" type="text/css" />
    	<link rel="stylesheet" href="{{ static_url("css/animation.css") }}" type="text/css" />
    	<link rel="stylesheet" href="{{ static_url("css/shCoreEclipse.css") }}" type="text/css" />
	</head>
	<body class="preload">
<!-- header -->
    <div class="header" id="header">
        <div class="navcontainer">
            <div class="navigation" id="navigation">
                <div id="navLogo">
                    <a href="#">
                        <img id="logo" src="{{ static_url("css/image/logo.png") }}">
                    </a>
                </div>
                <div class="navLeft">
                    <a id="browse" href="/browse.html">
                        <li>浏览</li>
                    </a>
                    <a id="create" href="#">
                        <li id="thisPage">创作</li>
                    </a>
                    <a id="group" href="/g/1">
                        <li>小组</li>
                    </a>
                </div>
                <div id="searchBox">
                    <form id="searchData" action="/search" name="searchData" target="_blank">
                        <input name="keyWord" type="text" class="input" id="keyWord" autocomplete="on" accesskey="s" placeholder="寻找作品，成员，小组" x-webkit-speech x-webkit-grammar="builtin:translate" />
                        <a href="#" type="submit" id="searchSubmitButton" class="formButton">搜索</a>
                    </form>
                </div>
                <div class="navrighton">
                    <a href="#">
                        <li id="username">
                            <span id="usernameHover" href="#"></span>
                            <div class="userExpand">
                                <div id="myHomepage">我的主页</div>
                                <div id="myCollection">我的收藏</div>
                                <div id="myNote">我的便笺</div>
                                <div id="logout">登出</div>
                            </div>
                        </li>
                    </a>
                    <div class="navrightonOption">

                        <a id="message" href="#">
                            <li>消息<span id="msgNum">19</span></li>
                        </a>
                        <a id="setting" href="#">
                            <li>设置</li>
                        </a>
                    </div>
                </div>
                <div class="navrightoff">
                    <a id="login" href="#">
                        <li>登入</li>
                    </a>
                    <a id="register" href="#">
                        <li>注册</li>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- login box -->
    <div id="lrBoxWrap">
        <div class="lrBox" id="loginBox">
            <form id="loginForm" name="loginForm" action="#" method="post">
                <div class="loginList"><span class="inputTip">用户名/邮箱</span>
                    <input class="input" id="loginUsername" type="text" name="username" placeholder="用户名/邮箱" />
                </div>
                <div class="loginList"><span class="inputTip">密码</span>
                    <input class="input" id="loginPassword" type="password" name="password" placeholder="密码" />
                </div>
                <div id="loginListlast" class="loginList"><a href="#" id="loginSubmitButton" class="formButton" name="submitButton" value="登陆">登入</a>  <a href="#" id="loginBack">返回</a>
                </div>
            </form>
        </div>
        <div class="lrBox" id="registerBox">
            <form id="registerForm" name="registerForm" action="#" method="post">
                <div class="registerList"><span class="inputTip">用户名</span>
                    <input class="input" id="registerUsername" type="text" name="username" placeholder="用户名" />
                </div>
                <div class="registerList"><span class="inputTip">邮箱</span>
                    <input class="input" id="registerEmail" type="text" name="email" placeholder="邮箱" />
                </div>
                <div class="registerList"><span class="inputTip">密码</span>
                    <input class="input" id="registerPassword" type="password" name="password" placeholder="密码" />
                </div>
                <div class="registerList"><span class="inputTip">重复密码</span>
                    <input class="input" id="registerRepassword" type="password" name="repassword" placeholder="重复密码" />
                </div>
                <div id="registerListLast" class="registerList"><a href="#" id="registerSubmitButton" class="formButton" name="submitButton" value="注册">注册</a>  <a href="#" id="registerBack">返回</a>
                </div>
            </form>
        </div>
    </div>
    <!-- my message -->
    <div class="myMessageWarp">
        <div class="myMessage">
            <div class="myMessagePart">
                <a id="siteBulletinButton" class="myMessagePartButton" href="#">全站公告<span id="siteBulletinNum">1</span></a>
                <a id="replyButton" class="myMessagePartButton" href="#">回复<span id="replyNum">5</span></a>
                <a id="opusPushButton" class="myMessagePartButton" href="#">推送<span id="opusPushNum">12</span></a>
                <a id="PMButton" class="myMessagePartButton" href="#">私信<span id="PMNum">1</span></a>                
            </div>
            <div class="myMessageContent">
                <div class="siteBulletin myMessagePartContent activeMessagePart">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">第六次团队大会</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ
                        </div>
                    </li>
                </div>
                <div class="reply myMessagePartContent">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageAddress">Kyleslight的同好会>>一个测试用的话题A>>一个测试用的话题B</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">既然是测试用的话题的话就不要那么认真了嘛</div>
                        </a>
                        <div class="myMessagePartExpand">
                            既然是测试用的话题的话就不要那么认真了嘛<br/>对吧
                        </div>
                    </li>
                </div>
                <div class="opusPush myMessagePartContent">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>`
                </div>
                <div class="PMPush myMessagePartContent">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageAddress">这是一个测试用的私信</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">这是一个测试用的私信啊</div>
                        </a>
                        <div class="myMessagePartExpand">
                            这是一个测试用的私信啊<br/>对吧
                        </div>
                    </li>
                </div>
            </div>
            <a href="#" id="myMessageBack">返回</a>
        </div>
    </div>
    <!-- my collection -->
    <div class="myCollectionWarp">
        <div class="myCollection">
            <div class="myCollectionClass">
                <a id="myOpusCollectionButton" class="myCollectionClassButton" href="#">作品</a>
                <a id="myTopicCollectionButton" class="myCollectionClassButton" href="#">话题</a>
                <a id="myCollectionFliter" class="myCollectionClassButton" href="#">筛选器</a>
            </div>
            <div class="myOpusCollection">
                <li class="myCollectionList">
                <a href="#"><img class="myCollectionAuthorImage" src="{{ static_url("css/image/test.png") }}" /></a>
                    <div class="myCollectionRow">                        
                        <a href="#" class="myCollectionTitle">基于Unity3D的互动应用</a><a class="myCollectionAuthor" href="#">Kyleslight</a>
                    </div>
                    <div class="myCollectionRow">
                        <div class="myCollectionTag"><a href="#">aaa</a><a href="#">bbb</a><a href="#">ccc</a></div>
                        <span class="myCollectionTime">收藏时间 : 11-11 11:11</span>
                    </div>
                </li>
            </div>
            <div class="myTopicCollection">
            </div>
            <div class="myCollectionPageTurning"><a href="#">上一页 </a> <a href="#"> 下一页</a></div>
            <a href="#" id="myCollectionBack">返回</a>
        </div>
    </div>
    <!-- my note -->
    <div class="myNoteWrap">
        <div class="myNote">
            <div class="myNoteListWrapOutter">
                <a href="#" id="addNote" class="myNoteList">add a note</a>
                <div class="myNoteListWrap">
                    <a href="#" class="myNoteList">the first note</a>
                    <a href="#" class="myNoteList">the second note</a>
                    <a href="#" class="myNoteList">the third note</a>
                    <a href="#" class="myNoteList">the fourth note</a>
                    <a href="#" class="myNoteList">the fifth note</a>
                    <a href="#" class="myNoteList">the sixth note</a>
                    <a href="#" class="myNoteList">the seventh note</a>
                    <a href="#" class="myNoteList">the first note</a>
                    <a href="#" class="myNoteList">the second note</a>
                    <a href="#" class="myNoteList">the third note</a>
                    <a href="#" class="myNoteList">the fourth note</a>
                    <a href="#" class="myNoteList">the fifth note</a>
                    <a href="#" class="myNoteList">the sixth note</a>
                    <a href="#" class="myNoteList">the seventh note</a>
                    <a href="#" class="myNoteList">the first note</a>
                    <a href="#" class="myNoteList">the second note</a>
                    <a href="#" class="myNoteList">the third note</a>
                    <a href="#" class="myNoteList">the fourth note</a>
                    <a href="#" class="myNoteList">the fifth note</a>
                    <a href="#" class="myNoteList">the sixth note</a>
                    <a href="#" class="myNoteList">the seventh note</a>
                </div>
            </div>
            <div class="myCurrentNoteArea">
                <div class="myCurrentNoteHeader">
                    <input class="myCurrentNoteTitle" value="the first note">
                    <div class="myCurrentNoteTime">10-22 12:30</div>
                </div>
                <textarea class="myCurrentNoteContent">
                    摇晃得可真厉害。
                    在几十年、甚或几百年前曾经铺设柏油的道路，如今变成了不见半点人影的荒废道路，自左右两侧涌入的杂草与血管般的草根，让这里逐渐形成一片混沌的样貌。
                    货物拖车漫不经心地踏过这样不成道路的道路。
                    乘坐的感觉只能用一句非常糟糕来形容。
                    每当车子越过障碍物时，就会造成货架上些许冲击……然后再进一步传到和货架上的木箱待在一起的我身上。
                    我埋怨着原以为在货架上旅行很优雅的自己，实在太愚蠢了。
                    难得有机会可以在花朵恣意绽满的街道上旅行，但由于屁股实在太过疼痛，根本无心去欣赏。
                    心情上则近似于多娜多娜（Donna，Donna）。（注：知名世界民谣，歌词描述一头即将被卖到市场去的小牛，旋律温馨中带着悲伤。）
                    「倘若乖乖坐在副驾驶座的话……不。」
                    我喃喃自语，但旋即否定了自己的想法。坐在副驾驶座，就意味着必须面临坐在驾驶座的商队队长单方面的问话。对于怕生而且一紧张脑袋就一片空白的我而言，那段时间内应该会磨损削薄我的神经。
                </textarea>
                <div class="myCurrentNoteOption">
                    <a href="#" id="deleteCurrentNote" class="formButton">删除</a>
                    <a href="#" id="saveCurrentNote" class="formButton">保存</a>
                </div>
                <a href="#" id="myNoteBack">返回</a>
            </div>
        </div>
    </div>
    <!-- return to top -->
    <a id="return_top" href="#" title="回到顶部" class="none"></a>
	<div class="write">
		<form id="textdata" name="textdata" action="wutongshow.php" method="post">
			<div class="maindata">
				<div id="formlistfirst" class="formlist"><span class="inputTip"><a href="#" title="标题说明">标题</a></span>  <input id="arttitle" class="input" type="text" name="title" placeholder="填写标题" /></div>
				<div class="formlisttip" id="formlisttip1"></div>

				<div class="formlist"><span class="inputTip"><a href="#" title="副标题说明">副标题</a></span>  <input class="input" type="text" name="subtitle" placeholder="填写副标题（可选）" /></div>
				<div class="formlisttip" id="formlisttip2">在副标题中添加主标题中没有涉及到的内容，对主标题进行补充说明，例如：<br/>（主标题）El Psy Congroo  <br/>（副标题）那些时间里的那些人们<br/>方式没有绝对的限定，根据个人需要而论。</div>

				<div id="formlistfourth" class="formlist"><span class="inputTip"><a href="#" title="描述说明">描述</a></span>  <textarea id="describe" class="input" type="text" name="describe" placeholder="填写描述"></textarea></div>
				<div class="formlisttip" id="formlisttip3">描述的方式比较随意。一般而言，描述用于读者在浏览文章信息时作为文章的展示文字使用。<br/>描述中可以概览全文，也可以阐述自己的写作目的，提示引导读者等。</div>

				<div class="formlist"><span class="inputTip"><a href="#" title="适合说明">适合</a></span>  <input class="input" type="text" name="suit" placeholder="这里注明适合人群，人群之间用';'隔开（可选）" /></div>
				<div class="formlisttip" id="formlisttip4">适合用于提示读者类别。<br/>例如当文章涉及专业性较强的领域时可能需要读者满足一定条件才能没有障碍地阅读。<br/>一篇Python的建站指南可能需要读者具有一定Python编程基础与网站开发基础，作者可以这样写：<br/>具有Python编程经验;具有网站开发经验;<br/>在另外一些情况下，作者可能需要对读者进行一些提示，例如文章的内容涉及剧透，或者有不适内容希望拒绝一部分读者。<br/>请注意，“适合”仅作为一种提示，并没有阻止读者继续浏览的绝对权力。</div>

				
				<div id="speformlist" class="formlist"><span id="speinputtip" class="inputTip"><a href="#" title="正文说明">正文</a></span></div>
				<div class="formlisttip" id="formlisttip5">这里只是对正文编辑的部分提示，如果需要较为系统的帮助请参考我们的 <a href="#" target="_blank">梧桐指南</a><br/>1.正文编辑对文章内容没有任何限定，但这并不意味着任何人可以随意创作可能让他人感到不适的文章。创作前请确保你的文章不属于无效文章的范畴。<br/>2.可部分引用其他文献，但请确保作品的原创性。<br/>3.富文本编辑器目前支持表格创建，图片本地上传，代码块创建，合理运用这些工具可能为你的文章增色。<br/>4.需要应用公式编辑可以在 <a href="http://www.codecogs.com/latex/eqneditor.php" target="_blank">在线Latex公式编辑器</a> 创建公式gif图片，将图拖拽至你正在编辑的地方即可。<br/>5.需要应用在线图表编辑可以在<a href='http://www.onlinecharttool.com/' target="_blank"> 在线图表编辑器 </a>创建图表，将图拖拽至你正在编辑的地方即可。<br/>6.目前富文本编辑器在全屏的时候可能会出现滚动条不能滚动问题，可调整浏览器大小解决。</div>
				<div class="formlist"><textarea id="textArea" name="textArea" cols="100" rows="14">正文从这里开始</textarea></div>

				<div class="formlist"><span class="inputTip"><a href="#" title="引用来源说明">引用来源</a></span> <textarea id="reference" class="input" type="text" name="reference" placeholder="这里注明引用来源，引用格式为'···:···;',冒号前为来源说明，冒号后为引用地址（可选）" draggable="false"></textarea></div>
				<div class="formlisttip" <div class="formlisttip" id="formlisttip6">当你的文章引用到文献的部分片段时，请在引用来源处注明，否则，此文章可能带来的版权问题将由作者本人承担。<br/>在引用时请注意被引用源的许可条件，例如用于非商业性质。<br/>任何本站公开文章可视为引用源，作者可以以非商业目的部分引用这些引用源，并在“引用来源”处注明其ART号，例如：<br/>在梧桐创建之时:ART1;<br/>或者<br/>在梧桐创建之时:http://www.wutong.com/ART1;</div>

				<div class="formlist"><span class="inputTip"><a href="#" title="合作编辑说明">合作编辑</a></span>  <input class="input" type="text" name="partner" placeholder="这里注明合作编辑者（可选）" /></div>
				<div class="formlisttip" id="formlisttip7"></div>

				<div id="formlistlast" class="formlist"><span class="inputTip"><a href="#" title="Tag说明">Tags</a></span>  <input class="input" type="text" name="tags" placeholder="这里输入Tag，Tag之间用';'隔开，默认Tag为一级分类" /></div>
				<div class="formlisttip" id="formlisttip8"></div>
			</div>
			<a href="javascript:void(0)" id="artsubmitButton" class="formButton" name="submitButton" title="提交你的文章">提交</a>
		</form>
	</div>
	<!--<script type="text/javascript"> var editor = CKEDITOR.replace('textArea');  </script>-->
	<div class="footer" id="footer">
				<p class="f1">&copy; 2013&nbsp;&nbsp;<a href="http://www.sicun.org/">Sicun Studio</a></p>
	</div>
	<script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/create.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/header.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/shCore.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/allhl.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("ueditor/ueditor.config.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("ueditor/ueditor.all.min.js") }}"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    <script type="text/javascript">
        var editor = new UE.ui.Editor({toolbars: [["undo","redo","bold","italic","fontsize","forecolor","inserttable","link","insertimage","blockquote","insertcode"]],initialFrameWidth:1060,initialFrameHeight:600});
        textarea: '#textArea';
        editor.render('textArea');
    </script>
	</body>
</html>