{% extends "base_edit.html" %}
{% block extra_div %}
	<div class="write">
        <div id="temTextData"></div>
		<form id="textdata" name="textdata" action="/a/create" method="post">
			<div class="maindata">
                <div id="opusTypeOption" >
                    <div class="opusTypeArea">
                        <a href="#" title="作品类型" class="opusTypeTip">选择作品类型</a>
                        <a href="#" class="opusType activeOpusType">文章</a>
                        <a href="#" class="opusType">片段</a>
                        <a href="#" class="opusType">摄影</a>
                        <a href="#" class="opusType">绘画</a>
                        <a href="#" class="opusType">项目</a>
                    </div>
                </div>
                <div id="resourceForm" class="formlist"><span class="inputTip">资源</span>
                    <input id="fileResource" class="input" type="file" name="resource" placeholder="这里添加资源内容" value="选择文件" />
                </div>

                <div id="imageresourceForm" class="formlist mainImageUpload"><span class="inputTip">照片</span>
                    <div id="first_load">
                        <a id="add" title="上传文件"></a>
                        <p>上传文件</p>
                        <p>拖放文件到此处</p>
                    </div>
                </div>

				<div id="titleForm" class="formlist"><span class="inputTip">标题</span>  <input id="title" class="input" type="text" name="title" placeholder="填写标题" /></div>

				<div id="forewordForm" class="formlist"><span class="inputTip">引言</span>  <textarea id="foreword" class="input" type="text" name="describe" placeholder="填写引言（可选）"></textarea></div>

				<div id="mainTextForm" class="formlist"><span id="speinputtip" class="inputTip">正文</span>
				    <div class="formlist"><textarea id="textArea" name="textArea" cols="100" rows="14"></textarea></div>
                </div>

				<div id="referenceForm" class="formlist"><span class="inputTip">引用来源</span> <textarea id="reference" class="input" type="text" name="reference" placeholder="这里注明引用来源，引用格式为'···:···;',冒号前为来源说明，冒号后为引用地址（可选）" draggable="false"></textarea></div>

				<div id="tagsForm" class="formlist"><span class="inputTip">Tags</span>
                <select id="articleFirstClass" class="firstClass activeFirstClass" name="articleFirstClass">
                    <option class="firstClassItem" value="学科">学科</option>
                    <option class="firstClassItem" value="技术">技术</option>
                    <option class="firstClassItem" value="教程">教程</option>
                    <option class="firstClassItem" value="文学">文学</option>
                    <option class="firstClassItem" value="发现">发现</option>
                    <option class="firstClassItem" value="日常">日常</option>
                    <option class="firstClassItem" value="随笔">随笔</option>
                    <option class="firstClassItem" value="娱乐">娱乐</option>
                    <option class="firstClassItem" value="杂">杂</option>
                </select>
                <select id="articleFirstClass" class="firstClass" name="fragmentFirstClass">
                    <option class="firstClassItem" value="问答">问答</option>
                    <option class="firstClassItem" value="idea">idea</option>
                    <option class="firstClassItem" value="状态">状态</option>
                    <option class="firstClassItem" value="心情">心情</option>
                    <option class="firstClassItem" value="推荐">推荐</option>
                    <option class="firstClassItem" value="语录">语录</option>
                    <option class="firstClassItem" value="段子">段子</option>
                    <option class="firstClassItem" value="周边">周边</option>
                    <option class="firstClassItem" value="杂">杂</option>
                </select>
                <select id="articleFirstClass" class="firstClass" name="photographFirstClass">
                    <option class="firstClassItem" value="人像">人像</option>
                    <option class="firstClassItem" value="风光">风光</option>
                    <option class="firstClassItem" value="纪实">纪实</option>
                    <option class="firstClassItem" value="静物">静物</option>
                    <option class="firstClassItem" value="动物">动物</option>
                    <option class="firstClassItem" value="建筑">建筑</option>
                    <option class="firstClassItem" value="生态">生态</option>
                    <option class="firstClassItem" value="游记">游记</option>
                    <option class="firstClassItem" value="杂">杂</option>
                </select>
                <select id="articleFirstClass" class="firstClass" name="photographFirstClass">
                    <option class="firstClassItem" value="手绘">手绘</option>
                    <option class="firstClassItem" value="故事">故事</option>
                    <option class="firstClassItem" value="CG">CG</option>
                    <option class="firstClassItem" value="水彩">水彩</option>
                    <option class="firstClassItem" value="纹案">纹案</option>
                    <option class="firstClassItem" value="建筑">建筑</option>
                    <option class="firstClassItem" value="平面">平面</option>
                    <option class="firstClassItem" value="概念">概念</option>
                    <option class="firstClassItem" value="杂">杂</option>
                </select>
                <select id="articleFirstClass" class="firstClass" name="projectFirstClass">
                    <option class="firstClassItem" value="Web">Web</option>
                    <option class="firstClassItem" value="Android">Android</option>
                    <option class="firstClassItem" value="IOS">IOS</option>
                    <option class="firstClassItem" value="Linux">Linux</option>
                    <option class="firstClassItem" value="Mac OS">Mac OS</option>
                    <option class="firstClassItem" value="Windows">Windows</option>
                    <option class="firstClassItem" value="平面">平面</option>
                    <option class="firstClassItem" value="原型">原型</option>
                    <option class="firstClassItem" value="杂">杂</option>
                </select>
                <input id="otherTags" class="input" type="text" name="tags" placeholder="左边选项为一级Tag（即你的作品分类）,右边作者可自定Tag，Tag之间用';'隔开（可选）"/></div>

                <a href="#" id="opusExpandBotton">显示作品扩展项</a>
                <div class="expandOption">
                    <div class="formlist"><span class="inputTip">适合</span>  <input id="suit" class="input" type="text" name="suit" placeholder="这里注明适合人群，人群之间用';'隔开（可选）" /></div>

                    <div class="formlist"><span class="inputTip">合作编辑</span>  <input id="cooperation" class="input" type="text" name="cooperation" placeholder="这里注明合作编辑人、合作小组" /></div>

                    <div id="pushOptionForm" class="formlist">
                        <span class="inputTip">推送方式</span>
                        <div class="pushOption">
                            <input type="radio" id="puclicPush" name="push" checked="checked" />推送
                            <input type="radio" id="puclicNotPush" name="push" />不推送
                        </div>
                    </div>
                </div>
			</div>
		</form>
        <a href="#" id="opusPreViewButton" class="formButton" name="submitButton" title="预览你的文章">预览</a>
        <a href="javascript:void(0)" id="opusPrivateSubmitButton" class="formButton" name="submitButton" title="非公开发布你的文章">非公开发布</a>
        <a href="javascript:void(0)" id="opusPublicSubmitButton" class="formButton" name="submitButton" title="公开发布你的文章">公开发布</a>
        <span id="previewBeforePublic"><input id="IsPreviewBeforePublic" type="checkbox" checked="checked"/>发布前预览</span>
        <a href="#" id="opusPreViewBack">返回编辑</a>
	</div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/create.js") }}"></script>
    <script type="text/javascript">
        var editor = new UE.ui.Editor({toolbars: [["msg","bold","italic","fontsize","forecolor","inserttable","link","blockquote","insertcode","showmsg"]],initialFrameWidth:1058,initialFrameHeight:600});
        editor.render('textArea');
    </script>
{% end %}
