{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ static_url("css/group-navigation.css") }}" type="text/css" />
{% end %}
{% block extra_div %}
    <div class="groupNavWarp">
        <div class="groupNav">
            <div class="userGroupInfo">
                {% if user %}
                <a class="userImg" href="#"><img src="{{ avatarurl(user['avatar']) }}" /></a>
                <a class="userName" href="#">{{ user['penname'] }}</a>
                <div class="myGroup">
                    <div class="myGroupTitle">我的小组</div>
                    {% if mygroups %}
                    {% for group in mygroups %}
                    <a class="myGroupListWrap" href="/g/{{ group['gid'] }}"><li class="myGroupList">{{ group['name'] }}</li></a>
                    {% end %}
                    {% else %}
                    <a href="#"><li class="noGroup">我还没有加入任何小组</li></a>
                    {% end %}
                    <!-- <a href="#" id="myGroupMore">更多小组</a> -->
                    <a href="#" id="createGroup"> + 创建小组</a>
                </div>
                {% end %}
                <div class="groupTagArea">
                    <div class="groupTagTitle">推荐Tag</div>
                    <h class="groupTagClass">兴趣»</h>
                    <a href="#" class="groupTag">旅行</a>
                    <a href="#" class="groupTag">摄影</a>
                    <a href="#" class="groupTag">影视</a>
                    <a href="#" class="groupTag">音乐</a>
                    <a href="#" class="groupTag">文学</a>
                    <a href="#" class="groupTag">游戏</a>
                    <a href="#" class="groupTag">动漫</a>
                    <a href="#" class="groupTag">运动</a>
                    <a href="#" class="groupTag">戏曲</a>
                    <a href="#" class="groupTag">桌游</a>
                    <h class="groupTagClass">学术»</h>
                    <a href="#" class="groupTag">人文</a>
                    <a href="#" class="groupTag">社科</a>
                    <a href="#" class="groupTag">自然</a>
                    <a href="#" class="groupTag">建筑</a>
                    <a href="#" class="groupTag">国学</a>
                    <a href="#" class="groupTag">语言</a>
                    <a href="#" class="groupTag">宗教</a>
                    <a href="#" class="groupTag">哲学</a>
                    <a href="#" class="groupTag">软件</a>
                    <a href="#" class="groupTag">硬件</a>
                    <a href="#" class="groupTag">互联网</a>
                    <h class="groupTagClass">技术»</h>
                    <a href="#" class="groupTag">C语言</a>
                    <a href="#" class="groupTag">Twitter</a>
                    <a href="#" class="groupTag">印象笔记</a>
                    <a href="#" class="groupTag">kindle</a>
                    <a href="#" class="groupTag">Python初学者</a>
                    <a href="#" class="groupTag">Calibre</a>
                    <a href="#" class="groupTag">信息安全</a>
                    <a href="#" class="groupTag">从零开始玩耳机</a>
                </div>
            </div>
            <div class="groupMainWrap">
                <div class="groupDynamic">
                    {% if recent_group_topics %}
                    <h class="groupDynamicHeader">我的小组动态»</h>
                    {% for topic in recent_group_topics %}
                    <li class="groupDynamicList">
                        <a href="#" class="groupDynamicAuthorImg"><img src="{{ avatarurl(topic['avatar']) }}"></a>
                        <div class="groupDynamicContent">
                            <a href="/t/{{ topic['tid'] }}" class="groupDynamicTitle">{{ topic['title'] }}</a>
                            <div class="groupDynamicInfo">
                                <a href="#" class="groupDynamicAuthor">{{ topic['penname'] }}</a>
                                <div class="groupDynamicFrom">
                                    来自 <a href="#">{{ topic['group_name'] }}</a> 小组
                                    <span class="groupDynamicMemberNum">{{ topic['reply_times'] }}</span>人次参与
                                </div>
                            </div>
                            <div class="groupDynamicBrief">
                                {% raw topic['content'] %}
                            </div>
                            <div class="groupDynamicDetal">
                                <span class="groupDynamicTime">{{ prettytime(topic['submit_time']) }}</span>
                            </div>
                        </div>
                    </li>
                    {% end %}
                    {% end %}
                    <h class="groupDynamicHeader">全站小组动态»</h>
                    {% for topic in recent_topics %}
                    <li class="groupDynamicList">
                        <a href="#" class="groupDynamicAuthorImg"><img src="{{ avatarurl(topic['avatar']) }}"></a>
                        <div class="groupDynamicContent">
                            <a href="/t/{{ topic['tid'] }}" class="groupDynamicTitle">{{ topic['title'] }}</a>
                            <div class="groupDynamicInfo">
                                <a href="#" class="groupDynamicAuthor">{{ topic['penname'] }}</a>
                                <div class="groupDynamicFrom">
                                    来自 <a href="#">{{ topic['group_name'] }}</a> 小组
                                    <span class="groupDynamicMemberNum">{{ topic['reply_times'] }}</span>人次参与
                                </div>
                            </div>
                            <div class="groupDynamicBrief">
                                {% raw topic['content'] %}
                            </div>
                            <div class="groupDynamicDetal">
                                <span class="groupDynamicTime">{{ prettytime(topic['submit_time']) }}</span>
                            </div>
                        </div>
                    </li>
                    {% end %}
                </div>
                <!-- <div class="createGroupBefore">
                    <h class="groupDynamicHeader">创建梧桐小组»</h>
                    <p class="createGroupBeforeWords">
                    如果想就某一类话题跟别人交流，可以创建一个小组。<br/>
                    小组是对同一个话题感兴趣的人的聚集地</p>
                    <a href="#" id="startCreateGroup" class="formButton">开始创建小组</a>
                </div> -->
                <div class="createGroup">
                    <div id="createGroupHeader"><p>申请创建小组»</p></div>
                    <form id="createGroupItem" action="/g/create" method="post">
                        <div class="groupItemWarp">
                            <span class="createGroupTip">小组类型：</span>
                            <div class="groupType">
                                <div class="publicGroup">
                                    <input type="radio" name="is_public" id="createPublicGroup" checked="checked" />公开小组
                                    <p>所有梧桐成员与游客均可访问该小组内容，梧桐成员可随时提出申请加入该小组。申请创建成功者默认为该小组第一任组长</p>
                                </div>
                                <div class="privateGroup">
                                    <input type="radio" name="is_public" id="createPrivateGroup" />非公开小组
                                    <p>只有梧桐成员可访问该小组名片并提出申请加入该小组，组长需自行判断申请者是否有加入该小组的资格。申请创建成功者默认为该小组第一任组长</p>
                                </div>
                            </div>
                        </div>
                        <div class="groupItemWarp">
                            <span class="createGroupTip">小组名称：</span>
                            <div class="groupName">
                                <input type="text" name="name" id="createGroupName" class="textInputBox" />
                            </div>
                        </div>
                        <div class="groupItemWarp">
                            <span class="createGroupTip">小组介绍：</span>
                            <div class="groupIntro">
                                <textarea type="text" name="intro" id="createGroupIntro" class="textInputBox"></textarea>
                            </div>
                        </div>
                        <div class="groupItemWarp">
                            <span class="createGroupTip">小组标签：</span>
                            <div class="groupTag">
                                <input type="text" name="tags" id="creareGroupTag" class="textInputBox" />
                            </div>
                        </div>
                    </form>
                    <a href="#" id="createGroupSend" class="formButton">提交申请</a>
                    <a href="#" id="createGroupBack">返回</a>
                </div>
            </div>
        </div>
    </div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/group-navigation.js") }}"></script>
{% end %}

