<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>小组 - 梧桐</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="Keywords" content="梧桐 文章 浏览 撰写 创作 小组" />
    <meta name="Description" content="梧桐小组" />
    <link rel="shortcut icon" href="{{ static_url("css/image/favicon.ico") }}" />
    <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/group.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/animation.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/shCoreEclipse.css") }}" type="text/css" />
</head>
<body class="preload">
    <!-- header -->
    <div class="header" id="header">
        <div class="navcontainer">
            <div class="navigation" id="navigation">
                <div id="navLogo">
                    <a href="#">
                        <img id="logo" src="{{ static_url("css/image/logo.png") }}">
                    </a>
                </div>
                <div class="navLeft">
                    <a id="browse" href="/browse.html">
                        <li>浏览</li>
                    </a>
                    <a id="create" href="/create.html">
                        <li>创作</li>
                    </a>
                    <a id="group" href="#">
                        <li id="thisPage">小组</li>
                    </a>
                </div>
                <div id="searchBox">
                    <form id="searchData" action="/search" name="searchData" target="_blank">
                        <input name="keyWord" type="text" class="input" id="keyWord" autocomplete="on" accesskey="s" placeholder="寻找作品，成员，小组" x-webkit-speech x-webkit-grammar="builtin:translate" />
                        <a href="#" type="submit" id="searchSubmitButton" class="formButton">搜索</a>
                    </form>
                </div>
                <div class="navrighton">
                    <a href="#">
                        <li id="username">
                            <span id="usernameHover" href="#"></span>
                            <div class="userExpand">
                                <div id="myHomepage">我的主页</div>
                                <div id="myCollection">我的收藏</div>
                                <div id="myNote">我的便笺</div>
                                <div id="logout">登出</div>
                            </div>
                        </li>
                    </a>
                    <div class="navrightonOption">

                        <a id="message" href="#">
                            <li>消息<span id="msgNum">19</span></li>
                        </a>
                        <a id="setting" href="#">
                            <li>设置</li>
                        </a>
                    </div>
                </div>
                <div class="navrightoff">
                    <a id="login" href="#">
                        <li>登入</li>
                    </a>
                    <a id="register" href="#">
                        <li>注册</li>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- login box -->
    <div id="lrBoxWrap">
        <div class="lrBox" id="loginBox">
            <form id="loginForm" name="loginForm" action="#" method="post">
                <div class="loginList"><span class="inputTip">用户名/邮箱</span>
                    <input class="input" id="loginUsername" type="text" name="username" placeholder="用户名/邮箱" />
                </div>
                <div class="loginList"><span class="inputTip">密码</span>
                    <input class="input" id="loginPassword" type="password" name="password" placeholder="密码" />
                </div>
                <div id="loginListlast" class="loginList"><a href="#" id="loginSubmitButton" class="formButton" name="submitButton" value="登陆">登入</a>  <a href="#" id="loginBack">返回</a>
                </div>
            </form>
        </div>
        <div class="lrBox" id="registerBox">
            <form id="registerForm" name="registerForm" action="#" method="post">
                <div class="registerList"><span class="inputTip">用户名</span>
                    <input class="input" id="registerUsername" type="text" name="username" placeholder="用户名" />
                </div>
                <div class="registerList"><span class="inputTip">邮箱</span>
                    <input class="input" id="registerEmail" type="text" name="email" placeholder="邮箱" />
                </div>
                <div class="registerList"><span class="inputTip">密码</span>
                    <input class="input" id="registerPassword" type="password" name="password" placeholder="密码" />
                </div>
                <div class="registerList"><span class="inputTip">重复密码</span>
                    <input class="input" id="registerRepassword" type="password" name="repassword" placeholder="重复密码" />
                </div>
                <div id="registerListLast" class="registerList"><a href="#" id="registerSubmitButton" class="formButton" name="submitButton" value="注册">注册</a>  <a href="#" id="registerBack">返回</a>
                </div>
            </form>
        </div>
    </div>
    <!-- my message -->
    <div class="myMessageWarp">
        <div class="myMessage">
            <div class="myMessagePart">
                <a id="siteBulletinButton" class="myMessagePartButton" href="#">全站公告<span id="siteBulletinNum">1</span></a>
                <a id="replyButton" class="myMessagePartButton" href="#">回复<span id="replyNum">5</span></a>
                <a id="opusPushButton" class="myMessagePartButton" href="#">推送<span id="opusPushNum">12</span></a>
                <a id="PMButton" class="myMessagePartButton" href="#">私信<span id="PMNum">1</span></a>
            </div>
            <div class="myMessageContent">
                <div class="siteBulletin myMessagePartContent activeMessagePart">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">第六次团队大会</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ
                        </div>
                    </li>
                </div>
                <div class="reply myMessagePartContent">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageAddress">Kyleslight的同好会>>一个测试用的话题A>>一个测试用的话题B</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">既然是测试用的话题的话就不要那么认真了嘛</div>
                        </a>
                        <div class="myMessagePartExpand">
                            既然是测试用的话题的话就不要那么认真了嘛<br/>对吧
                        </div>
                    </li>
                </div>
                <div class="opusPush myMessagePartContent">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageTitle">Unity 3D的互动应用</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support...</div>
                        </a>
                        <div class="myMessagePartExpand">
                            As part of the Unity 4.3 announcement on August 28th 2013 Unity Technologies announced native 2D support.The 2D version of the application is currently in development with features including Sprites, improved Animation support, 2D Physics and more.These are the new features:
                        </div>
                    </li>`
                </div>
                <div class="PMPush myMessagePartContent">
                    <li class="myMessagePartList">
                        <a href="#" class="myMessagePartInline">
                            <img class='myMessageUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="myMessageAddress">这是一个测试用的私信</div>
                            <div class="myMessageUserName">Kyleslight</div>
                            <div class="myMessageTime">10-23 20:56</div>
                            <div class="myMessagBrief">这是一个测试用的私信啊</div>
                        </a>
                        <div class="myMessagePartExpand">
                            这是一个测试用的私信啊<br/>对吧
                        </div>
                    </li>
                </div>
            </div>
            <a href="#" id="myMessageBack">返回</a>
        </div>
    </div>
    <!-- my collection -->
    <div class="myCollectionWarp">
        <div class="myCollection">
            <div class="myCollectionClass">
                <a id="myOpusCollectionButton" class="myCollectionClassButton" href="#">作品</a>
                <a id="myTopicCollectionButton" class="myCollectionClassButton" href="#">话题</a>
                <a id="myCollectionFliter" class="myCollectionClassButton" href="#">筛选器</a>
            </div>
            <div class="myOpusCollection">
                <li class="myCollectionList">
                <a href="#"><img class="myCollectionAuthorImage" src="{{ static_url("css/image/test.png") }}" /></a>
                    <div class="myCollectionRow">
                        <a href="#" class="myCollectionTitle">基于Unity3D的互动应用</a><a class="myCollectionAuthor" href="#">Kyleslight</a>
                    </div>
                    <div class="myCollectionRow">
                        <div class="myCollectionTag"><a href="#">aaa</a><a href="#">bbb</a><a href="#">ccc</a></div>
                        <span class="myCollectionTime">收藏时间 : 11-11 11:11</span>
                    </div>
                </li>
            </div>
            <div class="myTopicCollection">
            </div>
            <div class="myCollectionPageTurning"><a href="#">上一页 </a> <a href="#"> 下一页</a></div>
            <a href="#" id="myCollectionBack">返回</a>
        </div>
    </div>
    <!-- my note -->
    <div class="myNoteWrap">
        <div class="myNote">
            <div class="myNoteListWrapOutter">
                <a href="#" id="addNote" class="myNoteList">add a note</a>
                <div class="myNoteListWrap">
                    <a href="#" class="myNoteList">the first note</a>
                    <a href="#" class="myNoteList">the second note</a>
                    <a href="#" class="myNoteList">the third note</a>
                    <a href="#" class="myNoteList">the fourth note</a>
                    <a href="#" class="myNoteList">the fifth note</a>
                    <a href="#" class="myNoteList">the sixth note</a>
                    <a href="#" class="myNoteList">the seventh note</a>
                    <a href="#" class="myNoteList">the first note</a>
                    <a href="#" class="myNoteList">the second note</a>
                    <a href="#" class="myNoteList">the third note</a>
                    <a href="#" class="myNoteList">the fourth note</a>
                    <a href="#" class="myNoteList">the fifth note</a>
                    <a href="#" class="myNoteList">the sixth note</a>
                    <a href="#" class="myNoteList">the seventh note</a>
                    <a href="#" class="myNoteList">the first note</a>
                    <a href="#" class="myNoteList">the second note</a>
                    <a href="#" class="myNoteList">the third note</a>
                    <a href="#" class="myNoteList">the fourth note</a>
                    <a href="#" class="myNoteList">the fifth note</a>
                    <a href="#" class="myNoteList">the sixth note</a>
                    <a href="#" class="myNoteList">the seventh note</a>
                </div>
            </div>
            <div class="myCurrentNoteArea">
                <div class="myCurrentNoteHeader">
                    <input class="myCurrentNoteTitle" value="the first note">
                    <div class="myCurrentNoteTime">10-22 12:30</div>
                </div>
                <textarea class="myCurrentNoteContent">
                    摇晃得可真厉害。
                    在几十年、甚或几百年前曾经铺设柏油的道路，如今变成了不见半点人影的荒废道路，自左右两侧涌入的杂草与血管般的草根，让这里逐渐形成一片混沌的样貌。
                    货物拖车漫不经心地踏过这样不成道路的道路。
                    乘坐的感觉只能用一句非常糟糕来形容。
                    每当车子越过障碍物时，就会造成货架上些许冲击……然后再进一步传到和货架上的木箱待在一起的我身上。
                    我埋怨着原以为在货架上旅行很优雅的自己，实在太愚蠢了。
                    难得有机会可以在花朵恣意绽满的街道上旅行，但由于屁股实在太过疼痛，根本无心去欣赏。
                    心情上则近似于多娜多娜（Donna，Donna）。（注：知名世界民谣，歌词描述一头即将被卖到市场去的小牛，旋律温馨中带着悲伤。）
                    「倘若乖乖坐在副驾驶座的话……不。」
                    我喃喃自语，但旋即否定了自己的想法。坐在副驾驶座，就意味着必须面临坐在驾驶座的商队队长单方面的问话。对于怕生而且一紧张脑袋就一片空白的我而言，那段时间内应该会磨损削薄我的神经。
                </textarea>
                <div class="myCurrentNoteOption">
                    <a href="#" id="deleteCurrentNote" class="formButton">删除</a>
                    <a href="#" id="saveCurrentNote" class="formButton">保存</a>
                </div>
                <a href="#" id="myNoteBack">返回</a>
            </div>
        </div>
    </div>
    <!-- return to top -->
    <a id="return_top" href="#" title="回到顶部" class="none"></a>
    <div class="groupPrompt">
        <p class="groupPromptPublic">这是一个公开的小组，你可以点击 <a id="publicJoin" class="joinButton" href="#"> 我喜欢 </a>加入它!</p>
        <p class="groupPromptPrivate">这是一个私人的小组，你可以  <a id="privateJoin" class="joinButton" href="#"> 联系该小组组长 </a>来加入它!</p>
        <form id="contactGroupLeader" name="contactGroupLeader" action="#" method="post">
            <p>组长 <span id="groupLeadrerName">Kyleslight</span> :</p>
            <textarea class="input" id="contactGroupLeaderCon" type="text" name="contactGroupLeaderCon" placeholder="向组长提出申请"></textarea>
            <div class="joinSend"><a href="#" id="JoinSubmitButton" class="joinButton" name="submitButton" value="send">Send</a>  <a href="#" id="contactGroupLeaderBack">返回</a>
             </div>
        </form>
    </div>
    <!-- topic tag list -->
    <div class="topicTag">
    </div>
    <div class="topicTagClone">
    </div>
    <div class="groupWarpOuter">
        <div class="groupWarp">
            <!-- basic group infomation -->
            <div class="groupInfo">

                <div class="groupInfoCon">

                    <div class="groupTitle">
                    <img class="groupImage" src="{{ static_url("css/image/forumTest.jpg") }}" />
                    <a id="groupTitleName" href="group.html">Kyleslight的同好会</a><span id='titleCut'> | </span><div id='groupMotto'>西十二自习室欢迎你</div>
                    </div>
                </div>
            </div>
            <div class="groupOptions">
                <a href="#">
                    <div class='groupOptionItem'>公告</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>名片</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>成员</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>作品</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>计划</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>设置</div>
                </a>
            </div>
            <div class="groupItem">
                <!-- bulletin -->
                <div class="bulletin" id="groupOptionShow0">
                    {% for bulletin in bulletins %}
                        {% module MyModule("bulletin.html", bulletin=bulletin) %}
                    {% end %}
                    <div id="bulletinOption"><a href="#" id="unfold">展开前6条</a>  <a href="#" id="bulletinBack" class="optionBack">返回</a>
                    </div>
                </div>
                <!-- information card -->
                <div class="infoCard" id="groupOptionShow1">
                    {% module MyModule("group_info.html", group_info=group_info) %}
                    <a href="#" class="optionBack">返回</a>
                </div>
                <!-- member -->
                <div class="member" id="groupOptionShow2">
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div id="memOption">
                        <a href="#">上一页</a><a href="#">下一页</a><a href="#" class="optionBack">返回</a>
                    </div>
                </div>
                <!-- works -->
                <div class="works" id="groupOptionShow3">
                    <div id="worksOption">
                        <div class="worksMainOption"><a id="articalOption" href="#">文章</a><a id="frangmentOption" href="#">小品</a>
                        </div>
                        <a id="worksFliter" href="#">筛选器</a>
                    </div>
                    <div id="worksArticals">
                        <li class="worksArticalShow">

                            <div class="artical">
                                <div class="articalBasicInfo">
                                    <img src="{{ static_url("css/image/test.png") }}" class="articAluthorImage">
                                    <a href="#" class="articalTitle">odC VOL.I chapter5</a>
                                    <a href="#" class="articalAuthor">Kyleslight</a>
                                </div>

                                <div class="articalTag">Tags：<a href="#">长篇小说</a><a href="#">odC</a><a href="#">依诺</a>
                                </div>
                                <div class="articaltime">2-14 13:18</div>
                            </div>
                        </li>
                        <li class="worksArticalShow">
                            <div class="artical">
                                <div class="articalBasicInfo">
                                    <img src="{{ static_url("css/image/test7.jpg") }}" class="articAluthorImage">
                                    <a href="#" class="articalTitle">Ubuntu下使用MentoHUST代替锐捷认证上网</a>
                                    <a href="#" class="articalAuthor">Longerhead</a>
                                </div>


                                <div class="articalTag">Tags：
                                    <a href="#">泛科技</a>
                                    <a href="#">Linux</a>
                                    <a href="#">MentoHust</a>
                                    <a href="#">Ubuntu</a>
                                    <a href="#">锐捷安装失败</a>
                                    <a href="#">认证客户端</a>
                                    <a href="#">校园网</a>
                                </div>
                                <div class="articaltime">2-12 18:27</div>
                            </div>
                        </li>
                    </div>
                    <div class="articalDirectionOption"><a href="#">上一页</a><a href="#">下一页</a><a href="#" class="optionBack">返回</a>
                    </div>
                </div>
                <div class="latestTopic" id="groupOptionShow4">
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <div id="latestTopicOption"><a href="#" id="latestTopicUnfold">展开前6条</a>  <a href="#" id="latestTopicBack" class="optionBack">返回</a>
                    </div>
                </div>

            </div>
            <div id="communicationWrapOuter">
                <div id="messageTemp">
                </div>
                <div id="communicationWrap">
                    <div id="communicationBackgroud">
                        <form id="communicationData" method="post">
                            <a href="#" id="changeSendState">切换至话题模式</a>
                            <div class="chatSend">
                                <div class="normalChatSend">
                                    <textarea id="chatData" class="input" type="text" name="chatConData" placeholder="" accesskey="c" onfocus='this.style.posHeight=this.scrollHeight' onpropertychange='this.style.posHeight=this.scrollHeight'></textarea>
                                    <a href="#" id="chatSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~">发送</a>
                                </div>
                                <div class="expandChatSend">
                                    <textarea id="expandChatData" class="input" type="text" name="expandChatData" placeholder=""></textarea>
                                    <a href="#" id="expandChatSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~">发送</a>
                                </div>
                            </div>
                            <div class="topicSend">
                                <input id="topicTitle" class="input" type="text" name="topicTitle" placeholder="话题标题" />
                                <a href="#" id="topicSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~(发送话题)">发送</a>
                                <textarea id="topicData" class="input" type="text" name="topicData" placeholder=""></textarea>
                            </div>
                        </form>
                        <div id="communicationConWrap">
                            <div class="communication" id="communication">
                                {% for msg in messages %}
                                    {% module MyModule("message.html", message=msg) %}
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <p class="f1">&copy; 2013&nbsp;&nbsp;<a href="http://www.sicun.org/">Sicun Studio</a></p>
    </div>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8">window.UEDITOR_HOME_URL = "{{ static_url("ueditor/")}}";</script>-->
    <script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/group.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/header.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/shCore.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/allhl.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("ueditor/ueditor.config.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("ueditor/ueditor.all.min.js") }}"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render('topicData');
        var smallerEditor = new UE.ui.Editor({ toolbars:[['Paragraph','RowSpacing','FontFamily','FontSize']],initialFrameWidth:769,pasteplain:true});
        smallerEditor.render('expandChatData');
    </script>
</body>

</html>
