{% extends "base_edit.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ static_url("css/group.css") }}" type="text/css" />
{% end %}
{% block extra_div %}
    <div class="groupPrompt">
        <p class="groupPromptPublic">这是一个公开的小组，你可以点击 <a id="publicJoin" class="joinButton" href="#"> 我喜欢 </a>加入它!</p>
        <p class="groupPromptPrivate">这是一个私人的小组，你可以  <a id="privateJoin" class="joinButton" href="#"> 联系该小组组长 </a>来加入它!</p>
        <form id="contactGroupLeader" name="contactGroupLeader" action="#" method="post">
            <p>组长 <span id="groupLeadrerName">{{ group_info["leader"] }}</span> :</p>
            <textarea class="input" id="contactGroupLeaderCon" type="text" name="contactGroupLeaderCon" placeholder="向组长提出申请"></textarea>
            <div class="joinSend"><a href="#" id="JoinSubmitButton" class="joinButton" name="submitButton" value="send">Send</a>  <a href="#" id="contactGroupLeaderBack">返回</a>
             </div>
        </form>
    </div>
    <div class="groupWarpOuter">
        <div class="groupWarp">
            <!-- basic group infomation -->
            <div class="groupInfo">
                <div class="groupInfoCon">
                    <div class="groupTitle">
                        <!-- <img class="groupImage" src="{{ group_info["avatar"] }}" /> -->
                        <a id="groupTitleName" href="/g/{{ group_info["gid"] }}">{{ group_info["name"] }}</a>
                        {% if group_info['motto'] %}
                        <span id='titleCut'> | </span>
                        <div id='groupMotto'>{{ group_info["motto"] }}</div>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="groupOptions">
                <!-- <a href="#">
                    <div class='groupOptionItem'>公告</div>
                </a> -->
                <a href="#">
                    <div class='groupOptionItem'>名片</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>成员</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>作品</div>
                </a>
                <!-- <a href="#">
                    <div class='groupOptionItem'>计划</div>
                </a> -->
                <a href="#">
                    <div class='groupOptionItem'>设置</div>
                </a>
            </div>
            <div class="groupItem">
                <!-- bulletin -->
                <!-- <div class="bulletin" id="groupOptionShow0">
                    {% for bulletin in bulletins %}
                        {% module MyModule("bulletin.html", bulletin=bulletin) %}
                    {% end %}
                    <div id="bulletinOption"><a href="#" id="unfold">展开前6条</a>  <a href="#" id="bulletinBack" class="optionBack">返回</a>
                    </div>
                </div> -->
                <!-- information card -->
                <div class="infoCard groupOptionShow" id="groupOptionShow1">
                    {% module MyModule("group_info.html", group_info=group_info) %}
                    <a href="#" class="optionBack">返回</a>
                </div>
                <!-- member -->
                <div class="member groupOptionShow" id="groupOptionShow2">
                    {% for member in members %}
                        {% module MyModule("member_info.html", member=member) %}
                    {% end %}
                    <div id="memOption">
                        <a href="#">上一页</a><a href="#">下一页</a><a href="#" class="optionBack">返回</a>
                    </div>
                </div>
                <!-- works -->
                <div class="works groupOptionShow" id="groupOptionShow3">
                    <div id="worksOption">
                        <div class="worksMainOption"><a id="articalOption" href="#">文章</a><a id="frangmentOption" href="#">小品</a>
                        </div>
                        <a id="worksFliter" href="#">筛选器</a>
                    </div>
                    <div id="worksArticals">
                    <!-- {}  -->
                        <li class="worksArticalShow">
                            <div class="artical">
                                <div class="articalBasicInfo">
                                    <img src="None" class="articAluthorImage">
                                    <a href="#" class="articalTitle">Ubuntu下使用MentoHUST代替锐捷认证上网</a>
                                    <a href="#" class="articalAuthor">Longerhead</a>
                                </div>
                                <div class="articalTag">Tags：
                                    <a href="#">泛科技</a>
                                    <a href="#">Linux</a>
                                    <a href="#">MentoHust</a>
                                    <a href="#">Ubuntu</a>
                                    <a href="#">锐捷安装失败</a>
                                    <a href="#">认证客户端</a>
                                    <a href="#">校园网</a>
                                </div>
                                <div class="articaltime">2-12 18:27</div>
                            </div>
                        </li>
                    <!-- {}  -->
                    </div>
                    <div class="articalDirectionOption"><a href="#">上一页</a><a href="#">下一页</a><a href="#" class="optionBack">返回</a>
                    </div>
                </div>
                <!-- <div class="latestTopic" id="groupOptionShow4">
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <div id="latestTopicOption"><a href="#" id="latestTopicUnfold">展开前6条</a>  <a href="#" id="latestTopicBack" class="optionBack">返回</a>
                    </div>
                </div> -->
                <div class="groupSetting groupOptionShow" id="groupOptionShow5">
                    <h2>小组个人设置</h2>
                    <!-- 接受来自该小组成员的内容推送 -->
                    <span class="tip">是否接受来自该小组成员的作品推送：</span>
                    <input type="radio" name="groupReceivePush" id="groupReceivePush" checked="checked">是
                    <input type="radio" name="groupReceivePush" id="groupNotReceivePush">否<br><br>
                    <!-- 允许将自己的作品推送至小组其他成员 -->
                    <span class="tip">是否是否允许将自己的作品推送至小组其他成员：</span>
                    <input type="radio" name="groupPush" id="groupPush" checked="checked">是
                    <input type="radio" name="groupPush" id="groupNotPush">否<br>

                    <h2>小组组长管理</h2>
                    <span class="tip">小组头像：</span> <a href="#">修改</a><br><br>
                    <span class="tip">小组Banner：</span> <a href="#">修改</a><br><br>
                    <span class="tip">小组签名：</span> <input type="text" id="groupMottoSetting" class="textInput" placeholder="小组签名"><br><br>
                    <span class="tip">小组公告：</span>
                    <span class="stip"></span><input type="text" id="groupBulletinTitle" class="textInput" placeholder="公告标题"><br>
                    <span class="stip"></span><textarea id="groupBulletinContent" class="textInput" placeholder="公告内容"></textarea><br><br>
                    <span class="tip">邀请他人：</span> <input type="text" class="textInput" placeholder="在受邀者的前加上@即可邀请他人加入小组，受邀者之间用空格或“;”隔开"><br><br>
                    <span class="tip">管理小组成员：</span><br>
                    <p class="intorWords">单击选择成员</p>
                    <div class="groupMemberListWrap">
                        <li href="#" class="groupMemberList" id="groupMem1"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_1</span></li>
                        <li href="#" class="groupMemberList" id="groupMem2"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_2</span></li>
                        <li href="#" class="groupMemberList" id="groupMem3"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_3</span></li>
                        <li href="#" class="groupMemberList" id="groupMem4"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_4</span></li>
                        <li href="#" class="groupMemberList" id="groupMem5"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_5</span></li>
                        <li href="#" class="groupMemberList" id="groupMem6"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_6</span></li>
                        <li href="#" class="groupMemberList" id="groupMem7"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_7</span></li>
                        <li href="#" class="groupMemberList" id="groupMem8"><img src="{{ static_url("avatar/wutong_normal.png") }}" class="groupMemberImg"><span class="groupMemberName">Group_Member_8</span></li>
                    </div>
                    <div class="groupOption">
                        <h2>操作</h2>
                        <a href="#">解除小组成员</a>
                        <!-- 如果该成员不是该小组副组长 -->
                        <a href="#">任命为副组长</a>
                        <!-- 如果该成员是该小组副组长 -->
                        <a href="#">罢免副组长</a>
                        <a href="#">推选该成员为组长</a>
                    </div>
                    <p class="intorWords">成员操作表单，请注意，只有提交表单后这些操作方可生效</p>
                    <div class="groupMemActionLog">
                        
                    </div>
                    <div class="groupSettingButton">
                        <a href="#" id="groupSettingSubmit" class="formButton">提交</a>
                        <a href="#" id="groupSettingBack" class="optionBack">返回</a>
                    </div>
                </div>

            </div>
            {% if is_topic %}
            <span class='topicLocation'>
            {% for topic in ancestor_topics %}
                >><a href="/t/{{ topic["tid"] }}">{{ topic["title"] }}</a>
            {% end %}
            </span>
            <li class="topicInner">
                <a class="userImage" href='#'><img src="{{ avatarurl(topic["avatar"]) }}" /></a>
                <div class='talkMain'>
                    <span class="userName"><a href='#'>{{ topic["penname"] }}</a></span>
                    <span class='timeShow'>
                        {{ prettytime(topic["submit_time"]) }}
                    </span>
                    <!-- 如果为该话题作者 -->
                    <!-- <a href="#">删除</a> -->
                    <a href="#" id="collectTopic">收藏该话题</a>
                    <div class='talkContent'>
                        {% raw topic["content"] %}
                    </div>
                </div>
            </li>
            {% end %}
            <div id="communicationWrapOuter">
                <div id="messageTemp">
                </div>
                <div id="communicationWrap">
                    <div id="communicationBackgroud">
                        <form id="communicationData" method="post">
                            <a href="#" id="changeSendState">切换至话题模式</a>
                            <div class="chatSend">
                                <div class="normalChatSend">
                                    <div id="chatData" class="input" type="text" name="chatConData" placeholder="" accesskey="c" contenteditable="true"  
                                    onpaste="turnToPlainText(event);"
                                    ></div>
                                    <a href="#" id="chatSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~">发送</a>
                                </div>
                                <div class="expandChatSend">
                                    <textarea id="expandChatData" class="input" type="text" name="expandChatData" placeholder=""></textarea>
                                    <a href="#" id="expandChatSubmitButton" class="formButton" name="submitButton" value="发送" >发送</a>
                                </div>
                            </div>
                            <div class="topicSend">
                                <input id="topicTitle" class="input" type="text" name="topicTitle" placeholder="话题标题" />
                                <a href="#" id="topicSubmitButton" class="formButton" name="submitButton" value="发送" >发送</a>
                                <textarea id="topicData" class="input" type="text" name="topicData" placeholder="" accesskey="t"></textarea>
                            </div>
                        </form>
                        <div id="communicationConWrap">
                            <div class="communication" id="communication">
                                {% for msg in messages %}
                                    {% module MyModule("message.html", message=msg) %}
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/group.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/module.js") }}"></script>
    <script type="text/javascript">
        var editor = new UE.ui.Editor({toolbars: [["bold","italic","fontsize","forecolor","inserttable","link","blockquote","insertcode"]],initialFrameWidth:956,initialFrameHeight:300,autoHeightEnabled:true});
        // textarea: '#textArea';
        editor.render('topicData');
        var expandEditor = new UE.ui.Editor({toolbars: [["bold","italic","fontsize","forecolor","inserttable","link","blockquote","insertcode"]],initialFrameWidth:780,initialFrameHeight:300,autoHeightEnabled:true});
        expandEditor.render('expandChatData');
    </script>
{% end %}
