<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>小组 - 梧桐</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="Keywords" content="梧桐 文章 浏览 撰写 创作 小组" />
    <meta name="Description" content="梧桐小组" />
    <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/group.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/animation.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/shCoreEclipse.css") }}" type="text/css" />
</head>

<body>
    <!-- header -->
    <div class="header" id="header">
        <div class="navcontainer">
            <div class="navigation" id="navigation">
                <div id="navLogo">
                    <a href="#">
                        <img id="logo" src="{{ static_url("css/image/logo.png") }}">
                    </a>
                </div>
                <div class="navLeft">
                    <a id="browse" href="#">
                        <li>浏览</li>
                    </a>
                    <a id="article" href="write.html">
                        <li>文章</li>
                    </a>
                    <a id="fragment" href="#">
                        <li>小品</li>
                    </a>
                    <a id="group" href="#">
                        <li id="thisPage">小组</li>
                    </a>
                </div>
                <div class="navrighton">
                    <a href="#">
                        <li id="username">
                            <span id="usernameHover" href="#"></span>
                            <div class="userExpand">
                                <div id="myHomepage">我的主页</div>
                                <div id="logout">登出</div>
                            </div>
                        </li>
                    </a>
                    <div class="navrightonOption">

                        <a id="message" href="#">
                            <li>消息<span id="msgNum">19</span></li>
                        </a>
                        <a id="setting" href="#">
                            <li>设置</li>
                        </a>
                    </div>
                </div>
                <div class="navrightoff">

                    <a id="login" href="#">
                        <li>登入</li>
                    </a>


                    <a id="register" href="#">
                        <li>注册</li>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!-- login box -->
    <div id="lrBoxWrap">
        <div class="lrBox" id="loginBox">
            <form id="loginForm" name="loginForm" action="#" method="post">
                <div class="loginList"><span class="inputTip">用户名/邮箱</span>
                    <input class="input" id="loginUsername" type="text" name="username" placeholder="用户名/邮箱" />
                </div>
                <div class="loginList"><span class="inputTip">密码</span>
                    <input class="input" id="loginPassword" type="password" name="password" placeholder="密码" />
                </div>
                <div id="loginListlast" class="loginList"><a href="#" id="loginSubmitButton" class="formButton" name="submitButton" value="登陆">登入</a>  <a href="#" id="loginBack">返回</a>
                </div>
            </form>
        </div>
        <div class="lrBox" id="registerBox">
            <form id="registerForm" name="registerForm" action="#" method="post">
                <div class="registerList"><span class="inputTip">用户名</span>
                    <input class="input" id="registerUsername" type="text" name="username" placeholder="用户名" />
                </div>
                <div class="registerList"><span class="inputTip">邮箱</span>
                    <input class="input" id="registerEmail" type="text" name="email" placeholder="邮箱" />
                </div>
                <div class="registerList"><span class="inputTip">密码</span>
                    <input class="input" id="registerPassword" type="password" name="password" placeholder="密码" />
                </div>
                <div class="registerList"><span class="inputTip">重复密码</span>
                    <input class="input" id="registerRepassword" type="password" name="repassword" placeholder="重复密码" />
                </div>
                <div id="registerListLast" class="registerList"><a href="#" id="registerSubmitButton" class="formButton" name="submitButton" value="注册">注册</a>  <a href="#" id="registerBack">返回</a>
                </div>
            </form>
        </div>
    </div>
    <div class="groupPrompt">
        <p class="groupPromptPublic">这是一个公开的小组，你可以点击 <a id="publicJoin" class="joinButton" href="#"> 我喜欢 </a>加入它!</p>
        <p class="groupPromptPrivate">这是一个私人的小组，你可以  <a id="privateJoin" class="joinButton" href="#"> 联系该小组组长 </a>来加入它!</p>
        <form id="contactGroupLeader" name="contactGroupLeader" action="#" method="post">
            <p>组长 <span id="groupLeadrerName">Kyleslight</span> :</p>
            <textarea class="input" id="contactGroupLeaderCon" type="text" name="contactGroupLeaderCon" placeholder="向组长提出申请"></textarea>
            <div class="joinSend"><a href="#" id="JoinSubmitButton" class="joinButton" name="submitButton" value="send">Send</a>  <a href="#" id="contactGroupLeaderBack">返回</a>
             </div>
        </form>
    </div>
    <a id="return_top" href="#" title="回到顶部" class="none"></a>
    <div class="groupWarpOuter">
        <div class="groupWarp">
            <!-- basic group infomation -->
            <div class="groupInfo">

                <div class="groupInfoCon">

                    <div class="groupTitle">
                    <img class="groupImage" src="{{ static_url("css/image/forumTest.jpg") }}" />
                    <a id="groupTitleName" href="group.html">Kyleslight的同好会</a><span id='titleCut'> | </span><div id='groupMotto'>西十二自习室欢迎你</div>
                    </div>
                </div>
            </div>
            <div class="groupOptions">
                <a href="#">
                    <div class='groupOptionItem'>公告</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>名片</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>成员</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>作品</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>话题</div>
                </a>
                <a href="#">
                    <div class='groupOptionItem'>设置</div>
                </a>
            </div>
            <div class="groupItem">
                <!-- bulletin -->
                <div class="bulletin" id="groupOptionShow0">
                    <li class="bulletinList">
                        <a href="#" class="bulletinInline">
                            <img class='bulletinUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="bulletinTitle">第六次团队大会</div>
                            <div class="bulletinUserName">Kyleslight</div>
                            <div class="bulletinTime">10-23 20:56</div>
                        </a>
                        <div id="bulletinConActive" class="bulletinCon">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ</div>
                    </li>
                    <li class="bulletinList">
                        <a href="#" class="bulletinInline">
                            <img class='bulletinUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="bulletinTitle">第六次团队大会</div>
                            <div class="bulletinUserName">Kyleslight</div>
                            <div class="bulletinTime">10-23 20:56</div>
                        </a>
                        <div class="bulletinCon">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ</div>
                    </li>
                    <li class="bulletinList">
                        <a href="#" class="bulletinInline">
                            <img class='bulletinUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="bulletinTitle">第六次团队大会</div>
                            <div class="bulletinUserName">Kyleslight</div>
                            <div class="bulletinTime">10-23 20:56</div>
                        </a>
                        <div class="bulletinCon">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ</div>
                    </li>
                    <li class="bulletinList">
                        <a href="#" class="bulletinInline">
                            <img class='bulletinUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="bulletinTitle">第六次团队大会</div>
                            <div class="bulletinUserName">Kyleslight</div>
                            <div class="bulletinTime">10-23 20:56</div>
                        </a>
                        <div class="bulletinCon">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ</div>
                    </li>
                    <li class="bulletinList">
                        <a href="#" class="bulletinInline">
                            <img class='bulletinUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="bulletinTitle">第六次团队大会</div>
                            <div class="bulletinUserName">Kyleslight</div>
                            <div class="bulletinTime">10-23 20:56</div>
                        </a>
                        <div class="bulletinCon">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ</div>
                    </li>
                    <li class="bulletinList">
                        <a href="#" class="bulletinInline">
                            <img class='bulletinUserImage' src="{{ static_url("css/image/test.png") }}" />
                            <div class="bulletinTitle">第六次团队大会</div>
                            <div class="bulletinUserName">Kyleslight</div>
                            <div class="bulletinTime">10-23 20:56</div>
                        </a>
                        <div class="bulletinCon">据说明晚7:00在西十二N312要开第一次社员大会哟≡ω≡东边的话在15号晚7:00在东九B103也会开~虽然其实去其中一次就好了吧……可是爱热（jiao）闹（ji）的大家两次都去也大丈夫哟hahahahahhahaha~~另外如果有错过百团大战的小盆友，去社员大会也可以现场加入的呢ฅ^._.^ฅ</div>
                    </li>

                    <br>
                    <div id="bulletinOption"><a href="#" id="unfold">展开前6条</a>  <a href="#" id="bulletinBack" class="optionBack">返回</a>
                    </div>
                </div>
                <!-- information card -->
                <div class="infoCard" id="groupOptionShow1">
                    <div id="groupName">Kyleslight的同好会
                        <p id="IDVaule"></p>
                    </div>
                    <div class="groupBannerBox">
                        <img id="groupBanner" src="{{ static_url("css/image/banner.jpg") }}" />
                    </div>
                    <!-- <img id="groupCardImage" src="{{ static_url("css/image/forumTest.jpg") }}" /> -->
                    <div id="groupDetail">
                        <div id="groupIntro" class="groupDetailItem">
                            <span class="introWord">简介：</span>一个Kyleslight建立的方便交流的同好会，嗯，是一个正常的社团啦
                        </div>

                        <div id="groupFounder" class="groupDetailItem">
                            <span class="introWord">创建：</span>
                            <p id="Founder">Kyleslight</p>创立于
                            <p id="foundTime">2013年12月13日</p>
                        </div>

                        <div id="groupAdmin" class="groupDetailItem">
                            <span class="introWord">组长：</span>
                            <p id="administrator">Kyleslight</p>
                        </div>

                        <div id="groupMemberNum" class="groupDetailItem">
                            <span class="introWord">成员数：</span>
                            <p id="memberNum">68</p>
                        </div>

                        <div id="groupGPA" class="groupDetailItem">
                            <span class="introWord">平均文章得分：</span>
                            <p id="GPA">95.36</p>
                        </div>

                        <div id="groupRank" class="groupDetailItem">
                            <span class="introWord">小组排名：</span>
                            <p id="RANK">23</p>
                        </div>

                        <div id="groupInfoMotto" class="groupDetailItem">
                            <span class="introWord">签名：</span>
                            <p id="Motto">西十二自习室欢迎你</p>
                        </div>
                    </div>
                    <div id="groupMoreDetail">
                        嗯，kyleslight的同好会，顾名思义，就是kyleslight创立的用作圈子内交流的一个地方<br>
                        在这里，每天都会有很多有意思的事情（是吗）<br>
                        总之就是这样，嗯
                    </div>
                    <a href="#" class="optionBack">返回</a>
                </div>
                <!-- member -->
                <div class="member" id="groupOptionShow2">
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div class="memberCard">
                        <img class="memberImage" src="{{ static_url("css/image/test1.png") }}" />
                        <div class="memberBasic">
                            <div class="memberName">Kyleslight<span class="memberHonour">站长</span>
                            </div>
                            <div class="memberIntro">一只普普通通的喵星人控</div>
                            <div class="memberInfo"><span class="memberSex">♂</span><span class="memberAge">19岁</span><span class="memberCity">武汉</span>
                            </div>
                        </div>
                        <div class="memberDetail">
                            <div class="memberWorks">作品：<span class="memberArtNum">20</span>篇文章<span class="memberFragment">3</span>篇小品</div>
                            <div class="memberGroup">小组：
                                <span class="memberGroup1">Kyleslight的同好会</span>
                                <span class="memberGroup2">思存工作室</span>
                                <span class="memberGroup3">赫萝</span>
                            </div>
                            <div class="memberGrade">个人得分：<span class="memberGPA">2367</span>全站排名：<span class="memberRANK">96</span>
                            </div>
                            <div class="memberMotto">在此刻遇见，已经是全宇宙中最不可思议的事。</div>
                        </div>
                    </div>
                    <div id="memOption">
                        <a href="#">上一页</a><a href="#">下一页</a><a href="#" class="optionBack">返回</a>
                    </div>
                </div>
                <!-- works -->
                <div class="works" id="groupOptionShow3">
                    <div id="worksOption">
                        <div class="worksMainOption"><a id="articalOption" href="#">文章</a><a id="frangmentOption" href="#">小品</a>
                        </div>
                        <a id="worksFliter" href="#">筛选器</a>
                    </div>
                    <div id="worksArticals">
                        <li class="worksArticalShow">

                            <div class="artical">
                                <div class="articalBasicInfo">
                                    <img src="{{ static_url("css/image/test.png") }}" class="articAluthorImage">
                                    <a href="#" class="articalTitle">odC VOL.I chapter5</a>
                                    <a href="#" class="articalAuthor">Kyleslight</a>
                                </div>


                                <div class="articalTag">Tags：<a href="#">长篇小说</a><a href="#">odC</a><a href="#">依诺</a>
                                </div>
                                <div class="articaltime">2-14 13:18</div>
                            </div>
                        </li>
                        <li class="worksArticalShow">
                            <div class="artical">
                                <div class="articalBasicInfo">
                                    <img src="{{ static_url("css/image/test7.jpg") }}" class="articAluthorImage">
                                    <a href="#" class="articalTitle">Ubuntu下使用MentoHUST代替锐捷认证上网</a>
                                    <a href="#" class="articalAuthor">Longerhead</a>
                                </div>


                                <div class="articalTag">Tags：
                                    <a href="#">泛科技</a>
                                    <a href="#">Linux</a>
                                    <a href="#">MentoHust</a>
                                    <a href="#">Ubuntu</a>
                                    <a href="#">锐捷安装失败</a>
                                    <a href="#">认证客户端</a>
                                    <a href="#">校园网</a>
                                </div>
                                <div class="articaltime">2-12 18:27</div>
                            </div>
                        </li>
                    </div>
                    <div class="articalDirectionOption"><a href="#">上一页</a><a href="#">下一页</a><a href="#" class="optionBack">返回</a>
                    </div>
                </div>
                <div class="latestTopic" id="groupOptionShow4">
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <li class="latestTopicList">
                        <img class="latestTopicMemImg" src="{{ static_url("css/image/forumTest.jpg") }}">
                        <span class="latestTopicTitle">梧桐项目部署</span>
                        <div class="latestTopicBasic">
                            <span class="latestTopicAuthor">Kyleslight</span>
                            <span class="latestTopicTime">2-2 13:24</span>
                        </div>
                    </li>
                    <div id="latestTopicOption"><a href="#" id="latestTopicUnfold">展开前6条</a>  <a href="#" id="latestTopicBack" class="optionBack">返回</a>
                    </div>
                </div>

            </div>
            <div id="communicationWrapOuter">
                <div id="messageTemp">
                </div>
                <div id="communicationWrap">
                    <div id="communicationBackgroud">
                        <form id="communicationData" method="post">
                            <a href="#" id="changeSendState">切换至话题模式</a>
                            <div class="chatSend">
                                <div class="normalChatSend">
                                    <textarea id="chatData" class="input" type="text" name="chatConData" placeholder=""></textarea>
                                    <a href="#" id="chatSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~">发送</a>
                                </div>
                                <div class="expandChatSend">
                                    <textarea id="expandChatData" class="input" type="text" name="expandChatData" placeholder=""></textarea>
                                    <a href="#" id="expandChatSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~">发送</a>
                                </div>
                            </div>
                            <div class="topicSend">
                                <input id="topicTitle" class="input" type="text" name="topicTitle" placeholder="话题标题" />
                                <a href="#" id="topicSubmitButton" class="formButton" name="submitButton" value="发送" title="用ctrl+enter组合键也是可以的哦~(发送话题)">发送</a>
                                <textarea id="topicData" class="input" type="text" name="topicData" placeholder=""></textarea>
                            </div>
                        </form>
                        <div id="communicationConWrap">
                            <div class="communication" id="communication">
                                <li id="testTopic" class="topicOutter">
                                    <a class="userImage" href='#'><img src='#'/></a>
                                    <div class='talkMain'>
                                        <div class="talkAction"><a class='userName' href='#'>Kyleslight</a> 发起了话题 <span class='talkTitle'>
                                            <a href="groupTest.html" target="_blank">这是一个测试用的话题</a>
                                        </span></div>
                                        <div class='timeShow'>
                                            --:--
                                        </div>
                                        <div class='topicTalkContent'>
                                            这是一个测试用的话题这是一个测试用的话题这是一个测试用的话题这是一个测试用的话题...
                                        </div>
                                    </div>

                                </li>
                                <li id='groupWelcomeChat' class="chat">
                                    <a class="userImage" href='#'><img src='#'/></a>
                                    <div class='talkMain'>
                                        <div class='userName'><a href='#'>Kyleslight</a></div>
                                        <div class='timeShow'>
                                            --:--
                                        </div>
                                        <div class='talkContent'>
                                            <br/>
                                            首先欢迎来到梧桐小组<br/><br/>
                                            能在第一页看到这条消息，这代表着这个小组应该还刚刚创建。这样一条消息是为或许是第一次使用梧桐小组，或许是初创立新小组的你准备的，用来帮助你更好地使用梧桐小组。它不能被编辑，也不能被回复。<br/><br/>
                                            小组是梧桐为方便共同兴趣爱好者交流的平台。在这里，你可以与志同道合者通过即时消息互相沟通，也可以通过创建话题的形式更有效更有针对性地进行讨论，同时又不妨碍到其他人的话题。<br/>要了解更多有关小组即时消息与话题的构架，请参考我们的<a href="#"> 梧桐指南 </a><br/><br/>如果你是来到小组的新人，可以通过<a href="#"> 快速了解小组 </a>来了解小组的概况与基本使用。
                                            <br/><br/>
                                            了解<a href="#"> 梧桐规则 </a>有助于你更好地使用它同时也方便小组的其他成员。

                                            <br/><br/>
                                            嗯，那么就开始一段在梧桐小组的难忘旅程吧 : )<br/><br/>
                                        </div>
                                    </div>

                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
                <p class="f1">&nbsp;&nbsp;&nbsp;&copy; 2013&nbsp;&nbsp;<a href="http://www.sicun.org/">Sicun Studio</a></p>
    </div>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8">window.UEDITOR_HOME_URL = "{{ static_url("ueditor/")}}";</script>-->
    <script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/group.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/header.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/shCore.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/allhl.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("ueditor/ueditor.config.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("ueditor/ueditor.all.min.js") }}"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        // textarea: '#topicData';
        editor.render('topicData');

        var smallerEditor = new UE.ui.Editor({ toolbars:[['Paragraph','RowSpacing','FontFamily','FontSize']],initialFrameWidth:769,pasteplain:true});
            
        smallerEditor.render('expandChatData');
    </script>
</body>

</html>
