{% extends "base_hl.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ static_url("css/home.css") }}" type="text/css" />
{% end %}
{% block extra_div %}
    <div class="mainView">
        <div class="banner">梧 桐</div>
        <div class="quickButtonWrap">
            <a class="quickButton" id="quickBrowse" href="/a/browse">浏 览</a>
            <a class="quickButton" id="quickCreate" href="/a/create">创 作</a>
            <a class="quickButton" id="quickGroup" href="/g/browse">小 组</a>
        </div>
        <div id="mainSearchBox">
            <form id="searchData" action="/search" name="searchData" target="_blank">
                <input name="keyWord" type="text" class="input" id="keyWord" autocomplete="off" accesskey="s" placeholder="寻找作品，成员，小组，按下Enter直接搜索" onkeyup="showHint(this.value)"/>
                <a href="#" type="submit" id="searchSubmitButton" class="formButton" title="开始搜索"></a>
                <div class="searchSuggestions noBorderBottom">
                </div>
            </form>
        </div>
    </div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/home.js") }}"></script>
{% end %}
