<html>
	<head>
		<title>写文章-梧桐</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta name="Keywords" content="梧桐 文章 编辑 浏览 小组 发布 日记 推荐 零碎" />
		<meta name="Description" content="梧桐文章编写平台" />

		<link rel="stylesheet" href="css/base.css" type="text/css" />
		<link rel="stylesheet" href="css/writeart.css" type="text/css" />	
		<script type="text/javascript" src="scripts/jquery-1.2.6.min.js"></script>
		<script type="text/javascript" src="scripts/writeart.js"></script>
		<link type="text/css" rel="stylesheet" href="css/shCoreDefault.css"/> 
		<script type="text/javascript" src="ueditor/ueditor.config.js"></script>
		<script type="text/javascript" src="ueditor/ueditor.all.min.js"></script>
	</head>
	<body class="body">
	<div class="header">
		<div class="navcontainer">
			<div class="navigation" id="navigation">
				<div id="nav1">
					<a href="#">Logo空缺中...</a>
				</div>
				<!--<div class="navrighton">
					
						<a href="#" onmousedown="showpart('02')" ><div class="nav" id="nav3">设置</div></a>
					
					
						<a href="#" onmousedown="showpart('01')" ><div class="nav" id="nav2">与我相关</div></a>
					
				</div>
				-->
				<div class="navrightoff">
					
						<a href="#" onmousedown="showpart('02')" ><div class="nav" id="nav3">登入</div></a>
					
					
						<a href="#" onmousedown="showpart('01')" ><div class="nav" id="nav2">注册</div></a>
					
				</div>
			</div>
		</div>
	</div>
	<h2>Wutong write</h2>
	<div class="write">
		<form id="textdata" name="textdata" action="wutongshow.php" method="post">
			标题  <input class="input" type="text" name="title" value="这里是标题" /><br/>
			描述  <input class="input" type="text" name="describe" value="这里是描述" /><br/>
			<textarea id="textArea" name="textArea" cols="100" rows="14">随便写的一点东西</textarea>
			<input name="submitButton" type="button" value="Submit" onclick="javascript:submit_form();" />
		</form>
	</div>
	<script type="text/javascript">
		var editor = new UE.ui.Editor();
		textarea:'textArea'; 
		editor.render('textArea');
	</script>

	<div class="footer" id="footer">
				<p class="f1">&nbsp;&nbsp;&nbsp;&copy; 2013&nbsp;&nbsp;<a href="http://www.sicun.org/">Sicun Studio</a></p>
	</div>
	</body>
</html>