{% extends "base_opus.html" %}
{% block extra_css %}
	<link rel="stylesheet" href="{{ static_url("css/opus.css") }}" type="text/css" />
{% end %}
{% block extra_div%}
    <div class="read">
        <div class="readMain">
            <a href="#" id="expandSideComment" accesskey="+">展开侧评</a>
            <div class="sideCommentEditBox">
                <textarea id="sideCommentEditData" placeholder="编辑侧评"></textarea>
                <div class="sideCommentEditOption"><a href="#" id="sideCommentEditBack">返回</a><a href="#" id="sideCommentEditSend">发送</a></div>
            </div>
            {% module MyModule("article.html", article=article) %}
        </div>
        <div class="opusSideCommentWrap">
            <div class="opusSideComment">
            <!-- side_comment begin -->
            <!-- side_comment end -->
            </div>
        </div>
    </div>
{% end %}
{% block extra_js %}
    <script type="text/javascript" src="{{ static_url("js/opus.js") }}"></script>
    <script type="text/javascript">
        var BCeditor = new UE.ui.Editor({toolbars: [["bold","italic","fontsize","forecolor","inserttable","link","blockquote","insertcode"]],initialFrameWidth:976,initialFrameHeight:300,autoHeightEnabled:true});
        BCeditor.render('opusCommentData');
    </script>
{% end %}
