<html>
	<head>
		<title>写文章-梧桐</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-CN" />
		<meta name="Keywords" content="梧桐 文章 编辑 浏览 小组 发布 日记 推荐 零碎" />
		<meta name="Description" content="梧桐文章编写平台" />

        <link rel="stylesheet" href='{{ static_url("css/base.css") }}' type="text/css" />
		<link rel="stylesheet" href='{{ static_url("css/writeart.css") }}' type="text/css" />
		<script type="text/javascript" src='{{ static_url("scripts/jquery-1.2.6.min.js") }}'></script>
		<script type="text/javascript" src='{{ static_url("scripts/writeart.js") }}'></script>
		<link type="text/css" rel="stylesheet" href='{{ static_url("css/shCoreDefault.css") }}'/>
		<script type="text/javascript" src='{{ static_url("ueditor/ueditor.config.js") }}'></script>
		<script type="text/javascript" src='{{ static_url("ueditor/ueditor.all.min.js") }}'></script>
	</head>
	<body class="body">
    <p>{{ result[0] }}</p>
    <p>{{ result[1] }}</p>
    <p>{{ result[2] }}</p>
	</body>
</html>