{% extends "group.html" %}
{% block extra_topic_part %}
    <span class='topicLocation'>
        <a href="/g/{{ topic['gid'] }}">返回小组 --</a>
        {% if topic['ancestor'] %}
        <a href="/t/{{ topic['ancestor']['tid'] }}">{{ topic['ancestor']['title'] }} >></a>
        {% end %}
        {% if topic['father'] %}
        <a href="/t/{{ topic['father']['tid'] }}">{{ topic['father']['title'] }} >></a>
        {% end %}
        <a href="/t/{{ topic['tid'] }}">{{ topic['title'] }}</a>
    </span>
    <li id="topic_{{ topic['tid'] }}_group_{{ topic['gid'] }}" class="topicInner">
        <a class="userImage" href="/user/{{ topic['creater'] }}">
            <img src="{{ topic['creater_avatar'] }}"/>
        </a>
        <div class='talkMain'>
            <span class="userName">
                <a href="/user/{{ topic['creater'] }}">{{ topic['creater'] }}</a>
            </span>
            <span class='timeShow'>
                {{ prettytime(topic["reply_time"]) }}
            </span>
            <!-- 如果为该话题作者 -->
            <!-- <a href="#">删除</a> -->
            <a href="#" id="collectTopic"></a>
            <div class='talkContent'>
                {% raw topic["content"] %}
            </div>
        </div>
    </li>
{% end %}
