{% extends "base_opus.html" %}
{% block extra_css %}
	<link rel="stylesheet" href="{{ static_url("css/user_home.css") }}" type="text/css" />
{% end %}
{% block extra_div%}
 <div class="userHome">
 	<div class="userHomeInner">
	 	<div class="userInfo">
	 		<div class="userBasicInfo">
	 			<div class="imageAndOtherAction">
	 				<img class="userImage" src="{{ avatarurl(user["avatar"]) }}"/>
	 				<div class="userName">{{ user['penname'] }}</div>
	 				<div class="userMotto">{{ user['motto'] }}</div>
		 			<div class="otherAction">
		 				<a href="#" id="follow">关注</a>
		 				<a href="#" id="chat">会话</a>
		 			</div>
	 			</div>
	 			<div class="userIntro">简介：<span>{{ user['intro'] }}</span></div>
	 			<div class="userPrivateInfo">
	 				私人信息：
	 				<span class="userSex">
		            {% if user["sex"] %}
		                ♂
		            {% else %}
		                ♀
		            {% end %}
		            </span>
		 			<span class="userAge">{{ user['age'] }}岁</span>
		 			<span class="userCity">{{ user['address'] }}</span>
	 			</div>
	 			<div class="userTitle">头衔：<span>站长</span></div>
	 		</div>
	 		<div class="userExtendInfo">
	 			<div class="userRegister">
	 				注册时间：<span class="userRegisterTime">{{ prettytime(user['register_date']) }}</span>
	 			</div>
	 			<div class="userEmail">
	 				邮箱：<span class="userEmailAddress">{{ user['email'] }}</span>
	 			</div>
	 			<div class="userHonourAndWarn">
	 				<div class="userHonourAndWarnFirstLine">得分与警告信息</div>
	 				<li class="userGrade">总得分：<span>3604</span></li>
	 				<li class="userReadGrade">阅历得分：<span>122</span></li>
	 				<li class="userOpusGrade">作品得分：<span>3056</span></li>
	 				<li class="userGroupGrade">小组得分：<span>304</span></li>
	 			</div>
	 		</div>
	 		<div class="followInfo">
				<div class="followOther">
					<div class="followOtherFirstLine">Ta关注了<span id="follerOtherNum">111</span>人 | <a href="#">更多</a></div>
					<div class="followOtherList followList">
						<li><a href="#"><img src="{{ static_url("avatar/random/2.jpg") }}"><br/><span>loggerhaed</span></a></li>
						<li><a href="#"><img src="{{ static_url("avatar/random/1.jpg") }}"><br/><span>loggerhaed</span></a></li>
						<li><a href="#"><img src="{{ static_url("avatar/random/2.jpg") }}"><br/><span>loggerhaed</span></a></li>
						<!-- 只列出最近8人 -->
					</div>
				</div>
				<div class="otherFollow">
					<div class="otherFollowFirstLine"><span>1111</span>人关注了Ta | <a href="#">更多</a></div>
					<div class="otherFollowList followList">
						<li><a href="#"><img src="{{ static_url("avatar/random/2.jpg") }}"><br/><span>loggerhaed</span></a></li>
						<li><a href="#"><img src="{{ static_url("avatar/random/1.jpg") }}"><br/><span>loggerhaed</span></a></li>
						<li><a href="#"><img src="{{ static_url("avatar/random/2.jpg") }}"><br/><span>loggerhaed</span></a></li>
						<!-- 只列出最近8人 -->
					</div>
				</div>
			</div>
	 	</div>
		<div class="myExtendPart">
			<div class="myOpus">
			<div class="myExtendPartFirstline"><a href="#">作品</a></div>
				<div class="myOpusList opusPart activeOpusPart">
					<a href="#" class="opusPartButton">作品列表</a>
					<li class="opusShow article">
					    <div class="opusBasicInfo">
					        <a href="#" class="opusTitle" >此间的少年</a>
					        <br/>
					        <div class="opusTime">创作时间： <span>2014-2-13</span></div>
					        <div class="opusGrade">得分： <span>9.4</span></div>
					        <div class="opusViewed">浏览：<span>1158</span></div>
					        <div class="opusCollected">收藏：<span>118</span></div>
					    </div>
					</li>
					<li class="opusShow article">
					    <div class="opusBasicInfo">
					        <a href="#" class="opusTitle" >彼间的老年</a>
					        <br/>
					        <div class="opusTime">创作时间： <span>2014-2-13</span></div>
					        <div class="opusGrade">得分： <span>9.4</span></div>
					        <div class="opusViewed">浏览：<span>1158</span></div>
					        <div class="opusCollected">收藏：<span>118</span></div>
					    </div>
					</li>
					<li class="opusShow article">
					    <div class="opusBasicInfo">
					        <a href="#" class="opusTitle" >此间的少年</a>
					        <br/>
					        <div class="opusTime">创作时间： <span>2014-2-13</span></div>
					        <div class="opusGrade">得分： <span>9.4</span></div>
					        <div class="opusViewed">浏览：<span>1158</span></div>
					        <div class="opusCollected">收藏：<span>118</span></div>
					    </div>
					</li>
					<li class="opusShow article">
					    <div class="opusBasicInfo">
					        <a href="#" class="opusTitle" >此间的少年</a>
					        <br/>
					        <div class="opusTime">创作时间： <span>2014-2-13</span></div>
					        <div class="opusGrade">得分： <span>9.4</span></div>
					        <div class="opusViewed">浏览：<span>1158</span></div>
					        <div class="opusCollected">收藏：<span>118</span></div>
					    </div>
					</li>
				</div>
				<div class="myOpusSeriesList opusPart">
					<a href="#" class="opusPartButton">作品系列列表</a>
					<li class="opusSeries" id="addOPusSeries">
					    <a href="#">点击此处添加作品系列</a>
					</li>
					<li class="opusSeries">
					    <div class="opusSeriesInfo">
					        <a href="#" class="opusSeriesTitle" ><span>镜</span> </a> 系列 <a href="#">展开</a>
					        <br/>
					        <div class="opusSeriesTime">创建时间： <span>2014-2-13</span></div>
					        <div class="opusSeriesGrade">平均得分： <span>9.4</span></div>
					        <div class="opusSeriesViewed">浏览：<span>1158</span></div>
					        <div class="opusSeriesCollected">收藏：<span>118</span></div>
					    </div>
					</li>
					<li class="opusSeries">
					    <div class="opusSeriesInfo">
					        <a href="#" class="opusSeriesTitle" ><span>镜</span> </a> 系列 <a href="#">展开</a>
					        <br/>
					        <div class="opusSeriesTime">创建时间： <span>2014-2-13</span></div>
					        <div class="opusSeriesGrade">平均得分： <span>9.4</span></div>
					        <div class="opusSeriesViewed">浏览：<span>1158</span></div>
					        <div class="opusSeriesCollected">收藏：<span>118</span></div>
					    </div>
					</li>
				</div>
				<div class="opusComment opusPart">
					<a href="#" class="opusPartButton">回复</a>
					<div class="opusCommentFirstLine"><a href="#" id="sideCommentReply" class="opusCommentButton activeOpusCommentButton">侧评回复</a><a href="#" class="opusCommentButton">底评回复</a></div>
					<div class="sideComment opusCommentPart activeOpusCommentPart">
						<div class="timeDivision">今天</div>
						<li class="sideCommentList">
							<div class="sideCommentListFirstLine">
							<a href="#" class="replyAuthor">monsterdog</a>
							<span>来自 <a href="#">此间的少年</a></span><span>1-12 20:30</span></div>
							<a href="#" class="sideCommentContent">
								“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
							</a>
						</li>
						<div class="timeDivision">本周</div>
						<li class="sideCommentList">
							<div class="sideCommentListFirstLine">
							<a href="#" class="replyAuthor">monsterdog</a>
							<span>来自 <a href="#">此间的少年</a></span><span>1-12 20:30</span></div>
							<a href="#" class="sideCommentContent">
								“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
							</a>
						</li>
					</div>
					<div class="bottomComment opusCommentPart">
						<div class="timeDivision">今天</div>
						<li class="bottomCommentList">
							<div class="bottomCommentListFirstLine">
							<a href="#" class="replyAuthor">monstercat</a>
							<span>来自 <a href="#">彼间的老年</a></span><span>1-12 20:30</span></div>
							<a href="#" class="bottomCommentContent">
								“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
							</a>
						</li>
						<div class="timeDivision">本周</div>
						<li class="bottomCommentList">
							<div class="bottomCommentListFirstLine">
							<a href="#" class="replyAuthor">monstercat</a>
							<span>来自 <a href="#">彼间的老年</a></span><span>1-12 20:30</span></div>
							<a href="#" class="bottomCommentContent">
								“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
							</a>
						</li>
					</div>
				</div>
				<div class="recentOpusView opusPart">
					<a href="#" class="opusPartButton">最近浏览</a>
					<div class="timeDivision">今天</div>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<div class="timeDivision">本周一</div>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<div class="timeDivision">上周</div>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
					<li class="recentOpusViewList">
						<a href="#" class="recentOpusViewTitle">Lolita</a>
						<span class="recentOpusViewDetail">
							by <a href="#" class="recentOpusViewAuthor">Nabokov</a>
							<span class="recentOpusViewTime">2014-2-14 15:32</span>
						</span>
					</li>
				</div>
			</div>
			<div class="myGroup">
				<div class="myExtendPartFirstline"><a href="#">小组</a></div>
				<div class="groupList groupPart">
					<a href="#" class="groupPartButton">小组列表</a>
					<a href="#" class="groupName">Test_Group_1</a>
					<a href="#" class="groupName">Test_Group_2</a>
					<a href="#" class="groupName">Test_Group_3</a>
					<a href="#" class="groupName">Test_Group_4</a>
				</div>
				<div class="groupReply groupPart">
					<a href="#" class="groupPartButton">回复</a>
					<li class="groupReplyList">
						<a href="#" class="replyAuthor">monsterdog</a>
						<a href="#" class="groupReplyListContent">
							“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
						</a>
						<span>来自 <a href="#">此间的少年</a></span> <span> 1-12 20:30</span>
					</li>
					<li class="groupReplyList">
						<a href="#" class="replyAuthor">monsterdog</a>
						<a href="#" class="groupReplyListContent">
							“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
						</a>
						<span>来自 <a href="#">此间的少年</a></span> <span> 1-12 20:30</span>
					</li>
					<li class="groupReplyList">
						<a href="#" class="replyAuthor">monsterdog</a>
						<a href="#" class="groupReplyListContent">
							“心”者，是众生之本源。一切诸法，同归于心。万法是心之异名，分为八万四千，广则无穷无尽。心生，种种法生；心灭，种种法灭。所以道：“众星皆拱北，无水不朝东。”
						</a>
						<span>来自 <a href="#">此间的少年</a></span> <span> 1-12 20:30</span>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>
{% end %}
{% block extra_js %}
	<script type="text/javascript" src="{{ static_url("js/user_home.js") }}"></script>
{% end %}
