body{
	font-family: "Microsoft YaHei";
  	margin: 0;
  	background: #FFFFFA;
}

a{
	color:black;
	text-decoration:none;
}
	

a:hover{
	color:#606811;
	text-decoration:none;
} 

p{
	color: black;
}

img{
	border: 0;
}

/*Navigation*/
.header{
	height: 77px;
	margin: 0 auto;
}
.navcontainer{
	height:71px;
	background-color:khaki;
	margin:0 auto;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.55);
}
.navigation{
	height:71px;
	background-color:khaki;
	width:1253px;
	margin:0 auto;
}
.navigation h1{
	color: white;
}
.navigation a{
	color:ForestGreen;
}

.nav{
	float: right;
	margin-right: 13px;
	width: 97px;
	height: 46px;
	padding-top: 25px;
	text-align:center;
}
.nav:hover{	
	color: white;
	background-color:#007400;
	border-bottom: solid 5px black;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#nav1{
	position: absolute;
	margin-left: 47px;
	margin-top: 7px;
	width: 292px;
	font-size: 40;
	font-weight: 900;
}

.navrightoff{

}



.footer
{
	clear:both;
	background:khaki;
	margin:0 auto;
	margin-top: 2px;
	line-height:30px;
}

.footer a{
	color: ForestGreen;
}

.footer a:hover{
	color: DarkGreen;
}

.f1
{
	margin:0 auto;
	color:black;
	width:1253px;
	text-align:center;
}